In [1]:
import pymongo

In [2]:
mc = pymongo.MongoClient()

In [3]:
survivor_db = mc['survivor_database']

In [4]:
season_collection = survivor_db['season_collection']
player_collection = survivor_db['player_collection']

In [6]:
seasons = [['Borneo', 2, False, 16, False, 2, False, False, False],
           ['The Australian Outback', 2, False, 16, False, 2, False, False, False],
           ['Africa', 3, True, 16, False, 2, False, False, False],
           ['Marquesas', 2, True, 16, False, 2, False, False, False],
           ['Thailand', 2, False, 16, False, 2, False, False, False],
           ['The Amazon', 2, True, 16, False, 2, False, False, False],
           ['Pearl Islands', 2, False, 16, False, 2, False, False, True],
           ['All-Stars', 3, True, 18, True, 2, False, False, False],
           ['Vanuatu', 2, True, 18, False, 2, False, False, False],
           ['Palau', 2, False, 20, False, 2, False, False, False],
           ['Guatemala', 2, True, 18, True, 2, True, False, False],
           ['Panama', 4, True, 16, False, 2, True, False, False],
           ['Cook Islands', 4, True, 20, False, 3, True, False, False],
           ['Fiji', 2, True, 19, False, 3, True, False, False],
           ['China', 2, True, 16, False, 3, True, False, False],
           ['Micronesia - Fans v Favorites', 2, True, 20, True, 2, True, False, False],
           ['Gabon', 2, True, 18, False, 3, True, False, False],
           ['Tocantins', 2, False, 16, False, 2, True, False, False],
           ['Samoa', 2, False, 20, False, 3, True, False, False],
           ['Heroes vs. Villians', 2, False, 20, True, 3, True, False, False],
           ['Nicaragua', 2, True, 20, False, 3, True, False, False],
           ['Redemption Island', 2, False, 18, True, 3, True, False, True],
           ['South Pacific', 2, False, 18, False, 3, True, False, True],
           ['One World', 2, True, 18, False, 3, True, False, False],
           ['Philippines', 3, True, 18, True, 3, True, False, False],
           ['Caramoan', 2, True, 20, True, 3, True, False, False],
           ['Blood vs. Water', 2, True, 20, True, 3, True, False, True],
           ['Cagayan', 3, True, 18, False, 2, True, False, False],
           ['San Juan del Sur', 2, True, 18, False, 3, True, False, False],
           ['Worlds Apart', 3, True, 18, False, 3, True, False, False],
           ['Cambodia', 2, True, 20, True, 3, True, False, False],
           ['Kaoh Rong', 3, True, 18, False, 3, True, False, False],
           ['Millennials vs. Gen X', 2, True, 20, False, 3, True, False, False],
           ['Game Changers', 2, True, 20, True, 3, True, False, False],
           ['Heroes vs. Healers vs. Hustlers', 3, True, 18, False, 3, True, True, False],
           ['Ghost Island', 2, True, 20, False, 2, True, True, False],
           ['David vs. Goliath', 2, True, 20, False, 3, True, True, False],
           ['Edge of Extinction', 2, True, 18, True, 3, True, True, True]]

In [8]:
for season in seasons:
    keys = ['name', 'num_initial_tribes', 'swap', 'num_players', 'returnee', 'num_finalist', 'hidden_immunity', 'final_four_fire', 're_entrance']
    season_dict = dict(zip(keys, seasons[0]))
    season_collection.insert_one(season_dict)

In [9]:
season_collection.find_one()

{'_id': ObjectId('5daa54594d091032c272ecf0'),
 'name': 'Borneo',
 'num_initial_tribes': 2,
 'swap': False,
 'num_players': 16,
 'returnee': False,
 'num_finalist': 2,
 'hidden_immunity': False,
 'final_four_fire': False,
 're_entrance': False}

I am including race as part of the player descriptions as there is much discussion in the community that race may play some role in elimination order implicity. One thing I want to look at in the future, is this statistially true. Note that I am not a race expert and have not extensively researched every player. They may be mis-categorized for this reason.

I will be simplifying occupation titles for future exploration of this feature. Ex. Marketing Director and Marketing Manager are both Marketing.

I will also simplify location to state

In [17]:
players = [['Reem Daly', 46, 38, 16, 'Sales', 'Virginia', 'F', 'Caucasian', False],
           ['Keith Sowell', 19, 38, 18, 'Student', 'North Carolina', 'M', 'Black', False],
           ['Aubry Bracco', 32, 38, 15, 'Marketing', 'California', 'F', 'Caucasian', True],
           ['Wendy Diaz', 25, 38, 17, 'Entrepreneur', 'California', 'F', 'Latinx', False],
           ['Joe Anglim', 29, 38, 14, 'Artist', 'Utah', 'M', 'Caucasian', True],
           ['Eric Hafemann', 34, 38, 13, 'Firefighter', 'California', 'M', 'Caucasian', False],
           ['Julia Carter', 25, 38, 12, 'Medical Student', 'Maryland', 'F', 'Black', False],
           ['David Wright', 44, 38, 11, 'Writer', 'California', 'M', 'Caucasian', True],
           ['Kelley Wentworth', 32, 38, 10, 'Marketing', 'Washington', 'F', 'Caucasian', True],
           ['Dan "Wardog" DaSilva', 38, 38, 9, 'Law Student', 'California', 'M', 'Caucasian', False],
           ['Ron Clark', 45, 38, 8,'Teacher', 'Georgia', 'M', 'Caucasian', False],
           ['Aurora McCreary', 32, 38, 7, 'Lawyer', 'Florida', 'F', 'Caucasian', False],
           ['Victoria Baamonde', 23, 38, 6, 'Waiter', 'New York', 'F', 'Caucasian', False],
           ["Lauren O'Connell", 21, 38, 5, 'Student', 'Texas', 'F', 'Caucasian', False],
           ['Rick Devens', 33, 38, 4, 'News Anchor', 'Georgia', 'M', 'Caucasian', False],
           ['Julie Rosenberg', 46, 38, 3, 'Entrepreneur', 'New York', 'F', 'Caucasian', False],
           ['Gavin Whitson', 23, 38, 2, 'Program Director', 'Tennessee', 'M', 'Caucasian', False],
           ['Chris Underwood', 25, 38, 1, 'Sales', 'South Carolina', 'M', 'Caucasian', False],
           ['Pat Cusack', 25, 37, 20, 'Manager', 'New York', 'M', 'Caucasian', False],
           ['Jessica Peet', 19, 37, 19, 'Waiter', 'Florida', 'F', 'Caucasian', False],
           ['Jeremy Crawford', 40, 37, 18, 'Lawyer', 'New York', 'M', 'Black', False],
           ['Bi Nguyen', 28, 37, 17, 'Pro Athlete', 'Texas', 'F', 'Asian', False],
           ['Natalia Azoqa', 26, 37, 16, 'Engineer', 'California', 'F', 'Caucasian', False],
           ['Natalie Cole', 57, 37, 15, 'CEO', 'California', 'F', 'Black', False],
           ['Lyrsa Torres', 36, 37, 14, 'Chef', 'Massachusetts', 'F', 'Latinx', False],
           ['Elizabeth Olson', 31, 37, 13, 'Kitchen Staff', 'Texas', 'F', 'Caucasian', False],
           ['John Hennigan', 38, 37, 12, 'Pro Athlete', 'California', 'M','Caucasian', False],
           ['Dan Rengering', 28, 37, 11, 'Police', 'Florida', 'M', 'Caucasian', False],
           ['Alec Merlino', 24, 37, 10, 'Bartender', 'California', 'M', 'Caucasian', False],
           ['Carl Boudreaux', 41, 37, 9, 'Truck Driver', 'Texas', 'M', 'Black', False],
           ['Gabby Pascuzzi', 25, 37, 8, 'Tech', 'Colorado', 'F', 'Caucasian', False],
           ['Christian Hubicki', 32, 37, 7, 'Robotics', 'Florida', 'M', 'Caucasian', False],
           ['Davie Rickenbacker', 30, 37, 6, 'Social Media', 'Georiga', 'M', 'Black', False],
           ['Alison Raybould', 28, 37, 5, 'Physician', 'North Carolina', 'F', 'Caucasian', False],
           ['Kara Kay', 30, 37, 4, 'Real Estate', 'California', 'F', 'Caucasian', False],
           ['Angelina Keeley', 28, 37, 3, 'Finance', 'California', 'F', 'Latinx', False],
           ['Mike White', 47, 37, 2, 'Writer', 'California', 'M', 'Caucasian', False],
           ['Nick Wilson', 27, 37, 1, 'Lawyer', 'Kentucky', 'M','Caucasian', False],
           ['Stephanie Gonzalez', 26, 36, 20, 'Sales', 'Florida', 'F', 'Latinx', False],
           ['Jacob Derwin', 22, 36, 19, 'Teacher', 'New York', 'M', 'Caucasian', False],
           ['Morgan Ricke', 29, 36, 18, 'Animal Trainer', 'Florida', 'F', 'Caucasian', False],
           ['Brendon Shapiro', 40, 36, 17, 'Teacher', 'Virginia', 'M', 'Caucasian', False],
           ['Stephanie Johnson', 34, 36, 16, 'Fitness', 'Illinois', 'F', 'Caucasian', False],
           ['James Lim', 24, 36, 15, 'Business', 'New York', 'M', 'Asian', False],
           ['Bradley Kleihege', 26, 36, 14, 'Law Student', 'California', 'M', 'Caucasian', False],
           ['Chris Noble', 27, 36, 13, 'Model', 'New York', 'M', 'Caucasian', False],
           ['Libby Vineck', 24, 36, 12, 'Social Media', 'Texas', 'F', 'Caucasian', False],
           ['Desiree Afuye', 21, 36, 11, 'Student', 'New York', 'F', 'Black', False],
           ['Jenna Bowman', 23, 36, 10, 'Marketing', 'California', 'F', 'Caucasian', False],
           ['Michael Yerger', 18, 36, 9,'Real Estate', 'California', 'M', 'Caucasian', False],
           ['Chelsea Townsend', 25, 36, 8, 'Cheerleader', 'California', 'F', 'Caucasian', False],
           ['Kellyn Bechtold', 30, 36, 7, 'Career Counselor', 'Colorado', 'F', 'Caucasian', False],
           ['Sebastian Noel', 22, 36, 6, 'Fisher', 'Florida', 'M', 'Caucasian', False],
           ['Donathan Hurley', 25, 36, 5, 'Caretaker', 'Kentucky', 'M', 'Caucasian', False],
           ['Angela Perkins', 42, 36, 4, 'Veteran', 'Ohio', 'F', 'Caucasian', False],
           ['Laurel Johnson', 28, 36, 3, 'Finance', 'Minnesota', 'F', 'Black', False],
           ['Domenick Abbate', 38, 36, 2, 'Construction', 'New York', 'M', 'Caucasian', False],
           ['Wendell Holland', 33, 36, 1, 'Entrepreneur', 'Pennsylvania', 'M','Black', False],
           ['Katrina Radke', 46, 35, 18, 'Pro Athlete', 'Minnesota', 'F','Caucasian', False],
           ['Simone Nquyen', 25, 35, 17, 'Advocate', 'New York', 'F', 'Asian', False],
           ['Patrick Bolton', 24, 35, 16, 'Entrepreneur', 'Alabama', 'M', 'Caucasian', False],
           ['Alan Ball', 32, 35, 15, 'Pro Athlete', 'Texas', 'M', 'Black', False],
           ['Roark Luskin', 27, 35, 14, 'Social Worker', 'California', 'F', 'Caucasian', False],
           ['Ali Elliott', 24, 35, 13, 'Assistant', 'California', 'F', 'Black', False],
           ['Jessica Johnston', 29, 35, 12, 'Nurse', 'Kentucky', 'F', 'Caucasian', False],
           ['Desi Williams', 27, 35, 11, 'Physical Therapist', 'Virginia', 'F', 'Black', False],
           ['Cole Medders', 24, 35, 10, 'Wilderness Guide', 'Arkansas', 'M','Caucasian', False],
           ['JP Hilsabeck', 28, 35, 9, 'Firefighter', 'California', 'M','Caucasian', False],
           ['Joe Mena', 34, 35, 8, 'Police', 'Connecticut', 'M', 'Caucasian', False],
           ['Lauren Rimmer', 35, 35, 7, 'Fisher', 'North Carolina', 'F', 'Caucasian', False],
           ['Ashley Nolan', 26, 35, 6, 'Lifeguard', 'Florida', 'F', 'Caucasian', False],
           ['Mike Zahalsky', 43, 35, 5, 'Physician', 'Florida', 'M', 'Caucasian', False],
           ['Devon Pinto', 23, 35, 4, 'Surfer', 'California', 'M', 'Caucasian', False],
           ['Ryan Ulrich', 23, 35, 3, 'Bellhop', 'New Jersey', 'M', 'Caucasian', False],
           ['Chrissy Hofbeck', 46, 35, 2, 'Actuary', 'New Jersey', 'F', 'Caucasian', False],
           ['Ben Driebergen', 34, 35, 1, 'Veteran', 'Idaho', 'M', 'Caucasian', False],
           ['Ciera Eastin', 27, 34, 20, 'Esthetician', 'Oregon', 'F', 'Caucasian', True],
           ['Tony Vlachos', 42, 34, 19, 'Police', 'New Jersey', 'M', 'Caucasian', True],
           ['Caleb Reynolds', 28, 34, 18, 'Veteran', 'Kentucky', 'M', 'Caucasian', True],
           ['Malcolm Freberg', 29, 34, 17, 'Bartender', 'California', 'M', 'Caucasian', True],
           ['JT Thomas', 31, 34, 16, 'Farmer', 'Alabama', 'M', 'Caucasian', True],
           ['Sandra Diaz-Twine', 41, 34, 15, 'Military Spouse', 'North Carolina', 'F', 'Latinx', True],
           ['Jeff Varner', 50, 34, 14, 'Real Estate', 'North Carolina', 'M', 'Caucasian', True],
           ['Hali Ford', 26, 34, 13, 'Lawyer', 'Tennessee', 'F', 'Caucasian', True],
           ['Ozzy Lusth', 34, 34, 12, 'Surfer', 'California', 'M', 'Latinx', True],
           ['Debbie Wanner', 51, 34, 11, 'Chemist', 'Pennsylvania', 'F', 'Black', True],
           ['Zeke Smith', 28, 34, 10, 'Manager', 'New York', 'M', 'Caucasian', True],
           ['Sierra Dawn Thomas', 29, 34, 9, 'Rancher', 'Utah', 'F', 'Caucasian', True],
           ['Andrea Boehlke', 27, 34, 8, 'News Anchor', 'New York', 'F', 'Caucasian', True],
           ['Michaela Bradshaw', 25, 34, 7, 'Sales', 'Texas', 'F','Black', True],
           ['Cirie Fields', 45, 34, 6, 'Nurse', 'Connecticut', 'F', 'Black', True],
           ['Aubry Bracco', 30, 34, 5, 'Social Media', 'Massachusetts', 'F', 'Caucasian', True],
           ['Tai Trang', 52, 34, 4, 'Farmer', 'California', 'M', 'Asian', True],
           ['Troyzan Robertson', 54, 34, 3, 'Photographer', 'Florida', 'M', 'Caucasian', True],
           ['Brad Culpepper', 47, 34, 2, 'Pro Athlete', 'Florida', 'M', 'Caucasian', True],
           ['Sarah Lacina', 32, 34, 1, 'Police', 'Iowa', 'F', 'Caucasian', True],
           ['Rachel Ako', 37, 33, 20, 'Recruiter', 'California', 'F', 'Asian', False],
           ['Mari Takahashi', 31, 33, 19, 'Video Gamer', 'California', 'F', 'Asian', False],
           ['Paul Wachter', 52, 33, 18, 'Mechanic', 'Florida', 'M', 'Caucasian', False],
           ['Lucy Huang', 42, 33, 17, 'Nutritionist', 'California', 'F', 'Asian', False],
           ]

In [22]:
('CeCe Taylor', 39, 33, 16, 'Insurance', 'California', 'F', 'Black', False);
('Figgy Figueroa', 23, 33, 15, 'Bartender', 'Tennessee', 'F', 'Latinx', False);
('Michaela Bradshaw', 25, 33, 14, 'Sales', 'Texas', 'F', 'Black', False);
                    ('Michelle Schubert', 28, 33, 13, 'Missionary', 'Washington', 'F', 'Caucasian', False);
                    ('Taylor Lee Stocker', 24, 33, 12, 'Snowboarder', 'Idaho', 'M', 'Caucasian', False);
                    ('Chris Hammons', 38, 33, 11, 'Lawyer', 'Oklahoma', 'M', 'Caucasian', False);
                    ('Jessica Lewis', 37, 33, 10, 'Lawyer', 'New York', 'F', 'Caucasian', False);
                    ('Zeke Smith', 28, 33, 9, 'Manager', 'New York', 'M', 'Caucasian', False);
                    ('Will Wahl', 18, 33, 8, 'Student', 'New Jersey', 'M', 'Caucasian', False);
                    ('Sunday Bruquest', 45, 33, 7, 'Pastor', 'Minnesota', 'F', 'Caucasian', False);
                    ('Jay Starrett', 27, 33, 6, 'Real Estate', 'Florida', 'M', 'Caucasian', False);
                    ('Bret LaBelle', 42, 33, 5, 'Police', 'Massachusetts', 'M', 'Caucasian', False);
                    ('David Wright', 42, 33, 4, 'Writer', 'California', 'M', 'Caucasian', False);
                    ('Hannah Shapiro', 24, 33, 2, 'Barista', 'California', 'F', 'Caucasian', False);
                    ('Ken McNickle', 38, 33, 2, 'Model', 'Colorado', 'M', 'Caucasian', False);
                    ('Adam Klein', 25, 33, 1, 'Nonprofit', 'California', 'M', 'Caucasian', False);
                    ('Darnell Hamilton', 27, 32, 18, 'Mailman', 'Illinois', 'M', 'Black', False);
                    ('Jennifer Lanzetti', 38, 32, 17, 'Construction', 'Utah', 'F', 'Caucasian', False);
                    ('Liz Markham', 27, 32, 16, 'Computer Scientist', 'New York', 'F','Caucasian', False);
                    ('Caleb Reynolds', 27, 32, 15, 'Veteran', 'Kentucky', 'M', 'Caucasian', False);
                    ('Alecia Holden', 24, 32, 14, 'Real Estate', 'Texas', 'F', 'Caucasian', False);
                    ('Anna Khait', 26, 32, 13, 'Poker Player', 'New York', 'F', 'Caucasian', False);
                    ('Peter Baggenstos', 34, 32, 12, 'Physician', 'Minnesota', 'M', 'Black', False);
                    ('Neal Gottlieb', 38, 32, 11, 'Entrepreneur', 'California', 'M', 'Caucasian', False);
                    ('Nick Maiorano', 30, 32, 10, 'Fitness', 'California', 'M', 'Caucasian', False);
                    ('Debbie Wanner', 49, 32, 9, 'Chemist', 'Pennsylvania', 'F', 'Caucasian', False);
                    ('Scot Pollard', 40, 32, 8, 'Pro Athlete', 'Indiana', 'M', 'Caucasian', False)
                    ('Julia Sokolowski', 18, 32, 7, 'Student', 'Massachusetts', 'F', 'Caucasian', False);
                    ('Kyle Jason', 31, 32, 6, 'Bounty Hunter', 'Michigan', 'M', 'Caucasian', False);
                    ('Joe Del Campo', 72, 32, 5, 'FBI', 'Florida', 'M', 'Caucasian', False);
                    ('Cydney Gillon', 22, 32, 4, 'Pro Athlete', 'Georgia', 'F', 'Black', False);
                    ('Tai Trang', 51, 32, 3, 'Farmer', 'California', 'M', 'Caucasian', False);
                    ('Aubry Bracco', 29, 32, 2, 'Social Media', 'Massachusetts', 'F', 'Caucasian', False);
                    ('Michele Fitzgerald', 24, 32, 1, 'Bartender', 'New Jersey', 'F', 'Caucasian', False);
                    ('Vytas Baskauskas', 35, 31, 20, 'Fitness', 'California', 'M', 'Caucasian', True);
                    ('Shirin Oskooi', 32, 31, 19, 'Tech Executive', 'California', 'F', 'Asian', True);
                    ('Peih-Gee Law', 37, 31, 18, 'Entrepreneur', 'California', 'F', 'Asian', True);
                    ('Jeff Varner', 49, 31, 17, 'Real Estate', 'North Carolina', 'M', 'Caucasian', True);
                    ('Monica Padilla', 30, 31, 16, 'Lawyer', 'New York', 'F', 'Latinx', True);
                    ('Terry Deitz', 55, 31, 15, 'Pilot', 'Connecticut', 'M', 'Caucasian', True);
                    ('Woo Hwang', 31, 31, 14, 'Fitness', 'California', 'M', 'Asian', True);
                    ('Kass McQuillen', 43, 31, 13, 'Lawyer', 'California', 'F', 'Caucasian', True);
                    ('Andrew Savage', 51, 31, 12, 'Lawyer', 'California', 'M', 'Caucasian', True);
                    ('Kelly Wiglesworth', 37, 31, 11, 'Fitness', 'North Carolina', 'F','Caucasian', True);
                    ('Ciera Eastin', 26, 31, 10, 'Esthetician', 'Oregon', 'F', 'Caucasian', True);
                    ('Stephen Fishbach', 36, 31, 9, 'Consultant', 'New York', 'M','Caucasian', True);
                    ('Joe Anglim', 26, 31, 8, 'Artist', 'Arizona', 'M', 'Caucasian', True);
                    ('Abi-Maria Gomes', 25, 31, 7, 'Real Estate', 'California', 'F', 'Latinx', True);
                    ('Kimmi Kappenberg', 42, 31, 6, 'Bartender', 'Texas', 'F', 'Caucasian', True);
                    ('Keith Nale', 30, 31, 5, 'Firefighter', 'Louisiana', 'M', 'Caucasian', True);
                    ('Kelley Wentworth', 29, 31, 4, 'Marketing', 'Washington', 'F', 'Caucasian', True);
                    ('Spencer Bledsoe', 22, 31, 2, 'Economics', 'Illinois', 'M', 'Caucasian', True);
                    ('Tasha Fox', 38, 31, 2, 'Accountant', 'Missouri', 'F', 'Caucasian', True);
                    ('Jeremy Collins', 37, 31, 1, 'Firefighter', 'Massachusetts', 'M', 'Black', True);
                    ('So Kim', 31, 30, 18, 'Buyer', 'California', 'F', 'Asian', False);
                    ('Vince Sly', 32, 30, 17, 'Entrepreneur', 'California', 'M', 'Caucasian', False);
                    ('Nina Poersch', 51, 30, 16, 'Advocate', 'California', 'F', 'Asian', False);
                    ('Lindsey Cascaddan', 24, 30, 15, 'Hair Stylist', 'Florida', 'F', 'Caucasian', False);
                    ('Max Dawson', 37, 30, 14, 'Consultant', 'California', 'M', 'Caucasian', False);
                    ('Joaquin Souberbielle', 27, 30, 13, 'Marketing', 'New York', 'M', 'Caucasian', False);
                    ('Kelly Remington', 44, 30, 12, 'Police', 'New York', 'F', 'Caucasian', False);
                    ('Hali Ford', 25, 30, 11, 'Law Student', 'California', 'F', 'Caucasian', False);
                    ('Joe Anglim', 25, 30, 10, 'Artist', 'Arizona', 'M', 'Caucasian', False);
                    ('Jenn Brown', 22, 30, 9, 'Sailor', 'California', 'F', 'Caucasian', False);
                    ('Shirin Oskooi', 31, 30, 8, 'Tech Executive', 'California', 'F', 'Caucasian', False);
                    ('Tyler Fredrickson', 33, 30, 7, 'Talent Agent', 'California', 'M', 'Caucasian', False);
                    ('Dan Foley', 47, 30, 6, 'Mailman', 'Maine', 'M', 'Caucasian', False)
                    ('Sierra Dawn Thomas', 27, 30, 5, 'Rancher', 'Utah', 'F', 'Caucasian', False);
                    ('Rodney Lavoie', 24, 30, 4, 'Construction', 'Massachusetts', 'M', 'Caucasian', False);
                    ('Will Sims', 41, 30, 2, 'Viral Star', 'California', 'M', 'Black', False);
                    ('Carolyn Rivera', 52, 30, 2, 'Executive', 'Florida', 'F', 'Latinx', False);
                    ('Mike Holloway', 38, 30, 1, 'Oil Driller', 'Texas', 'M', 'Caucasian', False);

In [26]:
                    ('Nadiya Anderson', 28, 29, 18, 'Fitness', 'New Jersey', 'F', 'Asian', False);
                    ('Val Collins', 35, 29, 17, 'Police', 'Massachusetts', 'F', 'Black', False);
                    ('John Rocker', 39, 29, 16, 'Pro Athlete', 'Georgia', 'M', 'Caucasian', False);
                    ('Drew Christy', 25, 29, 15, 'Sales', 'Florida', 'M','Caucasian', False);
                    ('Kelley Wentworth', 28, 29, 14, 'Marketing', 'Washington', 'F', 'Caucasian', False);

                    ('Dale Wentworth', 55, 29, 13, 'Farmer', 'Washington', 'M', 'Caucasian', False);

                    ('Julie McGee', 34, 29, 12, 'Model', 'Georgia', 'F', 'Caucasian', False);

                    ('Josh Canfield', 32, 29, 11, 'Actor', 'New York', 'M', 'Caucasian', False);

                    ('Jeremy Collins', 36, 29, 10, 'Firefighter', 'Massachusetts', 'M', 'Black', False);
 
                    ('Wes Nale', 23, 29, 9, 'Firefighter', 'Louisiana', 'M', 'Caucasian', False);

                    ('Reed Kelly', 31, 29, 8, 'Actor', 'New York', 'M', 'Caucasian', False);

                    ('Alec Christy', 22, 29, 7, 'Student', 'Florida', 'M', 'Caucasian', False);
 
                    ('Jon Misch', 26, 29, 6, 'Finance', 'Michigan', 'M', 'Caucasian', False);
 
                    ('Baylor Wilson', 20, 29, 5, 'Student', 'Tennessee', 'F', 'Caucasian', False);

                    ('Keith Nale', 53, 29, 4, 'Firefighter', 'Louisiana', 'M', 'Caucasian', False);

                    ('Missy Payne', 47, 29, 3, 'Entrepreneur', 'Texas', 'F',
                    'Caucasian', False);

                    ('Jaclyn Schultz', 25, 29, 2, 'Buyer', 'Nevada', 'F',
                    'Caucasian', False);
 
                    ('Natalie Anderson', 28, 29, 1, 'Fitness', 'New Jersey', 'F',
                    'Asian', False);

In [27]:
                    ('David Samson', 45, 28, 18,
                    'Sports President', 'Florida', 'M',
                    'Caucasian', False);

                    ('Garrett Adelstein', 27, 28, 17,
                    'Poker Player', 'California', 'M',
                    'Caucasian', False);

                    ('Brice Johnston', 27, 28, 16,
                    'Social Worker', 'Pennsylvania', 'M',
                    'Black', False);

                    ("J'Tia Taylor", 31, 28, 15,
                    'Engineer', 'Illinois', 'F',
                    'Black', False);

                    ('Cliff Robinson', 46, 28, 14,
                    'Pro Athlete', 'New Jersey', 'M',
                    'Black', False);

                    ('Lindsey Ogle', 29, 28, 13,
                    'Hairstylist', 'Indiana', 'F',
                    'Caucasian', False);

                    ('Alexis Maxwell', 21, 28, 12,
                    'Student', 'Illinois', 'F',
                    'Caucasian', False);

                    ('Sarah Lacina', 29, 28, 11,
                    'Police', 'Iowa', 'F',
                    'Caucasian', False);

                    ('Morgan McLeod', 21, 28, 10,
                    'Cheerleader', 'California', 'F',
                    'Caucasian', False);

                    ('LJ McKanas', 34, 28, 9,
                    'Animal Trainer', 'Massachusetts', 'M',
                    'Caucasian', False);

                    ('Jeremiah Wood', 34, 28, 8,
                    'Model', 'North Carolina', 'M',
                    'Caucasian', False);

                    ('Jefra Bland', 22, 28, 7,
                    'Pageant Queen', 'Kentucky', 'F',
                    'Caucasian', False);

                    ('Tasha Fox', 37, 28, 6,
                    'Accountant', 'Missouri', 'F',
                    'Black', False);

                    ('Trish Hegarty', 48, 28, 5,
                    'Fitness', 'Massachusetts', 'F',
                    'Caucasian', False);

                    ('Spencer Bledsoe', 21, 28, 4,
                    'Student', 'Illinois', 'M',
                    'Caucasian', False);

                    ('Kass McQuillen', 41, 28, 3,
                    'Lawyer', 'California', 'F',
                    'Caucasian', False);

                    ('Woo Hwang', 29, 28, 2,
                    'Fitness', 'California', 'M',
                    'Asian', False);

                    ('Tony Vlachos', 39, 28, 1,
                    'Police', 'New Jersey', 'M',
                    'Caucasian', False);

In [28]:
                    ('Rupert Boneham', 49, 27, 20,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', TRUE);

                    ('Colton Cumbie', 22, 27, 19,
                    'Student', 'Alabama', 'M',
                    'Caucasian', TRUE);

                    ('Rachel Foulger', 33, 27, 18,
                    'Waitress', 'Utah', 'F',
                    'Caucasian', FALSE);

                    ('Marissa Peterson', 21, 27, 17,
                    'Student', 'North Carolina', 'F',
                    'Black', FALSE);

                    ('Candice (Woodcock) Cody', 30, 27, 16,
                    'Physician', 'DC', 'F',
                    'Caucasian', TRUE);

                    ('Brad Culpepper', 44, 27, 15,
                    'Pro Athlete', 'Florida', 'M',
                    'Caucasian', FALSE);

                    ('Kat Edorsson', 23, 27, 14,
                    'Student', 'Florida', 'F',
                    'Caucasian', TRUE);

                    ('John Cody', 30, 27, 13,
                    'Physician', 'DC', 'M',
                    'Caucasian', FALSE);
 
                    ('Laura Boneham', 44, 27, 12,
                    'Merchandiser', 'Indiana', 'F',
                    'Caucasian', FALSE);

                    ('Aras Baskauskas', 31, 27, 11,
                    'Musician', 'California', 'M',
                    'Caucasian', TRUE);
        
                    ('Vytas Baskauskas', 33, 27, 10,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);

                    ('Caleb Bankston', 26, 27, 9,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', FALSE);

                    ('Katie Collins', 25, 27, 8,
                    'Hedge Fund Support', 'New York', 'F',
                    'Caucasian', FALSE);

                    ('Hayden Moss', 27, 27, 6,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);

                    ('Laura Morett', 43, 27, 7,
                    'Business Owner', 'Oregon', 'F',
                    'Caucasian', TRUE);

                    ('Ciera Eastin', 24, 27, 5,
                    'Student', 'Oregon', 'F',
                    'Caucasian', FALSE);

                    ('Tina Wesson', 52, 27, 4,
                    'Motivational Speaker', 'North Carolina', 'F',
                    'Caucasian', TRUE);

                    ('Gervase Peterson', 43, 27, 3,
                    'Business Owner', 'Pennsylvania', 'M',
                    'Black', TRUE);
 
                    ('Monica Culpepper', 42, 27, 2,
                    'Homemaker', 'Florida', 'F',
                    'Caucasian', TRUE);

                    ('Tyson Apostol', 34, 27, 1,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', TRUE);

In [29]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Francesca Hogi', 38, 26, 20,
                    'Lawyer', 'New York', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Allie Pohevitz', 25, 26, 19,
                    'Bartender', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hope Driskill', 23, 26, 18,
                    'Student', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shamar Thomas', 27, 26, 17,
                    'Veteran', 'New York', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Alexander', 23, 26, 16,
                    'Administrative Officer', 'DC', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brandon Hantz', 20, 26, 15,
                    'Disposal', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Bischoff', 38, 26, 14,
                    'Sales', 'Ohio', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julia Landauer', 21, 26, 13,
                    'Pro Athlete', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Corinne Kaplan', 33, 26, 12,
                    'Consultant', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Snow', 44, 26, 11,
                    'Event Planner', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Phillip Sheppard', 54, 26, 10,
                    'CEO', 'California', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Malcolm Freberg', 25, 26, 9,
                    'Bartender', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Reynold Toepfer', 30, 26, 8,
                    'Real Estate', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrea Boehlke', 23, 26, 7,
                    'News Anchor', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brenda Lowe', 29, 26, 6,
                    'Business Owner', 'Florida', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Reichenbach', 27, 26, 5,
                    'Artist', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eddie Fox', 23, 26, 4,
                    'Firefighter', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sherri Biethman', 41, 26, 2,
                    'Business Owner', 'Idaho', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dawn Meehan', 42, 26, 2,
                    'Professor', 'Utah', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Cochran', 25, 26, 1,
                    'Law Student', 'DC', 'M',
                    'Caucasian', TRUE);
            """)

In [30]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Zane Knight', 28, 25, 18,
                    'Mechanic', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Roxy Morris', 28, 25, 17,
                    'Missionary', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angie Layton', 20, 25, 16,
                    'Model', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Russell Swan", 45, 25, 15,
                    'Lawyer', 'Pennsylvania', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dana Lambert', 32, 25, 14,
                    'Cosmetologist', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarah Dawson', 28, 25, 13,
                    'Sales', 'Maryland', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Katie Hanson', 22, 25, 12,
                    'Pageant Queen', 'Delaware', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('RC Saint-Amour', 27, 25, 11,
                    'Banker', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Kent', 44, 25, 10,
                    'Pro Athlete', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Artis Silvester', 53, 25, 9,
                    'Computer Scientist', 'Louisiana', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Pete Yurkowski', 24, 25, 8,
                    'Engineer', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Penner', 50, 25, 7,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carter Williams', 23, 25, 6,
                    'Coach', 'Kansas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Abi-Maria Gomes', 32, 25, 5,
                    'Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Malcolm Freberg', 25, 25, 4,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lisa Whelchel', 49, 25, 2,
                    'Actor', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Skupin', 50, 25, 2,
                    'Motivational Speaker', 'Michigan', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Denise Stapley', 41, 25, 1,
                    'Therapist', 'Iowa', 'F',
                    'Caucasian', FALSE);
            """)

In [31]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kourtney Moon', 29, 24, 18,
                    'Mechanic', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nina Acosta', 51, 24, 17,
                    'Police', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Quinlan', 33, 24, 16,
                    'Lawyer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Bill Posley", 28, 24, 15,
                    'Comedian', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Culpepper', 41, 24, 14,
                    'Homemaker', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colton Cumbie', 21, 24, 13,
                    'Student', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonas Otsuji', 37, 24, 12,
                    'Chef', 'Utah', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Jefferson', 30, 24, 11,
                    'Banker', 'Washington', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jay Byars', 25, 24, 10,
                    'Model', 'South Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Leif Manson', 27, 24, 9,
                    'Phlebotomist', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Troyzan Robertson', 50, 24, 8,
                    'Photographer', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kat Edorsson', 22, 24, 7,
                    'Sales', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tarzan Smith', 64, 24, 6,
                    'Physician', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alicia Rosa', 25, 24, 5,
                    'Teacher', 'Illinois', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christina Cha', 29, 24, 4,
                    'Career Coach', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chelsea Meissner', 26, 24, 3,
                    'Sales', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sabrina Thompson', 33, 24, 2,
                    'Teacher', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kim Spradlin', 29, 24, 1,
                    'Business Owner', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

In [32]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Semhar Tadesse', 24, 23, 18,
                    'Artist', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Papa Bear Caruso', 48, 23, 17,
                    'Police', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stacey Powell', 44, 23, 16,
                    'Mortician', 'Texas', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Elyse Umemoto", 27, 23, 15,
                    'Dancer', 'Nevada', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mikayla Wingle', 22, 23, 14,
                    'Model', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christine Shields-Markoski', 39, 23, 13,
                    'Teacher', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jim Rice', 35, 23, 11,
                    'Business Owner', 'Colorado', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Tollefson', 26, 23, 12,
                    'Water Treatment Tech', 'Minnesota', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dawn Meehan', 41, 23, 10,
                    'Professor', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Whitney Duncan', 27, 23, 9,
                    'Musician', 'Tennessee', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Cochran', 24, 23, 8,
                    'Law Student', 'DC', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Edna Ma', 35, 23, 7,
                    'Physician', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brandon Hantz', 19, 23, 6,
                    'Oil Tanker Crewman', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rick Nelson', 51, 23, 5,
                    'Farmer', 'Utah', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 29, 23, 4,
                    'Surfer', 'California', 'M',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Albert Destrade', 26, 23, 3,
                    'Coach', 'Florida', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 39, 23, 2,
                    'Coach', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sophie Clarke', 22, 23, 1,
                    'Medical Student', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

In [33]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Francesca Hogi', 36, 22, 18,
                    'Lawyer', 'DC', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 37, 22, 17,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kristina Kell', 46, 22, 16,
                    'Law Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Krista Klumpp", 25, 22, 15,
                    'Sales', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Valencia', 26, 22, 14,
                    'Waiter', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarita White', 36, 22, 13,
                    'Producer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Murphy', 31, 22, 12,
                    'Lawyer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie Wolfe', 50, 22, 11,
                    'Firefighter', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Steve Wright', 51, 22, 10,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ralph Kiser', 45, 22, 9,
                    'Farmer', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Grant Mattos', 29, 22, 6,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Elrod', 22, 22, 8,
                    'Student', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Chiesl', 31, 22, 7,
                    'Veteran', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrea Boehlke', 21, 22, 5,
                    'Student', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Underwood', 25, 22, 4,
                    'Nurse', 'Maine', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Tenerelli', 19, 22, 3,
                    'Dancer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Phillip Sheppard', 52, 22, 2,
                    'FBI', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 34, 22, 1,
                    'Poker Player', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

In [34]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendy Jo DeSmidt-Kohlhoff', 48, 21, 20,
                    'Farmer', 'Montant', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shannon Elkins', 30, 21, 19,
                    'Business Owner', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jimmy Johnson', 67, 21, 18,
                    'Coach', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jimmy Tarantino', 48, 21, 17,
                    'Fisher', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyrone Davis', 42, 21, 16,
                    'Firefighter', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Bruno', 26, 21, 15,
                    'Medical Student', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yve Rojas', 41, 21, 14,
                    'Homemaker', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jill Behm', 43, 21, 13,
                    'Physician', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alina Wilson', 23, 21, 12,
                    'Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marty Piombo', 48, 21, 11,
                    'Technology Executive', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brenda Lowe', 27, 21, 10,
                    'Business Owner', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('NaOnka Mixon', 25, 21, 8,
                    'Teacher', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Purple Kelly Shinn', 20, 21, 8,
                    'Student', 'Arizona', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Benry Henry', 24, 21, 7,
                    'Promoter', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jane Bright', 56, 21, 6,
                    'Animal Trainer', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Lembo', 63, 21, 5,
                    'Real Estate', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Holly Hoffman', 44, 21, 4,
                    'Coach', 'South Dakota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sash Lenahan', 30, 21, 3,
                    'Real Estate', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chase Rice', 24, 21, 2,
                    'Mechanic', 'North Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Fabio Birza', 21, 21, 1,
                    'Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

In [35]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sugar Kiper', 30, 20, 20,
                    'Model', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephenie LaGrossa', 29, 20, 19,
                    'Sales', 'Pennsylvania', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Randy Bailey', 50, 20, 18,
                    'Videographer', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 39, 20, 17,
                    'Nurse', 'New Jersey', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tom Westman', 45, 20, 16,
                    'Firefighter', 'New York', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyson Apostol', 30, 20, 15,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Clement', 32, 20, 14,
                    'Business Owner', 'Louisiana', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 33, 20, 13,
                    'Poker Player', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 37, 20, 12,
                    'Coach', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Courtney Yates', 28, 20, 11,
                    'Waiter', 'New York', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JT Thomas', 25, 20, 10,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amanda Kimmel', 25, 20, 8,
                    'Model', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candice (Woodcock) Cody', 26, 20, 8,
                    'Medical Student', 'DC', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Danielle DiLorenzo', 28, 20, 7,
                    'Sales', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rupert Boneham', 45, 20, 6,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colby Donaldson', 35, 20, 5,
                    'Actor', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jerri Manthey', 38, 20, 4,
                    'Actor', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 36, 20, 3,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Parvati Shallow', 26, 20, 2,
                    'Boxer', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandra Diaz-Twine', 35, 20, 1,
                    'Military Spouse', 'Connecticut', 'F',
                    'Latinx', TRUE);
            """)

In [36]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marisa Calihan', 26, 19, 20,
                    'Student', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Borassi', 62, 19, 19,
                    'Chef', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Betsy Bolan', 48, 19, 18,
                    'Police', 'New Hampshire', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ben Browning', 28, 19, 17,
                    'Manager', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yasmin Giles', 33, 19, 16,
                    'Hairstylist', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Trainer', 22, 19, 15,
                    'Sales', 'Minnesota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Swan', 42, 19, 14,
                    'Lawyer', 'Pennsylvania', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Liz Kim', 33, 19, 13,
                    'Lawyer', 'New York', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Cardona', 28, 19, 12,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Sharbaugh', 25, 19, 11,
                    'Hairstylist', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Morett', 39, 19, 10,
                    'Manager', 'Oregon', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Fincher', 25, 19, 9,
                    'Rocket Scientist', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dave Ball', 38, 19, 8,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Padilla', 25, 19, 7,
                    'Law Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shambo Waters', 45, 19, 6,
                    'Sales', 'Washington', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jaison Robinson', 28, 19, 5,
                    'Law Student', 'Illinois', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brett Clouser', 23, 19, 4,
                    'Designer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mick Trimming', 33, 19, 3,
                    'Physician', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 36, 19, 2,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie White', 26, 19, 1,
                    'Sales', 'Arkansas', 'F',
                    'Caucasian', FALSE);
            """)

In [37]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carolina Eastwood', 26, 18, 16,
                    'Bartender', 'California', 'F',
                    'Latinx', FALSE);
            """) 

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candace Smith', 31, 18, 15,
                    'Lawyer', 'Ohio', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jerry Sims', 49, 18, 14,
                    'Military', 'South Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandy Burgin', 53, 18, 13,
                    'Driver', 'Kentucky', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Spencer Duhm', 19, 18, 12,
                    'Student', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sydney Wheeler', 24, 18, 11,
                    'Model', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Dowdle', 26, 18, 10,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brendan Synnott', 30, 18, 9,
                    'Entrepreneur', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyson Apostol', 29, 18, 8,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sierra Reed', 23, 18, 7,
                    'Model', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Debbie Beebe', 46, 18, 6,
                    'Principal', 'Alabama', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 37, 18, 5,
                    'Coach', 'Missouri', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Taj Johnson-George', 37, 18, 4,
                    'Musician', 'Tennessee', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erin Lobdell', 26, 18, 3,
                    'Hairstylist', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephen Fishbach', 29, 18, 2,
                    'Consultant', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JT Thomas', 24, 18, 1,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

In [38]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michelle Chase', 24, 17, 18,
                    'Producer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gillian Larson', 61, 17, 17,
                    'Nurse', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Paloma Soto-Castillo', 23, 17, 16,
                    'Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jacquie Berg', 25, 17, 15,
                    'Sales', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('GC Brown', 25, 17, 14,
                    'Maintenance', 'Oregon', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Czarnecki', 22, 17, 13,
                    'Sales', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ace Gordon', 27, 17, 12,
                    'Sales', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Kay', 32, 17, 11,
                    'Lawyer', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marcus Lehman', 28, 17, 10,
                    'Physician', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Charlie Herschel', 29, 17, 9,
                    'Lawyer', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Randy Bailey', 49, 17, 8,
                    'Videographer', 'Missouri', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Corinne Kaplan', 29, 17, 7,
                    'Sales', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Crystal Cox', 29, 17, 6,
                    'Pro Athlete', 'North Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ken Hoang', 22, 17, 5,
                    'Gamer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matty Whitmore', 29, 17, 4,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sugar Kiper', 29, 17, 3,
                    'Model', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Susie Smith', 47, 17, 2,
                    'Hairstylist', 'Iowa', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bob Crowley', 57, 17, 1,
                    'Teacher', 'Maine', 'M',
                    'Caucasian', FALSE);
            """)

In [39]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonny Fairplay Dalton', 33, 16, 20,
                    'Wrestler', 'Virginia', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mary Sartain', 29, 16, 19,
                    'Business Owner', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yau-Man Chan', 55, 16, 18,
                    'Engineer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mikey B Bortone', 34, 16, 17,
                    'Actor', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joel Anderson', 32, 16, 16,
                    'Firefighter', 'Arizona', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Penner', 45, 16, 15,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chet Welch', 48, 16, 14,
                    'Customer Service', 'Pennsylvania', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kathy Sleckman', 45, 16, 13,
                    'Sales', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tracy Hughes-Wolf', 43, 16, 12,
                    'Construction', 'Virginia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ami Cusack', 34, 16, 11,
                    'Barista', 'Colorado', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eliza Orlins', 25, 16, 10,
                    'Law Student', 'New York', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 26, 16, 9,
                    'Photographer', 'California', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jason Siska', 22, 16, 8,
                    'Student', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Clement', 30, 16, 7,
                    'Business Owner', 'Louisiana', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alexis Jones', 24, 16, 6,
                    'Motivational Speaker', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Reichenbach', 22, 16, 5,
                    'Student', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Bolton', 32, 16, 4,
                    'Fitness', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 37, 16, 3,
                    'Nurse', 'Connecticut', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amanda Kimmel', 23, 16, 2,
                    'Model', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Parvati Shallow', 25, 16, 1,
                    'Boxer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

In [40]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chicken Morris', 47, 15, 16,
                    'Farmer', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """) 

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Massaro', 28, 15, 15,
                    'Wrestler', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Leslie Nease', 38, 15, 14,
                    'Radio Host', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dave Cruser', 37, 15, 13,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aaron Reisberger', 32, 15, 12,
                    'Surf Instructor', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sherea Lloyd', 26, 15, 11,
                    'Teacher', 'Georgia', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jaime Dugan', 22, 15, 10,
                    'Student', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jean-Robert Bellande', 36, 15, 9,
                    'Poker Player', 'Nevada', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Frosti Zernow', 20, 15, 8,
                    'Student', 'Illinois', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Clement', 30, 15, 7,
                    'Business Owner', 'Louisiana', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Huffman', 26, 15, 6,
                    'Musician', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Peih-Gee Law', 29, 15, 5,
                    'Business Owner', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Denise Martin', 40, 15, 4,
                    'Lunch Lady', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amanda Kimmel', 22, 15, 3,
                    'Hiking Guide', 'Montana', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Courtney Yates', 26, 15, 2,
                    'Waiter', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Todd Herzog', 22, 15, 1,
                    'Flight Attendant', 'Utah', 'M',
                    'Caucasian', FALSE);
            """)

In [41]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica DeBen', 27, 14, 19,
                    'Stylist', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erica Durousseau', 27, 14, 18,
                    'Youth Director', 'Louisiana', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sylvia Kwon', 52, 14, 17,
                    'Architect', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gary Stritesky', 55, 14, 16,
                    'Bus Driver', 'Minnesota', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Liliana Gomez', 25, 14, 15,
                    'Mortgage Loan Officer', 'California', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rita Verreos', 38, 14, 14,
                    'Pageant Coach', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Anthony Robinson', 32, 14, 13,
                    'Legal Support', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rocky Reid', 28, 14, 12,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lisi Linares', 36, 14, 11,
                    'Customer Service', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michelle Yi', 23, 14, 10,
                    'Student', 'Ohio', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Edgardo Rivera', 28, 14, 9,
                    'Advertisting', 'Florida', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mookie Lee', 25, 14, 8,
                    'Loan Manager', 'Illinois', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alex Angarita', 28, 14, 7,
                    'Lawyer', 'California', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stacy Kimball', 27, 14, 6,
                    'Advertisting', 'Colorado', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Boo Bernis', 34, 14, 5,
                    'Construction', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yau-Man Chan', 54, 14, 4,
                    'Engineer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dreamz Herd', 37, 14, 2,
                    'Coach', 'North Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cassandra Franklin', 42, 14, 2,
                    'Civil Engineer', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Earl Cole', 35, 14, 1,
                    'Advertisting', 'California', 'M',
                    'Black', FALSE);
            """)

In [42]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sekou Bunch', 45, 13, 20,
                    'Musician', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Billy Garcia', 36, 13, 19,
                    'Musician', 'New York', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cecilia Mansilla', 29, 13, 18,
                    'Risk Consultant', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JP Calderon', 30, 13, 17,
                    'Coach', 'California', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephannie Favor', 35, 13, 16,
                    'Veteran', 'South Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cao Boi Bui', 42, 13, 15,
                    'Manager', 'Virginia', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cristina Coria', 35, 13, 14,
                    'Police', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica Smith', 27, 13, 13,
                    'Roller Girl', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brad Virata', 29, 13, 12,
                    'Designer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rebecca Borman', 34, 13, 11,
                    'Makeup Artist', 'New York', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenny Guzon-Bae', 36, 13, 10,
                    'Real Estate', 'Illinois', 'F',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nate Gonzalez', 26, 13, 9,
                    'Sales', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candice (Woodcock) Cody', 23, 13, 8,
                    'Student', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Penner', 44, 13, 7,
                    'Writer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Parvati Shallow', 23, 13, 6,
                    'Boxer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Adam Gentry', 28, 13, 5,
                    'Sales', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sundra Oakley', 31, 13, 4,
                    'Waiter', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Becky Lee', 28, 13, 3,
                    'Lawyer', 'DC', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 24, 13, 2,
                    'Waiter', 'California', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yul Kwon', 31, 13, 1,
                    'Consultant', 'California', 'M',
                    'Asian', FALSE);
            """)

In [43]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tina Scheer', 44, 12, 16,
                    'Lumberjack', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """) 

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Melinda Hyder', 32, 12, 15,
                    'Musician', 'Tennessee', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Misty Giles', 24, 12, 14,
                    'Engineer', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ruth-Marie Milliman', 48, 12, 13,
                    'Shopping Center Director', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bobby Mason', 32, 12, 12,
                    'Lawyer', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Barry', 51, 12, 11,
                    'Astronaut', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nick Stanbury', 25, 12, 10,
                    'Waiter', 'Arizona', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Austin Carty', 24, 12, 9,
                    'Author', 'North Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sally Schumann', 27, 12, 8,
                    'Social Worker', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bruce Kanegai', 57, 12, 7,
                    'Teacher', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Courtney Marit', 31, 12, 6,
                    'Entertainer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shane Powers', 34, 12, 5,
                    'Marketing', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 35, 12, 4,
                    'Nurse', 'South Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Terry Deitz', 46, 12, 3,
                    'Pilot', 'Connecticut', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Danielle DiLorenzo', 24, 12, 2,
                    'Sales', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aras Baskauskas', 24, 12, 1,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

In [44]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jim Lynch', 63, 11, 18,
                    'Firefighter', 'Colorado', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Morgan McDevitt', 21, 11, 17,
                    'Dancer', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brianna Varela', 21, 11, 16,
                    'Makeup Artist', 'Washington', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brooke Struck', 25, 11, 15,
                    'Law Student', 'Oregon', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Blake Towsley', 24, 11, 14,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Margaret Bobonich', 43, 11, 13,
                    'Nurse', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brian Corridan', 22, 11, 12,
                    'Student', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Amy O'Hara", 39, 11, 11,
                    'Police', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brandon Bellinger', 22, 11, 10,
                    'Farmer', 'Kansas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bobby Jon Drinkard', 28, 11, 9,
                    'Model', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jamie Newton', 24, 11, 8,
                    'Water Ski Instructor', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gary Hogeboom', 46, 11, 7,
                    'Pro Athlete', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Judd Sergeant', 34, 11, 6,
                    'Doorman', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cindy Hall', 31, 11, 5,
                    'Animal Trainer', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lydia Morales', 42, 11, 4,
                    'Manager', 'Washington', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rafe Judkins', 22, 11, 3,
                    'Student', 'Rhode Island', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephenie LaGrossa', 25, 11, 2,
                    'Sales', 'Pennsylvania', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Danni Boatwright', 29, 11, 1,
                    'Talk Show Host', 'Kansas', 'F',
                    'Caucasian', FALSE);
            """)

In [45]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Libby', 23, 10, 19,
                    'Sales', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wanda Shirk', 55, 10, 19,
                    'Teacher', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jolanda Jones', 38, 10, 18,
                    'Lawyer', 'Texas', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashlee Ashby', 22, 10, 17,
                    'Student', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Wilson', 21, 10, 16,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kim Mullen', 25, 10, 15,
                    'Student', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Willard Smith', 56, 10, 14,
                    'Lawyer', 'Washington', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angie Jakusz', 24, 10, 13,
                    'Bartender', 'Louisiana', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Miller', 33, 10, 12,
                    'Steel Worker', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ibrehem Rahman', 27, 10, 11,
                    'Waiter', 'Alabama', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bobby Jon Drinkard', 27, 10, 10,
                    'Model', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coby Archa', 32, 10, 9,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Janu Tornell', 39, 10, 8,
                    'Showgirl', 'Nevada', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephenie LaGrossa', 24, 10, 7,
                    'Sales', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gregg Carey', 27, 10, 6,
                    'Business Consultant', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Caryn Groedel', 46, 10, 5,
                    'Lawyer', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenn Lyon', 32, 10, 4,
                    'Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ian Rosenberger', 23, 10, 3,
                    'Student', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Katie Gallagher', 29, 10, 2,
                    'Advertisting', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tom Westman', 40, 10, 1,
                    'Firefighter', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

In [46]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brook Geraghty', 27, 9, 18,
                    'Sales', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dolly Neely', 25, 9, 17,
                    'Farmer', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Palyok', 31, 9, 16,
                    'Sales', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mia Galeotalanza', 29, 9, 15,
                    'Finance', 'New Jersey', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brady Finta', 33, 9, 14,
                    'Police', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bubba Sampson', 33, 9, 13,
                    'Police', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lisa Keiffer', 44, 9, 12,
                    'Sales', 'Louisiana', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("John Kenney", 22, 9, 11,
                    'Mechanical Bull Operator/Model', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rory Freeman', 35, 9, 10,
                    'Housing Case Manager', 'Iowa', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarge Masters', 40, 9, 9,
                    'Military', 'South Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chad Crittenden', 34, 9, 8,
                    'Homemaker', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Leann Slaby', 35, 9, 7,
                    'Model', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ami Cusack', 31, 9, 6,
                    'Barista', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie Berry', 23, 9, 5,
                    'Mentor', 'Maine', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eliza Orlins', 21, 9, 4,
                    'Student', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Scout Cloud Lee', 59, 9, 3,
                    'Farmer', 'Oklahoma', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Twila Tanner', 41, 9, 2,
                    'Construction', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Daugherty', 33, 9, 1,
                    'Counstruction', 'Ohio', 'M',
                    'Caucasian', FALSE);
            """)

In [47]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tina Wesson', 42, 8, 18,
                    'Motivational Speaker', 'Tennessee', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rudy Boesch', 75, 8, 17,
                    'Veteran', 'Virginia', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenna Morasca', 22, 8, 16,
                    'Model', 'Pennsylvania', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Cesternino', 25, 8, 15,
                    'Project Coordinator', 'New York', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Richard Hatch', 42, 8, 14,
                    'Business Consultant', 'Rhode Island', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sue Hawk', 42, 8, 13,
                    'Business Owner', 'Wisconsin', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colby Donaldson', 29, 8, 12,
                    'Actor', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Ethan Zohn", 30, 8, 11,
                    'Nonprofit Owner', 'Massachusetts', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jerri Manthey', 33, 8, 10,
                    'Actor', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lex van den Berghe', 40, 8, 9,
                    'Musician', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Kathy Vavrick-O'Brien", 48, 8, 8,
                    'Real Estate', 'Vermont', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alicia Calaway', 35, 8, 7,
                    'Broadcast', 'New York', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shii Ann Huang', 29, 8, 6,
                    'Recruiter', 'New York', 'F',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tom Buchanan', 48, 8, 5,
                    'Farmer', 'Virginia', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rupert Boneham', 39, 8, 4,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenna Lewis', 26, 8, 3,
                    'Actor', 'New Hampshire', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 27, 8, 2,
                    'Construction', 'Massachusetts', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amber Brkich', 25, 8, 1,
                    'Actor', 'Pennsylvania', 'F',
                    'Caucasian', TRUE);
            """)

In [48]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nicole Delma', 24, 7, 16,
                    'Massage Therapist', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ryan Shoulders', 23, 7, 15,
                    'Produce Clerk', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michelle Tesauro', 22, 7, 14,
                    'Student', 'New Jersey', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Trish Dunn', 42, 7, 13,
                    'Sales', 'Maryland', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shawn Cohen', 28, 7, 12,
                    'Business Owner', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Osten Taylor", 27, 7, 11,
                    'Equity Trade Manager', 'Massachusetts', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrew Savage', 39, 7, 10,
                    'Lawyer', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ryan Opray', 30, 7, 9,
                    'Electrician', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Rupert Boneham", 39, 7, 8,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tijuana Bradley', 26, 7, 7,
                    'Waiter', 'Missouri', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christa Hastie', 24, 7, 6,
                    'Software Engineer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Burton Roberts', 31, 7, 5,
                    'Marketing', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Darrah Johnson', 22, 7, 4,
                    'Mortician', 'Mississippi', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonny Fairplay Dalton', 29, 7, 3,
                    'Art Consultant', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lillian Morris', 51, 7, 2,
                    'Scout Leader', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandra Diaz-Twine', 29, 7, 1,
                    'Military Spouse', 'Washington', 'F',
                    'Latinx', FALSE);
            """)

In [49]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ryan Aiken', 23, 6, 16,
                    'Model', 'Maryland', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Janet Koth', 46, 6, 15,
                    'Nurse', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Daniel Lue', 26, 6, 14,
                    'Accountant', 'Texas', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JoAnna Ward', 31, 6, 13,
                    'School Counselor', 'South Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeanne Hebert', 40, 6, 12,
                    'Marketing', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Shawna Mitchell", 23, 6, 11,
                    'Sales', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Roger Sexton', 56, 6, 10,
                    'Construction', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dave Johnson', 23, 6, 9,
                    'Rocket Scientist', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Deena Bennett", 35, 6, 8,
                    'Lawyer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alex Bell', 32, 6, 7,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christy Smith', 24, 6, 6,
                    'Adventure Guide', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Heidi Strobel', 24, 6, 5,
                    'Teacher', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Butch Lockley', 50, 6, 4,
                    'Principal', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Cesternino', 24, 6, 3,
                    'Project Coordinator', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matthew von Ertfelda', 33, 6, 2,
                    'Designer', 'DC', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenna Morasca', 21, 6, 1,
                    'Model', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

In [50]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Raymond', 40, 5, 16,
                    'Pastor', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tanya Vance', 27, 5, 15,
                    'Social Worker', 'Tennessee', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jed Hildebrand', 25, 5, 14,
                    'Dental Student', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ghandia Johnson', 33, 5, 13,
                    'Legal Support', 'Colorado', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Dill', 29, 5, 12,
                    'Firefighter', 'Arkansas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Robb Zbacnik", 23, 5, 11,
                    'Bartender', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shii Ann Huang', 28, 5, 10,
                    'Recruiter', 'New York', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erin Collins', 26, 5, 9,
                    'Student', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Ken Stafford", 30, 5, 8,
                    'Police', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Penny Ramsey', 27, 5, 7,
                    'Sales', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jake Billingsley', 60, 5, 6,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ted Rogers', 37, 5, 5,
                    'Software Engineer', 'North Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Helen Glover', 47, 5, 4,
                    'Military', 'Rhode Island', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jan Gentry', 53, 5, 3,
                    'Teacher', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Clay Jordan', 46, 5, 2,
                    'Business Owner', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brian Heidik', 34, 5, 1,
                    'Sales', 'California', 'M',
                    'Caucasian', FALSE);
            """)

In [51]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Peter Harkey', 44, 4, 16,
                    'Business Owner', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Patricia Jackson', 49, 4, 15,
                    'Factory Worker', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hunter Ellis', 33, 4, 14,
                    'Pilot', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarah Jones', 24, 4, 13,
                    'Account Manager', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gabriel Cade', 23, 4, 12,
                    'Bartender', 'North Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Gina Crews", 28, 4, 11,
                    'Naturalist', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 25, 4, 10,
                    'Construction', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Carroll', 36, 4, 9,
                    'Law Student', 'Nebraska', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Zoe Zanidakis", 35, 4, 8,
                    'Fisher', 'Maine', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tammy Leitner', 29, 4, 7,
                    'Journalist', 'Arizona', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Robert DeCanio', 38, 4, 6,
                    'Limo Driver', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sean Rector', 30, 4, 5,
                    'Teacher', 'New York', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Paschal English', 56, 4, 4,
                    'Judge', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Kathy Vavrick-O'Brien", 46, 4, 3,
                    'Real Estate', 'Vermont', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Neleh Dennis', 21, 4, 2,
                    'Student', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Vecepia Towery', 36, 4, 1,
                    'Office Manager', 'Oregon', 'F',
                    'Black', FALSE);
            """)

In [52]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Diane Ogden', 42, 3, 16,
                    'Mailman', 'Nebraska', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessie Camacho', 26, 3, 15,
                    'Police', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carl Bilancione', 46, 3, 14,
                    'Dentist', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Linda Spencer', 44, 3, 13,
                    'Career Counselor', 'Massachusetts', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Silas Gaither', 23, 3, 12,
                    'Bartender', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Lindsey Richter", 26, 3, 11,
                    'Account Executive', 'Oregon', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Clarence Black', 24, 3, 10,
                    'Coach', 'Michigan', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Goldsmith', 22, 3, 9,
                    'Research Analyst', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Brandon Quinton", 25, 3, 8,
                    'Bartender', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Frank Garrison', 43, 3, 7,
                    'Veteran', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kim Powers', 29, 3, 6,
                    'Marketing', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Teresa Cooper', 42, 3, 5,
                    'Flight Attendant', 'Georgia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tom Buchanan', 45, 3, 4,
                    'Farmer', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lex van den Berghe', 38, 3, 3,
                    'Marketing', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kim Johnson', 56, 3, 2,
                    'Teacher', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ethan Zohn', 27, 3, 1,
                    'Pro Athlete', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

In [53]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Debb Eaton', 45, 2, 16,
                    'Police', 'New Hampshire', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kel Gleason', 32, 2, 15,
                    'Military', 'Texas', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Maralyn Hershey', 51, 2, 14,
                    'Police', 'Virginia', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mitchell Olson', 23, 2, 13,
                    'Musician', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kimmi Kappenberg', 27, 2, 12,
                    'Bartender', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Michael Skupin", 38, 2, 11,
                    'Business Owner', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Varner', 34, 2, 10,
                    'Project Manager', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alicia Calaway', 32, 2, 9,
                    'Fitness', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Jerri Manthey", 30, 2, 8,
                    'Actor', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nick Brown', 23, 2, 7,
                    'Law Student', 'Washington', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amber Brkich', 22, 2, 6,
                    'Administrative Assistant', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rodger Bingham', 53, 2, 5,
                    'Teacher', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Elisabeth Filarski', 23, 2, 4,
                    'Shoe Designer', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Famie', 40, 2, 3,
                    'Chef', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colby Donaldson', 26, 2, 2,
                    'Car Designer', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tina Wesson', 40, 2, 1,
                    'Nurse', 'Tennessee', 'F',
                    'Caucasian', FALSE);

In [54]:
                    ('Sonja Christopher', 63, 1, 16,
                    'Music Therapist', 'California', 'F',
                    'Caucasian', FALSE);
 
                    ('BB Andersen', 64, 1, 15,
                    'Real Estate', 'Kansas', 'M',
                    'Caucasian', FALSE);

                    ('Stacey Stillman', 27, 1, 14,
                    'Lawyer', 'California', 'F',
                    'Caucasian', FALSE);

                    ('Ramona Gray', 29, 1, 13,
                    'Chemist', 'New Jersey', 'F',
                    'Black', FALSE);

                    ('Dirk Been', 23, 1, 12,
                    'Teacher', 'Wisconsin', 'M',
                    'Caucasian', FALSE);
 
                    ("Joel Klug", 27, 1, 11,
                    'Finance', 'Arkansas', 'M',
                    'Caucasian', FALSE);

                    ('Gretchen Cordy', 38, 1, 10,
                    'Survival Instructor', 'Tennessee', 'F',
                    'Caucasian', FALSE);

                    ('Greg Buis', 24, 1, 9,
                    'Student', 'California', 'M',
                    'Caucasian', FALSE);

                    ("Jenna Lewis", 22, 1, 8,
                    'Student', 'New Hampshire', 'F',
                    'Caucasian', FALSE);

                    ('Gervase Peterson', 30, 1, 7,
                    'Coach', 'New Jersey', 'M',
                    'Black', FALSE);

                    ('Colleen Haskell', 23, 1, 6,
                    'Student', 'Florida', 'F',
                    'Caucasian', FALSE);

                    ('Sean Kenniff', 30, 1, 5,
                    'Physician', 'New Jersey', 'M',
                    'Caucasian', FALSE);

                    ('Sue Hawk', 38, 1, 4,
                    'Truck Driver', 'Wisconsin', 'F',
                    'Caucasian', FALSE);

                    ('Rudy Boesch', 72, 1, 3,
                    'Veteran', 'Virginia', 'M',
                    'Caucasian', FALSE);

                    ('Kelly Wiglesworth', 22, 1, 2,
                    'River Guide', 'Nevada', 'F',
                    'Caucasian', FALSE);

                    ('Richard Hatch', 39, 1, 1,
                    'Business Owner', 'Rhode Island', 'M',
                    'Caucasian', FALSE);

In [16]:
player_keys = ['name', 'age', 'season', 'placement', 'occupation', 'location', 'gender', 'race', 'returnee']
# season should be the foreign key to the seasons table

In [56]:
cur.execute("""SELECT * FROM players""").fetchall()

[(1, 'Reem Daly', 46, 38, 16.0, 'Sales', 'Virginia', 'F', 'Caucasian', 0),
 (2,
  'Keith Sowell',
  19,
  38,
  18.0,
  'Student',
  'North Carolina',
  'M',
  'Black',
  0),
 (3,
  'Aubry Bracco',
  32,
  38,
  15.0,
  'Marketing',
  'California',
  'F',
  'Caucasian',
  1),
 (4,
  'Wendy Diaz',
  25,
  38,
  17.0,
  'Entrepreneur',
  'California',
  'F',
  'Latinx',
  0),
 (5, 'Joe Anglim', 29, 38, 14.0, 'Artist', 'Utah', 'M', 'Caucasian', 1),
 (6,
  'Eric Hafemann',
  34,
  38,
  13.0,
  'Firefighter',
  'California',
  'M',
  'Caucasian',
  0),
 (7,
  'Julia Carter',
  25,
  38,
  12.0,
  'Medical Student',
  'Maryland',
  'F',
  'Black',
  0),
 (8,
  'David Wright',
  44,
  38,
  11.0,
  'Writer',
  'California',
  'M',
  'Caucasian',
  1),
 (9,
  'Kelley Wentworth',
  32,
  38,
  10.0,
  'Marketing',
  'Washington',
  'F',
  'Caucasian',
  1),
 (10,
  'Dan "Wardog" DaSilva',
  38,
  38,
  9.0,
  'Law Student',
  'California',
  'M',
  'Caucasian',
  0),
 (11, 'Ron Clark', 45, 38, 8.0, 'Teacher', 'Georgia', 'M', 'Caucasian', 0),
 (12,
  'Aurora McCreary',
  32,
  38,
  7.0,
  'Lawyer',
  'Florida',
  'F',
  'Caucasian',
  0),
 (13,
  'Victoria Baamonde',
  23,
  38,
  6.0,
  'Waiter',
  'New York',
  'F',
  'Caucasian',
  0),
 (14,
  "Lauren O'Connell",
  21,
  38,
  5.0,
  'Student',
  'Texas',
  'F',
  'Caucasian',
  0),
 (15,
  'Rick Devens',
  33,
  38,
  4.0,
  'News Anchor',
  'Georgia',
  'M',
  'Caucasian',
  0),
 (16,
  'Julie Rosenberg',
  46,
  38,
  3.0,
  'Entrepreneur',
  'New York',
  'F',
  'Caucasian',
  0),
 (17,
  'Gavin Whitson',
  23,
  38,
  2.0,
  'Program Director',
  'Tennessee',
  'M',
  'Caucasian',
  0),
 (18,
  'Chris Underwood',
  25,
  38,
  1.0,
  'Sales',
  'South Carolina',
  'M',
  'Caucasian',
  0),
 (19, 'Pat Cusack', 25, 37, 20.0, 'Manager', 'New York', 'M', 'Caucasian', 0),
 (20, 'Jessica Peet', 19, 37, 19.0, 'Waiter', 'Florida', 'F', 'Caucasian', 0),
 (21, 'Jeremy Crawford', 40, 37, 18.0, 'Lawyer', 'New York', 'M', 'Black', 0),
 (22, 'Bi Nguyen', 28, 37, 17.0, 'Pro Athlete', 'Texas', 'F', 'Asian', 0),
 (23,
  'Natalia Azoqa',
  26,
  37,
  16.0,
  'Engineer',
  'California',
  'F',
  'Caucasian',
  0),
 (24, 'Natalie Cole', 57, 37, 15.0, 'CEO', 'California', 'F', 'Black', 0),
 (25, 'Lyrsa Torres', 36, 37, 14.0, 'Chef', 'Massachusetts', 'F', 'Latinx', 0),
 (26,
  'Elizabeth Olson',
  31,
  37,
  13.0,
  'Kitchen Staff',
  'Texas',
  'F',
  'Caucasian',
  0),
 (27,
  'John Hennigan',
  38,
  37,
  12.0,
  'Pro Athlete',
  'California',
  'M',
  'Caucasian',
  0),
 (28, 'Dan Rengering', 28, 37, 11.0, 'Police', 'Florida', 'M', 'Caucasian', 0),
 (29,
  'Alec Merlino',
  24,
  37,
  10.0,
  'Bartender',
  'California',
  'M',
  'Caucasian',
  0),
 (30, 'Carl Boudreaux', 41, 37, 9.0, 'Truck Driver', 'Texas', 'M', 'Black', 0),
 (31, 'Gabby Pascuzzi', 25, 37, 8.0, 'Tech', 'Colorado', 'F', 'Caucasian', 0),
 (32,
  'Christian Hubicki',
  32,
  37,
  7.0,
  'Robotics',
  'Florida',
  'M',
  'Caucasian',
  0),
 (33,
  'Davie Rickenbacker',
  30,
  37,
  6.0,
  'Social Media',
  'Georiga',
  'M',
  'Black',
  0),
 (34,
  'Alison Raybould',
  28,
  37,
  5.0,
  'Physician',
  'North Carolina',
  'F',
  'Caucasian',
  0),
 (35,
  'Kara Kay',
  30,
  37,
  4.0,
  'Real Estate',
  'California',
  'F',
  'Caucasian',
  0),
 (36,
  'Angelina Keeley',
  28,
  37,
  3.0,
  'Finance',
  'California',
  'F',
  'Latinx',
  0),
 (37, 'Mike White', 47, 37, 2.0, 'Writer', 'California', 'M', 'Caucasian', 0),
 (38, 'Nick Wilson', 27, 37, 1.0, 'Lawyer', 'Kentucky', 'M', 'Caucasian', 0),
 (39,
  'Stephanie Gonzalez',
  26,
  36,
  20.0,
  'Sales',
  'Florida',
  'F',
  'Latinx',
  0),
 (40,
  'Jacob Derwin',
  22,
  36,
  19.0,
  'Teacher',
  'New York',
  'M',
  'Caucasian',
  0),
 (41,
  'Morgan Ricke',
  29,
  36,
  18.0,
  'Animal Trainer',
  'Florida',
  'F',
  'Caucasian',
  0),
 (42,
  'Brendon Shapiro',
  40,
  36,
  17.0,
  'Teacher',
  'Virginia',
  'M',
  'Caucasian',
  0),
 (43,
  'Stephanie Johnson',
  34,
  36,
  16.0,
  'Fitness',
  'Illinois',
  'F',
  'Caucasian',
  0),
 (44, 'James Lim', 24, 36, 15.0, 'Business', 'New York', 'M', 'Asian', 0),
 (45,
  'Bradley Kleihege',
  26,
  36,
  14.0,
  'Law Student',
  'California',
  'M',
  'Caucasian',
  0),
 (46, 'Chris Noble', 27, 36, 13.0, 'Model', 'New York', 'M', 'Caucasian', 0),
 (47,
  'Libby Vineck',
  24,
  36,
  12.0,
  'Social Media',
  'Texas',
  'F',
  'Caucasian',
  0),
 (48, 'Desiree Afuye', 21, 36, 11.0, 'Student', 'New York', 'F', 'Black', 0),
 (49,
  'Jenna Bowman',
  23,
  36,
  10.0,
  'Marketing',
  'California',
  'F',
  'Caucasian',
  0),
 (50,
  'Michael Yerger',
  18,
  36,
  9.0,
  'Real Estate',
  'California',
  'M',
  'Caucasian',
  0),
 (51,
  'Chelsea Townsend',
  25,
  36,
  8.0,
  'Cheerleader',
  'California',
  'F',
  'Caucasian',
  0),
 (52,
  'Kellyn Bechtold',
  30,
  36,
  7.0,
  'Career Counselor',
  'Colorado',
  'F',
  'Caucasian',
  0),
 (53, 'Sebastian Noel', 22, 36, 6.0, 'Fisher', 'Florida', 'M', 'Caucasian', 0),
 (54,
  'Donathan Hurley',
  25,
  36,
  5.0,
  'Caretaker',
  'Kentucky',
  'M',
  'Caucasian',
  0),
 (55, 'Angela Perkins', 42, 36, 4.0, 'Veteran', 'Ohio', 'F', 'Caucasian', 0),
 (56, 'Laurel Johnson', 28, 36, 3.0, 'Finance', 'Minnesota', 'F', 'Black', 0),
 (57,
  'Domenick Abbate',
  38,
  36,
  2.0,
  'Construction',
  'New York',
  'M',
  'Caucasian',
  0),
 (58,
  'Wendell Holland',
  33,
  36,
  1.0,
  'Entrepreneur',
  'Pennsylvania',
  'M',
  'Black',
  0),
 (59,
  'Katrina Radke',
  46,
  35,
  18.0,
  'Pro Athlete',
  'Minnesota',
  'F',
  'Caucasian',
  0),
 (60, 'Simone Nquyen', 25, 35, 17.0, 'Advocate', 'New York', 'F', 'Asian', 0),
 (61,
  'Patrick Bolton',
  24,
  35,
  16.0,
  'Entrepreneur',
  'Alabama',
  'M',
  'Caucasian',
  0),
 (62, 'Alan Ball', 32, 35, 15.0, 'Pro Athlete', 'Texas', 'M', 'Black', 0),
 (63,
  'Roark Luskin',
  27,
  35,
  14.0,
  'Social Worker',
  'California',
  'F',
  'Caucasian',
  0),
 (64, 'Ali Elliott', 24, 35, 13.0, 'Assistant', 'California', 'F', 'Black', 0),
 (65,
  'Jessica Johnston',
  29,
  35,
  12.0,
  'Nurse',
  'Kentucky',
  'F',
  'Caucasian',
  0),
 (66,
  'Desi Williams',
  27,
  35,
  11.0,
  'Physical Therapist',
  'Virginia',
  'F',
  'Black',
  0),
 (67,
  'Cole Medders',
  24,
  35,
  10.0,
  'Wilderness Guide',
  'Arkansas',
  'M',
  'Caucasian',
  0),
 (68,
  'JP Hilsabeck',
  28,
  35,
  9.0,
  'Firefighter',
  'California',
  'M',
  'Caucasian',
  0),
 (69, 'Joe Mena', 34, 35, 8.0, 'Police', 'Connecticut', 'M', 'Caucasian', 0),
 (70,
  'Lauren Rimmer',
  35,
  35,
  7.0,
  'Fisher',
  'North Carolina',
  'F',
  'Caucasian',
  0),
 (71,
  'Ashley Nolan',
  26,
  35,
  6.0,
  'Lifeguard',
  'Florida',
  'F',
  'Caucasian',
  0),
 (72,
  'Mike Zahalsky',
  43,
  35,
  5.0,
  'Physician',
  'Florida',
  'M',
  'Caucasian',
  0),
 (73, 'Devon Pinto', 23, 35, 4.0, 'Surfer', 'California', 'M', 'Caucasian', 0),
 (74,
  'Ryan Ulrich',
  23,
  35,
  3.0,
  'Bellhop',
  'New Jersey',
  'M',
  'Caucasian',
  0),
 (75,
  'Chrissy Hofbeck',
  46,
  35,
  2.0,
  'Actuary',
  'New Jersey',
  'F',
  'Caucasian',
  0),
 (76, 'Ben Driebergen', 34, 35, 1.0, 'Veteran', 'Idaho', 'M', 'Caucasian', 0),
 (77,
  'Ciera Eastin',
  27,
  34,
  20.0,
  'Esthetician',
  'Oregon',
  'F',
  'Caucasian',
  1),
 (78,
  'Tony Vlachos',
  42,
  34,
  19.0,
  'Police',
  'New Jersey',
  'M',
  'Caucasian',
  1),
 (79,
  'Caleb Reynolds',
  28,
  34,
  18.0,
  'Veteran',
  'Kentucky',
  'M',
  'Caucasian',
  1),
 (80,
  'Malcolm Freberg',
  29,
  34,
  17.0,
  'Bartender',
  'California',
  'M',
  'Caucasian',
  1),
 (81, 'JT Thomas', 31, 34, 16.0, 'Farmer', 'Alabama', 'M', 'Caucasian', 1),
 (82,
  'Sandra Diaz-Twine',
  41,
  34,
  15.0,
  'Military Spouse',
  'North Carolina',
  'F',
  'Latinx',
  1),
 (83,
  'Jeff Varner',
  50,
  34,
  14.0,
  'Real Estate',
  'North Carolina',
  'M',
  'Caucasian',
  1),
 (84, 'Hali Ford', 26, 34, 13.0, 'Lawyer', 'Tennessee', 'F', 'Caucasian', 1),
 (85, 'Ozzy Lusth', 34, 34, 12.0, 'Surfer', 'California', 'M', 'Latinx', 1),
 (86,
  'Debbie Wanner',
  51,
  34,
  11.0,
  'Chemist',
  'Pennsylvania',
  'F',
  'Black',
  1),
 (87, 'Zeke Smith', 28, 34, 10.0, 'Manager', 'New York', 'M', 'Caucasian', 1),
 (88,
  'Sierra Dawn Thomas',
  29,
  34,
  9.0,
  'Rancher',
  'Utah',
  'F',
  'Caucasian',
  1),
 (89,
  'Andrea Boehlke',
  27,
  34,
  8.0,
  'News Anchor',
  'New York',
  'F',
  'Caucasian',
  1),
 (90, 'Michaela Bradshaw', 25, 34, 7.0, 'Sales', 'Texas', 'F', 'Black', 1),
 (91, 'Cirie Fields', 45, 34, 6.0, 'Nurse', 'Connecticut', 'F', 'Black', 1),
 (92,
  'Aubry Bracco',
  30,
  34,
  5.0,
  'Social Media',
  'Massachusetts',
  'F',
  'Caucasian',
  1),
 (93, 'Tai Trang', 52, 34, 4.0, 'Farmer', 'California', 'M', 'Asian', 1),
 (94,
  'Troyzan Robertson',
  54,
  34,
  3.0,
  'Photographer',
  'Florida',
  'M',
  'Caucasian',
  1),
 (95,
  'Brad Culpepper',
  47,
  34,
  2.0,
  'Pro Athlete',
  'Florida',
  'M',
  'Caucasian',
  1),
 (96, 'Sarah Lacina', 32, 34, 1.0, 'Police', 'Iowa', 'F', 'Caucasian', 1),
 (97, 'Rachel Ako', 37, 33, 20.0, 'Recruiter', 'California', 'F', 'Asian', 0),
 (98,
  'Mari Takahashi',
  31,
  33,
  19.0,
  'Video Gamer',
  'California',
  'F',
  'Asian',
  0),
 (99,
  'Paul Wachter',
  52,
  33,
  18.0,
  'Mechanic',
  'Florida',
  'M',
  'Caucasian',
  0),
 (100,
  'Lucy Huang',
  42,
  33,
  17.0,
  'Nutritionist',
  'California',
  'F',
  'Asian',
  0),
 (101,
  'CeCe Taylor',
  39,
  33,
  16.0,
  'Insurance',
  'California',
  'F',
  'Black',
  0),
 (102,
  'Figgy Figueroa',
  23,
  33,
  15.0,
  'Bartender',
  'Tennessee',
  'F',
  'Latinx',
  0),
 (103, 'Michaela Bradshaw', 25, 33, 14.0, 'Sales', 'Texas', 'F', 'Black', 0),
 (104,
  'Michelle Schubert',
  28,
  33,
  13.0,
  'Missionary',
  'Washington',
  'F',
  'Caucasian',
  0),
 (105,
  'Taylor Lee Stocker',
  24,
  33,
  12.0,
  'Snowboarder',
  'Idaho',
  'M',
  'Caucasian',
  0),
 (106,
  'Chris Hammons',
  38,
  33,
  11.0,
  'Lawyer',
  'Oklahoma',
  'M',
  'Caucasian',
  0),
 (107,
  'Jessica Lewis',
  37,
  33,
  10.0,
  'Lawyer',
  'New York',
  'F',
  'Caucasian',
  0),
 (108, 'Zeke Smith', 28, 33, 9.0, 'Manager', 'New York', 'M', 'Caucasian', 0),
 (109, 'Will Wahl', 18, 33, 8.0, 'Student', 'New Jersey', 'M', 'Caucasian', 0),
 (110,
  'Sunday Bruquest',
  45,
  33,
  7.0,
  'Pastor',
  'Minnesota',
  'F',
  'Caucasian',
  0),
 (111,
  'Jay Starrett',
  27,
  33,
  6.0,
  'Real Estate',
  'Florida',
  'M',
  'Caucasian',
  0),
 (112,
  'Bret LaBelle',
  42,
  33,
  5.0,
  'Police',
  'Massachusetts',
  'M',
  'Caucasian',
  0),
 (113,
  'David Wright',
  42,
  33,
  4.0,
  'Writer',
  'California',
  'M',
  'Caucasian',
  0),
 (114,
  'Hannah Shapiro',
  24,
  33,
  2.0,
  'Barista',
  'California',
  'F',
  'Caucasian',
  0),
 (115, 'Ken McNickle', 38, 33, 2.0, 'Model', 'Colorado', 'M', 'Caucasian', 0),
 (116,
  'Adam Klein',
  25,
  33,
  1.0,
  'Nonprofit',
  'California',
  'M',
  'Caucasian',
  0),
 (117,
  'Darnell Hamilton',
  27,
  32,
  18.0,
  'Mailman',
  'Illinois',
  'M',
  'Black',
  0),
 (118,
  'Jennifer Lanzetti',
  38,
  32,
  17.0,
  'Construction',
  'Utah',
  'F',
  'Caucasian',
  0),
 (119,
  'Liz Markham',
  27,
  32,
  16.0,
  'Computer Scientist',
  'New York',
  'F',
  'Caucasian',
  0),
 (120,
  'Caleb Reynolds',
  27,
  32,
  15.0,
  'Veteran',
  'Kentucky',
  'M',
  'Caucasian',
  0),
 (121,
  'Alecia Holden',
  24,
  32,
  14.0,
  'Real Estate',
  'Texas',
  'F',
  'Caucasian',
  0),
 (122,
  'Anna Khait',
  26,
  32,
  13.0,
  'Poker Player',
  'New York',
  'F',
  'Caucasian',
  0),
 (123,
  'Peter Baggenstos',
  34,
  32,
  12.0,
  'Physician',
  'Minnesota',
  'M',
  'Black',
  0),
 (124,
  'Neal Gottlieb',
  38,
  32,
  11.0,
  'Entrepreneur',
  'California',
  'M',
  'Caucasian',
  0),
 (125,
  'Nick Maiorano',
  30,
  32,
  10.0,
  'Fitness',
  'California',
  'M',
  'Caucasian',
  0),
 (126,
  'Debbie Wanner',
  49,
  32,
  9.0,
  'Chemist',
  'Pennsylvania',
  'F',
  'Caucasian',
  0),
 (127,
  'Scot Pollard',
  40,
  32,
  8.0,
  'Pro Athlete',
  'Indiana',
  'M',
  'Caucasian',
  0),
 (128,
  'Julia Sokolowski',
  18,
  32,
  7.0,
  'Student',
  'Massachusetts',
  'F',
  'Caucasian',
  0),
 (129,
  'Kyle Jason',
  31,
  32,
  6.0,
  'Bounty Hunter',
  'Michigan',
  'M',
  'Caucasian',
  0),
 (130, 'Joe Del Campo', 72, 32, 5.0, 'FBI', 'Florida', 'M', 'Caucasian', 0),
 (131,
  'Cydney Gillon',
  22,
  32,
  4.0,
  'Pro Athlete',
  'Georgia',
  'F',
  'Black',
  0),
 (132, 'Tai Trang', 51, 32, 3.0, 'Farmer', 'California', 'M', 'Caucasian', 0),
 (133,
  'Aubry Bracco',
  29,
  32,
  2.0,
  'Social Media',
  'Massachusetts',
  'F',
  'Caucasian',
  0),
 (134,
  'Michele Fitzgerald',
  24,
  32,
  1.0,
  'Bartender',
  'New Jersey',
  'F',
  'Caucasian',
  0),
 (135,
  'Vytas Baskauskas',
  35,
  31,
  20.0,
  'Fitness',
  'California',
  'M',
  'Caucasian',
  1),
 (136,
  'Shirin Oskooi',
  32,
  31,
  19.0,
  'Tech Executive',
  'California',
  'F',
  'Asian',
  1),
 (137,
  'Peih-Gee Law',
  37,
  31,
  18.0,
  'Entrepreneur',
  'California',
  'F',
  'Asian',
  1),
 (138,
  'Jeff Varner',
  49,
  31,
  17.0,
  'Real Estate',
  'North Carolina',
  'M',
  'Caucasian',
  1),
 (139, 'Monica Padilla', 30, 31, 16.0, 'Lawyer', 'New York', 'F', 'Latinx', 1),
 (140,
  'Terry Deitz',
  55,
  31,
  15.0,
  'Pilot',
  'Connecticut',
  'M',
  'Caucasian',
  1),
 (141, 'Woo Hwang', 31, 31, 14.0, 'Fitness', 'California', 'M', 'Asian', 1),
 (142,
  'Kass McQuillen',
  43,
  31,
  13.0,
  'Lawyer',
  'California',
  'F',
  'Caucasian',
  1),
 (143,
  'Andrew Savage',
  51,
  31,
  12.0,
  'Lawyer',
  'California',
  'M',
  'Caucasian',
  1),
 (144,
  'Kelly Wiglesworth',
  37,
  31,
  11.0,
  'Fitness',
  'North Carolina',
  'F',
  'Black',
  1),
 (145,
  'Ciera Eastin',
  26,
  31,
  10.0,
  'Esthetician',
  'Oregon',
  'F',
  'Caucasian',
  1),
 (146,
  'Stephen Fishbach',
  36,
  31,
  9.0,
  'Consultant',
  'New York',
  'M',
  'Caucasian',
  1),
 (147, 'Joe Anglim', 26, 31, 8.0, 'Artist', 'Arizona', 'M', 'Caucasian', 1),
 (148,
  'Abi-Maria Gomes',
  25,
  31,
  7.0,
  'Real Estate',
  'California',
  'F',
  'Latinx',
  1),
 (149,
  'Kimmi Kappenberg',
  42,
  31,
  6.0,
  'Bartender',
  'Texas',
  'F',
  'Caucasian',
  1),
 (150,
  'Keith Nale',
  30,
  31,
  5.0,
  'Firefighter',
  'Louisiana',
  'M',
  'Caucasian',
  1),
 (151,
  'Kelley Wentworth',
  29,
  31,
  4.0,
  'Marketing',
  'Washington',
  'F',
  'Caucasian',
  1),
 (152,
  'Spencer Bledsoe',
  22,
  31,
  2.0,
  'Economics',
  'Illinois',
  'M',
  'Caucasian',
  1),
 (153,
  'Tasha Fox',
  38,
  31,
  2.0,
  'Accountant',
  'Missouri',
  'F',
  'Caucasian',
  1),
 (154,
  'Jeremy Collins',
  37,
  31,
  1.0,
  'Firefighter',
  'Massachusetts',
  'M',
  'Black',
  1),
 (155, 'So Kim', 31, 30, 18.0, 'Buyer', 'California', 'F', 'Asian', 0),
 (156,
  'Vince Sly',
  32,
  30,
  17.0,
  'Entrepreneur',
  'California',
  'M',
  'Caucasian',
  0),
 (157,
  'Nina Poersch',
  51,
  30,
  16.0,
  'Advocate',
  'California',
  'F',
  'Asian',
  0),
 (158,
  'Lindsey Cascaddan',
  24,
  30,
  15.0,
  'Hair Stylist',
  'Florida',
  'F',
  'Caucasian',
  0),
 (159,
  'Max Dawson',
  37,
  30,
  14.0,
  'Consultant',
  'California',
  'M',
  'Caucasian',
  0),
 (160,
  'Joaquin Souberbielle',
  27,
  30,
  13.0,
  'Marketing',
  'New York',
  'M',
  'Caucasian',
  0),
 (161,
  'Kelly Remington',
  44,
  30,
  12.0,
  'Police',
  'New York',
  'F',
  'Caucasian',
  0),
 (162,
  'Hali Ford',
  25,
  30,
  11.0,
  'Law Student',
  'California',
  'F',
  'Caucasian',
  0),
 (163, 'Joe Anglim', 25, 30, 10.0, 'Artist', 'Arizona', 'M', 'Caucasian', 0),
 (164, 'Jenn Brown', 22, 30, 9.0, 'Sailor', 'California', 'F', 'Caucasian', 0),
 (165,
  'Shirin Oskooi',
  31,
  30,
  8.0,
  'Tech Executive',
  'California',
  'F',
  'Caucasian',
  0),
 (166,
  'Tyler Fredrickson',
  33,
  30,
  7.0,
  'Talent Agent',
  'California',
  'M',
  'Caucasian',
  0),
 (167, 'Dan Foley', 47, 30, 6.0, 'Mailman', 'Maine', 'M', 'Caucasian', 0),
 (168,
  'Sierra Dawn Thomas',
  27,
  30,
  5.0,
  'Rancher',
  'Utah',
  'F',
  'Caucasian',
  0),
 (169,
  'Rodney Lavoie',
  24,
  30,
  4.0,
  'Construction',
  'Massachusetts',
  'M',
  'Caucasian',
  0),
 (170, 'Will Sims', 41, 30, 2.0, 'Viral Star', 'California', 'M', 'Black', 0),
 (171,
  'Carolyn Rivera',
  52,
  30,
  2.0,
  'Executive',
  'Florida',
  'F',
  'Latinx',
  0),
 (172,
  'Mike Holloway',
  38,
  30,
  1.0,
  'Oil Driller',
  'Texas',
  'M',
  'Caucasian',
  0),
 (173,
  'Nadiya Anderson',
  28,
  29,
  18.0,
  'Fitness',
  'New Jersey',
  'F',
  'Asian',
  0),
 (174,
  'Val Collins',
  35,
  29,
  17.0,
  'Police',
  'Massachusetts',
  'F',
  'Black',
  0),
 (175,
  'John Rocker',
  39,
  29,
  16.0,
  'Pro Athlete',
  'Georgia',
  'M',
  'Caucasian',
  0),
 (176, 'Drew Christy', 25, 29, 15.0, 'Sales', 'Florida', 'M', 'Caucasian', 0),
 (177,
  'Kelley Wentworth',
  28,
  29,
  14.0,
  'Marketing',
  'Washington',
  'F',
  'Caucasian',
  0),
 (178,
  'Dale Wentworth',
  55,
  29,
  13.0,
  'Farmer',
  'Washington',
  'M',
  'Caucasian',
  0),
 (179, 'Julie McGee', 34, 29, 12.0, 'Model', 'Georgia', 'F', 'Caucasian', 0),
 (180,
  'Josh Canfield',
  32,
  29,
  11.0,
  'Actor',
  'New York',
  'M',
  'Caucasian',
  0),
 (181,
  'Jeremy Collins',
  36,
  29,
  10.0,
  'Firefighter',
  'Massachusetts',
  'M',
  'Black',
  0),
 (182,
  'Wes Nale',
  23,
  29,
  9.0,
  'Firefighter',
  'Louisiana',
  'M',
  'Caucasian',
  0),
 (183, 'Reed Kelly', 31, 29, 8.0, 'Actor', 'New York', 'M', 'Caucasian', 0),
 (184, 'Alec Christy', 22, 29, 7.0, 'Student', 'Florida', 'M', 'Caucasian', 0),
 (185, 'Jon Misch', 26, 29, 6.0, 'Finance', 'Michigan', 'M', 'Caucasian', 0),
 (186,
  'Baylor Wilson',
  20,
  29,
  5.0,
  'Student',
  'Tennessee',
  'F',
  'Caucasian',
  0),
 (187,
  'Keith Nale',
  53,
  29,
  4.0,
  'Firefighter',
  'Louisiana',
  'M',
  'Caucasian',
  0),
 (188,
  'Missy Payne',
  47,
  29,
  3.0,
  'Entrepreneur',
  'Texas',
  'F',
  'Caucasian',
  0),
 (189, 'Jaclyn Schultz', 25, 29, 2.0, 'Buyer', 'Nevada', 'F', 'Caucasian', 0),
 (190,
  'Natalie Anderson',
  28,
  29,
  0.0,
  'Fitness',
  'New Jersey',
  'F',
  'Asian',
  0),
 (191,
  'David Samson',
  45,
  28,
  18.0,
  'Sports President',
  'Florida',
  'M',
  'Caucasian',
  0),
 (192,
  'Garrett Adelstein',
  27,
  28,
  17.0,
  'Poker Player',
  'California',
  'M',
  'Caucasian',
  0),
 (193,
  'Brice Johnston',
  27,
  28,
  16.0,
  'Social Worker',
  'Pennsylvania',
  'M',
  'Black',
  0),
 (194, "J'Tia Taylor", 31, 28, 15.0, 'Engineer', 'Illinois', 'F', 'Black', 0),
 (195,
  'Cliff Robinson',
  46,
  28,
  14.0,
  'Pro Athlete',
  'New Jersey',
  'M',
  'Black',
  0),
 (196,
  'Lindsey Ogle',
  29,
  28,
  13.0,
  'Hairstylist',
  'Indiana',
  'F',
  'Caucasian',
  0),
 (197,
  'Alexis Maxwell',
  21,
  28,
  12.0,
  'Student',
  'Illinois',
  'F',
  'Caucasian',
  0),
 (198, 'Sarah Lacina', 29, 28, 11.0, 'Police', 'Iowa', 'F', 'Caucasian', 0),
 (199,
  'Morgan McLeod',
  21,
  28,
  10.0,
  'Cheerleader',
  'California',
  'F',
  'Caucasian',
  0),
 (200,
  'LJ McKanas',
  34,
  28,
  9.0,
  'Animal Trainer',
  'Massachusetts',
  'M',
  'Caucasian',
  0),
 (201,
  'Jeremiah Wood',
  34,
  28,
  8.0,
  'Model',
  'North Carolina',
  'M',
  'Caucasian',
  0),
 (202,
  'Jefra Bland',
  22,
  28,
  7.0,
  'Pageant Queen',
  'Kentucky',
  'F',
  'Caucasian',
  0),
 (203, 'Tasha Fox', 37, 28, 6.0, 'Accountant', 'Missouri', 'F', 'Black', 0),
 (204,
  'Trish Hegarty',
  48,
  28,
  5.0,
  'Fitness',
  'Massachusetts',
  'F',
  'Caucasian',
  0),
 (205,
  'Spencer Bledsoe',
  21,
  28,
  4.0,
  'Student',
  'Illinois',
  'M',
  'Caucasian',
  0),
 (206,
  'Kass McQuillen',
  41,
  28,
  3.0,
  'Lawyer',
  'California',
  'F',
  'Caucasian',
  0),
 (207, 'Woo Hwang', 29, 28, 2.0, 'Fitness', 'California', 'M', 'Asian', 0),
 (208,
  'Tony Vlachos',
  39,
  28,
  1.0,