In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('survivor_database.db')
cur = conn.cursor()

In [4]:
! ls

README.md             create_database.ipynb survivor_database.db

In [52]:
cur.execute("""CREATE TABLE seasons (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                num_initial_tribes INTEGER,
                                swap BINARY,
                                num_players INTEGER,
                                returnee BINARY,
                                num_finalist INTEGER,
                                hidden_immunity BINARY,
                                final_four_fire BINARY,
                                re_entrance BINARY)          
            """)

In [53]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Borneo', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Australian Outback', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Africa', 3, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Marquesas', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Thailand', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

In [54]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Amazon', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Pearl Islands', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('All-Stars', 3, TRUE, 18, TRUE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Vanuatu', 2, TRUE, 18, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Palau', 2, FALSE, 20, FALSE, 2, FALSE, FALSE, FALSE);""")

In [55]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Guatemala', 2, TRUE, 18, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Panama', 4, TRUE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cook Islands', 4, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Fiji', 2, TRUE, 19, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('China', 2, TRUE, 16, FALSE, 3, TRUE, FALSE, FALSE);""")

In [56]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Micronesia - Fans v Favorites', 2, TRUE, 20, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Gabon', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Tocantins', 2, FALSE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Samoa', 2, FALSE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Villians', 2, FALSE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

In [57]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Nicaragua', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Redemption Island', 2, FALSE, 18, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('South Pacific', 2, FALSE, 18, FALSE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('One World', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Philippines', 3, TRUE, 18, TRUE, 3, TRUE, FALSE, FALSE);""")

In [58]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Caramoan', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Blood vs. Water', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cagayan', 3, TRUE, 18, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('San Juan del Sur', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Worlds Apart', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

In [59]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cambodia', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Kaoh Rong', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Millennials vs. Gen X', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Game Changers', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Healers vs. Hustlers', 3, TRUE, 18, FALSE, 3, TRUE, TRUE, FALSE);""")

In [60]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Ghost Island', 2, TRUE, 20, FALSE, 2, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('David vs. Goliath', 2, TRUE, 20, FALSE, 3, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Edge of Extinction', 2, TRUE, 18, TRUE, 3, TRUE, TRUE, TRUE);""")

In [51]:
#cur.execute("""DROP TABLE seasons""")

In [61]:
cur.execute("""SELECT * FROM seasons""").fetchall()

[(1, 'Borneo', 2, 0, 16, 0, 2, 0, 0, 0),
 (2, 'The Australian Outback', 2, 0, 16, 0, 2, 0, 0, 0),
 (3, 'Africa', 3, 1, 16, 0, 2, 0, 0, 0),
 (4, 'Marquesas', 2, 1, 16, 0, 2, 0, 0, 0),
 (5, 'Thailand', 2, 0, 16, 0, 2, 0, 0, 0),
 (6, 'The Amazon', 2, 1, 16, 0, 2, 0, 0, 0),
 (7, 'Pearl Islands', 2, 0, 16, 0, 2, 0, 0, 1),
 (8, 'All-Stars', 3, 1, 18, 1, 2, 0, 0, 0),
 (9, 'Vanuatu', 2, 1, 18, 0, 2, 0, 0, 0),
 (10, 'Palau', 2, 0, 20, 0, 2, 0, 0, 0),
 (11, 'Guatemala', 2, 1, 18, 1, 2, 1, 0, 0),
 (12, 'Panama', 4, 1, 16, 0, 2, 1, 0, 0),
 (13, 'Cook Islands', 4, 1, 20, 0, 3, 1, 0, 0),
 (14, 'Fiji', 2, 1, 19, 0, 3, 1, 0, 0),
 (15, 'China', 2, 1, 16, 0, 3, 1, 0, 0),
 (16, 'Micronesia - Fans v Favorites', 2, 1, 20, 1, 2, 1, 0, 0),
 (17, 'Gabon', 2, 1, 18, 0, 3, 1, 0, 0),
 (18, 'Tocantins', 2, 0, 16, 0, 2, 1, 0, 0),
 (19, 'Samoa', 2, 0, 20, 0, 3, 1, 0, 0),
 (20, 'Heroes vs. Villians', 2, 0, 20, 1, 3, 1, 0, 0),
 (21, 'Nicaragua', 2, 1, 20, 0, 3, 1, 0, 0),
 (22, 'Redemption Island', 2, 0, 18, 1, 3, 1, 0, 1),
 (23, 'South Pacific', 2, 0, 18, 0, 3, 1, 0, 1),
 (24, 'One World', 2, 1, 18, 0, 3, 1, 0, 0),
 (25, 'Philippines', 3, 1, 18, 1, 3, 1, 0, 0),
 (26, 'Caramoan', 2, 1, 20, 1, 3, 1, 0, 0),
 (27, 'Blood vs. Water', 2, 1, 20, 1, 3, 1, 0, 1),
 (28, 'Cagayan', 3, 1, 18, 0, 2, 1, 0, 0),
 (29, 'San Juan del Sur', 2, 1, 18, 0, 3, 1, 0, 0),
 (30, 'Worlds Apart', 3, 1, 18, 0, 3, 1, 0, 0),
 (31, 'Cambodia', 2, 1, 20, 1, 3, 1, 0, 0),
 (32, 'Kaoh Rong', 3, 1, 18, 0, 3, 1, 0, 0),
 (33, 'Millennials vs. Gen X', 2, 1, 20, 0, 3, 1, 0, 0),
 (34, 'Game Changers', 2, 1, 20, 1, 3, 1, 0, 0),
 (35, 'Heroes vs. Healers vs. Hustlers', 3, 1, 18, 0, 3, 1, 1, 0),
 (36, 'Ghost Island', 2, 1, 20, 0, 2, 1, 1, 0),
 (37, 'David vs. Goliath', 2, 1, 20, 0, 3, 1, 1, 0),
 (38, 'Edge of Extinction', 2, 1, 18, 1, 3, 1, 1, 1)]

I am including race as part of the player descriptions as there is much discussion in the community that race may play some role in elimination order implicity. One thing I want to look at in the future, is this statistially true. Note that I am not a race expert and have not extensively researched every player. They may be mis-categorized for this reason.

In [65]:
# cur.execute("""DROP TABLE players""")

In [66]:
cur.execute("""CREATE TABLE players (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                age INTEGER,
                                season INTEGER,
                                placement FLOAT,
                                occupation TEXT,
                                location TEXT,
                                gender TEXT,
                                race TEXT,
                                returnee BINARY
                                )          
            """)

# season should be the foreign key to the seasons table

I will be simplifying occupation titles for future exploration of this feature. Ex. Marketing Director and Marketing Manager are both Marketing.

I will also simplify location to state

In [67]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Reem Daly', 46, 38, 18/18,
                    'Sales', 'Virginia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Sowell', 19, 38, 17/18,
                    'Student', 'North Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aubry Bracco', 32, 38, 16/18,
                    'Marketing', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendy Diaz', 25, 38, 15/18,
                    'Entrepreneur', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Anglim', 29, 38, 14/18,
                    'Artist', 'Utah', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eric Hafemann', 34, 38, 13/18,
                    'Firefighter', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julia Carter', 25, 38, 12/18,
                    'Medical Student', 'Maryland', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Wright', 44, 38, 11/18,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelley Wentworth', 32, 38, 10/18,
                    'Marketing', 'Washington', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan "Wardog" DaSilva', 38, 38, 9/18,
                    'Law Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ron Clark', 45, 38, 8/18,
                    'Teacher', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aurora McCreary', 32, 38, 7/18,
                    'Lawyer', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Victoria Baamonde', 23, 38, 6/18,
                    'Waiter', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Lauren O'Connell", 21, 38, 5/18,
                    'Student', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rick Devens', 33, 38, 4/18,
                    'News Anchor', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie Rosenberg', 46, 38, 3/18,
                    'Entrepreneur', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gavin Whitson', 23, 38, 2/18,
                    'Program Director', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Underwood', 25, 38, 1/18,
                    'Sales', 'South Carolina', 'M',
                    'Caucasian', FALSE);
            """)

In [68]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Pat Cusack', 25, 37, 20/20,
                    'Manager', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica Peet', 19, 37, 19/20,
                    'Waiter', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeremy Crawford', 40, 37, 18/20,
                    'Lawyer', 'New York', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bi Nguyen', 28, 37, 17/20,
                    'Pro Athlete', 'Texas', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalia Azoqa', 26, 37, 16/20,
                    'Engineer', 'California', 'F',
                    'Middle Eastern', FALSE);
            """)

# Natalia's Dad is from Jordan, note that the US Census counts this as white

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Cole', 57, 37, 15/20,
                    'CEO', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lyrsa Torres', 36, 37, 14/20,
                    'Chef', 'Massachusetts', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Elizabeth Olson', 31, 37, 13/20,
                    'Kitchen Staff', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Hennigan', 38, 37, 12/20,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Rengering', 28, 37, 11/20,
                    'Police', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alec Merlino', 24, 37, 10/20,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carl Boudreaux', 41, 37, 9/20,
                    'Truck Driver', 'Texas', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gabby Pascuzzi', 25, 37, 8/20,
                    'Tech', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christian Hubicki', 32, 37, 7/20,
                    'Robotics', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Davie Rickenbacker', 30, 37, 6/20,
                    'Social Media', 'Georiga', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alison Raybould', 28, 37, 5/20,
                    'Physician', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kara Kay', 30, 37, 4/20,
                    'Real Estate', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angelina Keeley', 28, 37, 3/20,
                    'Finance', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike White', 47, 37, 2/20,
                    'Writer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nick Wilson', 27, 37, 1/20,
                    'Lawyer', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

In [69]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Gonzalez', 26, 36, 20/20,
                    'Sales', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jacob Derwin', 22, 36, 19/20,
                    'Teacher', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Morgan Ricke', 29, 36, 18/20,
                    'Animal Trainer', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brendon Shapiro', 40, 36, 17/20,
                    'Teacher', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Johnson', 34, 36, 16/20,
                    'Fitness', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Lim', 24, 36, 15/20,
                    'Business', 'New York', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bradley Kleihege', 26, 36, 14/20,
                    'Law Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Noble', 27, 36, 13/20,
                    'Model', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Libby Vineck', 24, 36, 12/20,
                    'Social Media', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Desiree Afuye', 21, 36, 11/20,
                    'Student', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenna Bowman', 23, 36, 10/20,
                    'Marketing', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Yerger', 18, 36, 9/20,
                    'Real Estate', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chelsea Townsend', 25, 36, 8/20,
                    'Cheerleader', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kellyn Bechtold', 30, 36, 7/20,
                    'Career Counselor', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sebastian Noel', 22, 36, 6/20,
                    'Fisher', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Donathan Hurley', 25, 36, 5/20,
                    'Caretaker', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angela Perkins', 42, 36, 4/20,
                    'Veteran', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laurel Johnson', 28, 36, 3/20,
                    'Finance', 'Minnesota', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Domenick Abbate', 38, 36, 2/20,
                    'Construction', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendell Holland', 33, 36, 1/20,
                    'Entrepreneur', 'Pennsylvania', 'M',
                    'Black', FALSE);
            """)