In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('survivor_database.db')
cur = conn.cursor()

In [4]:
! ls

README.md             create_database.ipynb survivor_database.db

In [52]:
cur.execute("""CREATE TABLE seasons (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                num_initial_tribes INTEGER,
                                swap BINARY,
                                num_players INTEGER,
                                returnee BINARY,
                                num_finalist INTEGER,
                                hidden_immunity BINARY,
                                final_four_fire BINARY,
                                re_entrance BINARY)          
            """)

In [53]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Borneo', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Australian Outback', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Africa', 3, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Marquesas', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Thailand', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

In [54]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Amazon', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Pearl Islands', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('All-Stars', 3, TRUE, 18, TRUE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Vanuatu', 2, TRUE, 18, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Palau', 2, FALSE, 20, FALSE, 2, FALSE, FALSE, FALSE);""")

In [55]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Guatemala', 2, TRUE, 18, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Panama', 4, TRUE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cook Islands', 4, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Fiji', 2, TRUE, 19, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('China', 2, TRUE, 16, FALSE, 3, TRUE, FALSE, FALSE);""")

In [56]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Micronesia - Fans v Favorites', 2, TRUE, 20, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Gabon', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Tocantins', 2, FALSE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Samoa', 2, FALSE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Villians', 2, FALSE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

In [57]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Nicaragua', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Redemption Island', 2, FALSE, 18, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('South Pacific', 2, FALSE, 18, FALSE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('One World', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Philippines', 3, TRUE, 18, TRUE, 3, TRUE, FALSE, FALSE);""")

In [58]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Caramoan', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Blood vs. Water', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cagayan', 3, TRUE, 18, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('San Juan del Sur', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Worlds Apart', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

In [59]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cambodia', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Kaoh Rong', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Millennials vs. Gen X', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Game Changers', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Healers vs. Hustlers', 3, TRUE, 18, FALSE, 3, TRUE, TRUE, FALSE);""")

In [ ]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Ghost Island', 2, TRUE, 20, FALSE, 2, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('David vs. Goliath', 2, TRUE, 20, FALSE, 3, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Edge of Extinction', 2, TRUE, 18, TRUE, 3, TRUE, TRUE, FALSE);""")

In [51]:
#cur.execute("""DROP TABLE seasons""")

In [ ]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee) 
                VALUES ('Borneo', 2, FALSE, 16, FALSE);""")

In [ ]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee) 
                VALUES ('Borneo', 2, FALSE, 16, FALSE);""")

In [ ]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee) 
                VALUES ('Borneo', 2, FALSE, 16, FALSE);""")

In [ ]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee) 
                VALUES ('Borneo', 2, FALSE, 16, FALSE);""")

In [28]:
cur.execute("""SELECT * FROM seasons""").fetchall()

OperationalError: no such table: seasons