In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('survivor_database.db')
cur = conn.cursor()

In [3]:
! ls

README.md             create_database.ipynb survivor_database.db

In [5]:
# cur.execute("""DROP TABLE seasons""")

In [6]:
cur.execute("""CREATE TABLE seasons (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                num_initial_tribes INTEGER,
                                swap BINARY,
                                num_players INTEGER,
                                returnee BINARY,
                                num_finalist INTEGER,
                                hidden_immunity BINARY,
                                final_four_fire BINARY,
                                re_entrance BINARY)          
            """)

In [7]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Borneo', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Australian Outback', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Africa', 3, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Marquesas', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Thailand', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

In [8]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('The Amazon', 2, TRUE, 16, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Pearl Islands', 2, FALSE, 16, FALSE, 2, FALSE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('All-Stars', 3, TRUE, 18, TRUE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Vanuatu', 2, TRUE, 18, FALSE, 2, FALSE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Palau', 2, FALSE, 20, FALSE, 2, FALSE, FALSE, FALSE);""")

In [9]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Guatemala', 2, TRUE, 18, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance)
                VALUES ('Panama', 4, TRUE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cook Islands', 4, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Fiji', 2, TRUE, 19, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('China', 2, TRUE, 16, FALSE, 3, TRUE, FALSE, FALSE);""")

In [10]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Micronesia - Fans v Favorites', 2, TRUE, 20, TRUE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Gabon', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Tocantins', 2, FALSE, 16, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Samoa', 2, FALSE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Villians', 2, FALSE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

In [11]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Nicaragua', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Redemption Island', 2, FALSE, 18, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('South Pacific', 2, FALSE, 18, FALSE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('One World', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Philippines', 3, TRUE, 18, TRUE, 3, TRUE, FALSE, FALSE);""")

In [12]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Caramoan', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Blood vs. Water', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, TRUE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cagayan', 3, TRUE, 18, FALSE, 2, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('San Juan del Sur', 2, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Worlds Apart', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

In [13]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Cambodia', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Kaoh Rong', 3, TRUE, 18, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Millennials vs. Gen X', 2, TRUE, 20, FALSE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Game Changers', 2, TRUE, 20, TRUE, 3, TRUE, FALSE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Heroes vs. Healers vs. Hustlers', 3, TRUE, 18, FALSE, 3, TRUE, TRUE, FALSE);""")

In [14]:
cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Ghost Island', 2, TRUE, 20, FALSE, 2, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('David vs. Goliath', 2, TRUE, 20, FALSE, 3, TRUE, TRUE, FALSE);""")

cur.execute("""INSERT INTO seasons (name, num_initial_tribes, swap, num_players, returnee,
                                    num_finalist, hidden_immunity, final_four_fire, re_entrance) 
                VALUES ('Edge of Extinction', 2, TRUE, 18, TRUE, 3, TRUE, TRUE, TRUE);""")

In [15]:
cur.execute("""SELECT * FROM seasons""").fetchall()

[(1, 'Borneo', 2, 0, 16, 0, 2, 0, 0, 0),
 (2, 'The Australian Outback', 2, 0, 16, 0, 2, 0, 0, 0),
 (3, 'Africa', 3, 1, 16, 0, 2, 0, 0, 0),
 (4, 'Marquesas', 2, 1, 16, 0, 2, 0, 0, 0),
 (5, 'Thailand', 2, 0, 16, 0, 2, 0, 0, 0),
 (6, 'The Amazon', 2, 1, 16, 0, 2, 0, 0, 0),
 (7, 'Pearl Islands', 2, 0, 16, 0, 2, 0, 0, 1),
 (8, 'All-Stars', 3, 1, 18, 1, 2, 0, 0, 0),
 (9, 'Vanuatu', 2, 1, 18, 0, 2, 0, 0, 0),
 (10, 'Palau', 2, 0, 20, 0, 2, 0, 0, 0),
 (11, 'Guatemala', 2, 1, 18, 1, 2, 1, 0, 0),
 (12, 'Panama', 4, 1, 16, 0, 2, 1, 0, 0),
 (13, 'Cook Islands', 4, 1, 20, 0, 3, 1, 0, 0),
 (14, 'Fiji', 2, 1, 19, 0, 3, 1, 0, 0),
 (15, 'China', 2, 1, 16, 0, 3, 1, 0, 0),
 (16, 'Micronesia - Fans v Favorites', 2, 1, 20, 1, 2, 1, 0, 0),
 (17, 'Gabon', 2, 1, 18, 0, 3, 1, 0, 0),
 (18, 'Tocantins', 2, 0, 16, 0, 2, 1, 0, 0),
 (19, 'Samoa', 2, 0, 20, 0, 3, 1, 0, 0),
 (20, 'Heroes vs. Villians', 2, 0, 20, 1, 3, 1, 0, 0),
 (21, 'Nicaragua', 2, 1, 20, 0, 3, 1, 0, 0),
 (22, 'Redemption Island', 2, 0, 18, 1, 3, 1, 0, 1),
 (23, 'South Pacific', 2, 0, 18, 0, 3, 1, 0, 1),
 (24, 'One World', 2, 1, 18, 0, 3, 1, 0, 0),
 (25, 'Philippines', 3, 1, 18, 1, 3, 1, 0, 0),
 (26, 'Caramoan', 2, 1, 20, 1, 3, 1, 0, 0),
 (27, 'Blood vs. Water', 2, 1, 20, 1, 3, 1, 0, 1),
 (28, 'Cagayan', 3, 1, 18, 0, 2, 1, 0, 0),
 (29, 'San Juan del Sur', 2, 1, 18, 0, 3, 1, 0, 0),
 (30, 'Worlds Apart', 3, 1, 18, 0, 3, 1, 0, 0),
 (31, 'Cambodia', 2, 1, 20, 1, 3, 1, 0, 0),
 (32, 'Kaoh Rong', 3, 1, 18, 0, 3, 1, 0, 0),
 (33, 'Millennials vs. Gen X', 2, 1, 20, 0, 3, 1, 0, 0),
 (34, 'Game Changers', 2, 1, 20, 1, 3, 1, 0, 0),
 (35, 'Heroes vs. Healers vs. Hustlers', 3, 1, 18, 0, 3, 1, 1, 0),
 (36, 'Ghost Island', 2, 1, 20, 0, 2, 1, 1, 0),
 (37, 'David vs. Goliath', 2, 1, 20, 0, 3, 1, 1, 0),
 (38, 'Edge of Extinction', 2, 1, 18, 1, 3, 1, 1, 1)]

I am including race as part of the player descriptions as there is much discussion in the community that race may play some role in elimination order implicity. One thing I want to look at in the future, is this statistially true. Note that I am not a race expert and have not extensively researched every player. They may be mis-categorized for this reason.

In [18]:
# cur.execute("""DROP TABLE players""")

In [19]:
cur.execute("""CREATE TABLE players (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                age INTEGER,
                                season INTEGER,
                                placement FLOAT,
                                occupation TEXT,
                                location TEXT,
                                gender TEXT,
                                race TEXT,
                                returnee BINARY
                                )          
            """)

# season should be the foreign key to the seasons table

I will be simplifying occupation titles for future exploration of this feature. Ex. Marketing Director and Marketing Manager are both Marketing.

I will also simplify location to state

In [20]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Reem Daly', 46, 38, 18/18,
                    'Sales', 'Virginia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Sowell', 19, 38, 17/18,
                    'Student', 'North Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aubry Bracco', 32, 38, 16/18,
                    'Marketing', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendy Diaz', 25, 38, 15/18,
                    'Entrepreneur', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Anglim', 29, 38, 14/18,
                    'Artist', 'Utah', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eric Hafemann', 34, 38, 13/18,
                    'Firefighter', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julia Carter', 25, 38, 12/18,
                    'Medical Student', 'Maryland', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Wright', 44, 38, 11/18,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelley Wentworth', 32, 38, 10/18,
                    'Marketing', 'Washington', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan "Wardog" DaSilva', 38, 38, 9/18,
                    'Law Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ron Clark', 45, 38, 8/18,
                    'Teacher', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aurora McCreary', 32, 38, 7/18,
                    'Lawyer', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Victoria Baamonde', 23, 38, 6/18,
                    'Waiter', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Lauren O'Connell", 21, 38, 5/18,
                    'Student', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rick Devens', 33, 38, 4/18,
                    'News Anchor', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie Rosenberg', 46, 38, 3/18,
                    'Entrepreneur', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gavin Whitson', 23, 38, 2/18,
                    'Program Director', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Underwood', 25, 38, 1/18,
                    'Sales', 'South Carolina', 'M',
                    'Caucasian', FALSE);
            """)

In [21]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Pat Cusack', 25, 37, 20/20,
                    'Manager', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica Peet', 19, 37, 19/20,
                    'Waiter', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeremy Crawford', 40, 37, 18/20,
                    'Lawyer', 'New York', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bi Nguyen', 28, 37, 17/20,
                    'Pro Athlete', 'Texas', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalia Azoqa', 26, 37, 16/20,
                    'Engineer', 'California', 'F',
                    'Middle Eastern', FALSE);
            """)

# Natalia's Dad is from Jordan, note that the US Census counts this as white

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Cole', 57, 37, 15/20,
                    'CEO', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lyrsa Torres', 36, 37, 14/20,
                    'Chef', 'Massachusetts', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Elizabeth Olson', 31, 37, 13/20,
                    'Kitchen Staff', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Hennigan', 38, 37, 12/20,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Rengering', 28, 37, 11/20,
                    'Police', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alec Merlino', 24, 37, 10/20,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carl Boudreaux', 41, 37, 9/20,
                    'Truck Driver', 'Texas', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gabby Pascuzzi', 25, 37, 8/20,
                    'Tech', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christian Hubicki', 32, 37, 7/20,
                    'Robotics', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Davie Rickenbacker', 30, 37, 6/20,
                    'Social Media', 'Georiga', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alison Raybould', 28, 37, 5/20,
                    'Physician', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kara Kay', 30, 37, 4/20,
                    'Real Estate', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angelina Keeley', 28, 37, 3/20,
                    'Finance', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike White', 47, 37, 2/20,
                    'Writer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nick Wilson', 27, 37, 1/20,
                    'Lawyer', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

In [22]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Gonzalez', 26, 36, 20/20,
                    'Sales', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jacob Derwin', 22, 36, 19/20,
                    'Teacher', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Morgan Ricke', 29, 36, 18/20,
                    'Animal Trainer', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brendon Shapiro', 40, 36, 17/20,
                    'Teacher', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Johnson', 34, 36, 16/20,
                    'Fitness', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Lim', 24, 36, 15/20,
                    'Business', 'New York', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bradley Kleihege', 26, 36, 14/20,
                    'Law Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Noble', 27, 36, 13/20,
                    'Model', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Libby Vineck', 24, 36, 12/20,
                    'Social Media', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Desiree Afuye', 21, 36, 11/20,
                    'Student', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenna Bowman', 23, 36, 10/20,
                    'Marketing', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Yerger', 18, 36, 9/20,
                    'Real Estate', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chelsea Townsend', 25, 36, 8/20,
                    'Cheerleader', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kellyn Bechtold', 30, 36, 7/20,
                    'Career Counselor', 'Colorado', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sebastian Noel', 22, 36, 6/20,
                    'Fisher', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Donathan Hurley', 25, 36, 5/20,
                    'Caretaker', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angela Perkins', 42, 36, 4/20,
                    'Veteran', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laurel Johnson', 28, 36, 3/20,
                    'Finance', 'Minnesota', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Domenick Abbate', 38, 36, 2/20,
                    'Construction', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendell Holland', 33, 36, 1/20,
                    'Entrepreneur', 'Pennsylvania', 'M',
                    'Black', FALSE);
            """)

In [23]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Katrina Radke', 46, 35, 18/18,
                    'Pro Athlete', 'Minnesota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Simone Nquyen', 25, 35, 17/18,
                    'Advocate', 'New York', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Patrick Bolton', 24, 35, 16/18,
                    'Entrepreneur', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alan Ball', 32, 35, 15/18,
                    'Pro Athlete', 'Texas', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Roark Luskin', 27, 35, 14/18,
                    'Social Worker', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ali Elliott', 24, 35, 13/18,
                    'Assistant', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica Johnston', 29, 35, 12/18,
                    'Nurse', 'Kentucky', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Desi Williams', 27, 35, 11/18,
                    'Physical Therapist', 'Virginia', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cole Medders', 24, 35, 10/18,
                    'Wilderness Guide', 'Arkansas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JP Hilsabeck', 28, 35, 9/18,
                    'Firefighter', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Mena', 34, 35, 8/18,
                    'Police', 'Connecticut', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lauren Rimmer', 35, 35, 7/18,
                    'Fisher', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Nolan', 26, 35, 6/18,
                    'Lifeguard', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Zahalsky', 43, 35, 5/18,
                    'Physician', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Devon Pinto', 23, 35, 4/18,
                    'Surfer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ryan Ulrich', 23, 35, 3/18,
                    'Bellhop', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chrissy Hofbeck', 46, 35, 2/18,
                    'Actuary', 'New Jersey', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ben Driebergen', 34, 35, 1/18,
                    'Veteran', 'Idaho', 'M',
                    'Caucasian', FALSE);
            """)

In [24]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ciera Eastin', 27, 34, 20/20,
                    'Esthetician', 'Oregon', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tony Vlachos', 42, 34, 19/20,
                    'Police', 'New Jersey', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Caleb Reynolds', 28, 34, 18/20,
                    'Veteran', 'Kentucky', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Malcolm Freberg', 29, 34, 17/20,
                    'Bartender', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JT Thomas', 31, 34, 16/20,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandra Diaz-Twine', 41, 34, 15/20,
                    'Military Spouse', 'North Carolina', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Varner', 50, 34, 14/20,
                    'Real Estate', 'North Carolina', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hali Ford', 26, 34, 13/20,
                    'Lawyer', 'Tennessee', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 34, 34, 12/20,
                    'Surfer', 'California', 'M',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Debbie Wanner', 51, 34, 11/20,
                    'Chemist', 'Pennsylvania', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Zeke Smith', 28, 34, 10/20,
                    'Manager', 'New York', 'M',
                    'Caucasian', TRUE);
            """)

# Zeke is trans. I will select his selected pronoun

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sierra Dawn Thomas', 29, 34, 9/20,
                    'Rancher', 'Utah', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrea Boehlke', 27, 34, 8/20,
                    'News Anchor', 'New York', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michaela Bradshaw', 25, 34, 7/20,
                    'Sales', 'Texas', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 45, 34, 6/20,
                    'Nurse', 'Connecticut', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aubry Bracco', 30, 34, 5/20,
                    'Social Media', 'Massachusetts', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tai Trang', 52, 34, 4/20,
                    'Farmer', 'California', 'M',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Troyzan Robertson', 54, 34, 3/20,
                    'Photographer', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brad Culpepper', 47, 34, 2/20,
                    'Pro Athlete', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarah Lacina', 32, 34, 1/20,
                    'Police', 'Iowa', 'F',
                    'Caucasian', TRUE);
            """)

In [25]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rachel Ako', 37, 33, 20/20,
                    'Recruiter', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mari Takahashi', 31, 33, 19/20,
                    'Video Gamer', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Paul Wachter', 52, 33, 18/20,
                    'Mechanic', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lucy Huang', 42, 33, 17/20,
                    'Nutritionist', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('CeCe Taylor', 39, 33, 16/20,
                    'Insurance', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Figgy Figueroa', 23, 33, 15/20,
                    'Bartender', 'Tennessee', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michaela Bradshaw', 25, 33, 14/20,
                    'Sales', 'Texas', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michelle Schubert', 28, 33, 13/20,
                    'Missionary', 'Washington', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Taylor Lee Stocker', 24, 33, 12/20,
                    'Snowboarder', 'Idaho', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chris Hammons', 38, 33, 11/20,
                    'Lawyer', 'Oklahoma', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jessica Lewis', 37, 33, 10/20,
                    'Lawyer', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Zeke Smith', 28, 33, 9/20,
                    'Manager', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Will Wahl', 18, 33, 8/20,
                    'Student', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sunday Bruquest', 45, 33, 7/20,
                    'Pastor', 'Minnesota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jay Starrett', 27, 33, 6/20,
                    'Real Estate', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bret LaBelle', 42, 33, 5/20,
                    'Police', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Wright', 42, 33, 4/20,
                    'Writer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hannah Shapiro', 24, 33, 2/20,
                    'Barista', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ken McNickle', 38, 33, 2/20,
                    'Model', 'Colorado', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Adam Klein', 25, 33, 1/20,
                    'Nonprofit', 'California', 'M',
                    'Caucasian', FALSE);
            """)

In [26]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Darnell Hamilton', 27, 32, 18/18,
                    'Mailman', 'Illinois', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jennifer Lanzetti', 38, 32, 17/18,
                    'Construction', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Liz Markham', 27, 32, 16/18,
                    'Computer Scientist', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Caleb Reynolds', 27, 32, 15/18,
                    'Veteran', 'Kentucky', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alecia Holden', 24, 32, 14/18,
                    'Real Estate', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Anna Khait', 26, 32, 13/18,
                    'Poker Player', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Peter Baggenstos', 34, 32, 12/18,
                    'Physician', 'Minnesota', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Neal Gottlieb', 38, 32, 11/18,
                    'Entrepreneur', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nick Maiorano', 30, 32, 10/18,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Debbie Wanner', 49, 32, 9/18,
                    'Chemist', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Scot Pollard', 40, 32, 8/18,
                    'Pro Athlete', 'Indiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julia Sokolowski', 18, 32, 7/18,
                    'Student', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kyle Jason', 31, 32, 6/18,
                    'Bounty Hunter', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Del Campo', 72, 32, 5/18,
                    'FBI', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cydney Gillon', 22, 32, 4/18,
                    'Pro Athlete', 'Georgia', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tai Trang', 51, 32, 3/18,
                    'Farmer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aubry Bracco', 29, 32, 2/18,
                    'Social Media', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michele Fitzgerald', 24, 32, 1/18,
                    'Bartender', 'New Jersey', 'F',
                    'Caucasian', FALSE);
            """)

In [27]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Vytas Baskauskas', 35, 31, 20/20,
                    'Fitness', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shirin Oskooi', 32, 31, 19/20,
                    'Tech Executive', 'California', 'F',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Peih-Gee Law', 37, 31, 18/20,
                    'Entrepreneur', 'California', 'F',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Varner', 49, 31, 17/20,
                    'Real Estate', 'North Carolina', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Padilla', 30, 31, 16/20,
                    'Lawyer', 'New York', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Terry Deitz', 55, 31, 15/20,
                    'Pilot', 'Connecticut', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Woo Hwang', 31, 31, 14/20,
                    'Fitness', 'California', 'M',
                    'Asian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kass McQuillen', 43, 31, 13/20,
                    'Lawyer', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrew Savage', 51, 31, 12/20,
                    'Lawyer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Wiglesworth', 37, 31, 11/20,
                    'Fitness', 'North Carolina', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ciera Eastin', 26, 31, 10/20,
                    'Esthetician', 'Oregon', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephen Fishbach', 36, 31, 9/20,
                    'Consultant', 'New York', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Anglim', 26, 31, 8/20,
                    'Artist', 'Arizona', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Abi-Maria Gomes', 25, 31, 7/20,
                    'Real Estate', 'California', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kimmi Kappenberg', 42, 31, 6/20,
                    'Bartender', 'Texas', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Nale', 30, 31, 5/20,
                    'Firefighter', 'Louisiana', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelley Wentworth', 29, 31, 4/20,
                    'Marketing', 'Washington', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Spencer Bledsoe', 22, 31, 2/20,
                    'Economics', 'Illinois', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tasha Fox', 38, 31, 2/20,
                    'Accountant', 'Missouri', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeremy Collins', 37, 31, 1/20,
                    'Firefighter', 'Massachusetts', 'M',
                    'Black', TRUE);
            """)

In [28]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('So Kim', 31, 30, 18/18,
                    'Buyer', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Vince Sly', 32, 30, 17/18,
                    'Entrepreneur', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nina Poersch', 51, 30, 16/18,
                    'Advocate', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lindsey Cascaddan', 24, 30, 15/18,
                    'Hair Stylist', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Max Dawson', 37, 30, 14/18,
                    'Consultant', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joaquin Souberbielle', 27, 30, 13/18,
                    'Marketing', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Remington', 44, 30, 12/18,
                    'Police', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hali Ford', 25, 30, 11/18,
                    'Law Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Anglim', 25, 30, 10/18,
                    'Artist', 'Arizona', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jenn Brown', 22, 30, 9/18,
                    'Sailor', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shirin Oskooi', 31, 30, 8/18,
                    'Tech Executive', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyler Fredrickson', 33, 30, 7/18,
                    'Talent Agent', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Foley', 47, 30, 6/18,
                    'Mailman', 'Maine', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sierra Dawn Thomas', 27, 30, 5/18,
                    'Rancher', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rodney Lavoie', 24, 30, 4/18,
                    'Construction', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Will Sims', 41, 30, 2/18,
                    'Viral Star', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carolyn Rivera', 52, 30, 2/18,
                    'Executive', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Holloway', 38, 30, 1/18,
                    'Oil Driller', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

In [29]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nadiya Anderson', 28, 29, 18/18,
                    'Fitness', 'New Jersey', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Val Collins', 35, 29, 17/18,
                    'Police', 'Massachusetts', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Rocker', 39, 29, 16/18,
                    'Pro Athlete', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Drew Christy', 25, 29, 15/18,
                    'Sales', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelley Wentworth', 28, 29, 14/18,
                    'Marketing', 'Washington', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dale Wentworth', 55, 29, 13/18,
                    'Farmer', 'Washington', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie McGee', 34, 29, 12/18,
                    'Model', 'Georgia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Josh Canfield', 32, 29, 11/18,
                    'Actor', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeremy Collins', 36, 29, 10/18,
                    'Firefighter', 'Massachusetts', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wes Nale', 23, 29, 9/18,
                    'Firefighter', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Reed Kelly', 31, 29, 8/18,
                    'Actor', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alec Christy', 22, 29, 7/18,
                    'Student', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jon Misch', 26, 29, 6/18,
                    'Finance', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Baylor Wilson', 20, 29, 5/18,
                    'Student', 'Tennessee', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Nale', 53, 29, 4/18,
                    'Firefighter', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Missy Payne', 47, 29, 2/18,
                    'Entrepreneur', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jaclyn Schultz', 25, 29, 2/18,
                    'Buyer', 'Nevada', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Anderson', 28, 29, 1/18,
                    'Fitness', 'New Jersey', 'F',
                    'Asian', FALSE);
            """)

In [30]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Samson', 45, 28, 18/18,
                    'Sports President', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Garrett Adelstein', 27, 28, 17/18,
                    'Poker Player', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brice Johnston', 27, 28, 16/18,
                    'Social Worker', 'Pennsylvania', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("J'Tia Taylor", 31, 28, 15/18,
                    'Engineer', 'Illinois', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cliff Robinson', 46, 28, 14/18,
                    'Pro Athlete', 'New Jersey', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lindsey Ogle', 29, 28, 13/18,
                    'Hairstylist', 'Indiana', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alexis Maxwell', 21, 28, 12/18,
                    'Student', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarah Lacina', 29, 28, 11/18,
                    'Police', 'Iowa', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Morgan McLeod', 21, 28, 10/18,
                    'Cheerleader', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('LJ McKanas', 34, 28, 9/18,
                    'Animal Trainer', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeremiah Wood', 34, 28, 8/18,
                    'Model', 'North Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jefra Bland', 22, 28, 7/18,
                    'Pageant Queen', 'Kentucky', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tasha Fox', 37, 28, 6/18,
                    'Accountant', 'Missouri', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Trish Hegarty', 48, 28, 5/18,
                    'Fitness', 'Massachusetts', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Spencer Bledsoe', 21, 28, 4/18,
                    'Student', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kass McQuillen', 41, 28, 3/18,
                    'Lawyer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Woo Hwang', 29, 28, 2/18,
                    'Fitness', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tony Vlachos', 39, 28, 1/18,
                    'Police', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

In [31]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rupert Boneham', 49, 27, 20/20,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colton Cumbie', 22, 27, 19/20,
                    'Student', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rachel Foulger', 33, 27, 18/20,
                    'Waitress', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marissa Peterson', 21, 27, 17/20,
                    'Student', 'North Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candice Cody', 30, 27, 16/20,
                    'Physician', 'DC', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brad Culpepper', 44, 27, 15/20,
                    'Pro Athlete', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kat Edorsson', 23, 27, 14/20,
                    'Student', 'Florida', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Cody', 30, 27, 12/20,
                    'Physician', 'DC', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Boneham', 44, 27, 12/20,
                    'Merchandiser', 'Indiana', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Aras Baskauskas', 31, 27, 11/20,
                    'Musician', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Vytas Baskauskas', 33, 27, 10/20,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Caleb Bankston', 26, 27, 9/20,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Katie Collins', 25, 27, 8/20,
                    'Hedge Fund Support', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hayden Moss', 27, 27, 6/20,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Morett', 43, 27, 6/20,
                    'Business Owner', 'Oregon', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ciera Eastin', 24, 27, 5/20,
                    'Student', 'Oregon', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tina Wesson', 52, 27, 4/20,
                    'Motivational Speaker', 'North Carolina', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gervase Peterson', 43, 27, 3/20,
                    'Business Owner', 'Pennsylvania', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Culpepper', 42, 27, 2/20,
                    'Homemaker', 'Florida', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyson Apostol', 34, 27, 1/20,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', TRUE);
            """)

In [32]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Francesca Hogi', 38, 26, 20/20,
                    'Lawyer', 'New York', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Allie Pohevitz', 25, 26, 19/20,
                    'Bartender', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Hope Driskill', 23, 26, 18/20,
                    'Student', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shamar Thomas', 27, 26, 17/20,
                    'Veteran', 'New York', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Alexander', 23, 26, 16/20,
                    'Administrative Officer', 'DC', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brandon Hantz', 20, 26, 15/20,
                    'Disposal', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Bischoff', 38, 26, 14/20,
                    'Sales', 'Ohio', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julia Landauer', 21, 26, 13/20,
                    'Pro Athlete', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Corinne Kaplan', 33, 26, 12/20,
                    'Consultant', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Snow', 44, 26, 11/20,
                    'Event Planner', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Phillip Sheppard', 54, 26, 10/20,
                    'CEO', 'California', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Malcolm Freberg', 25, 26, 9/20,
                    'Bartender', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Reynold Toepfer', 30, 26, 8/20,
                    'Real Estate', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrea Boehlke', 23, 26, 7/20,
                    'News Anchor', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brenda Lowe', 29, 26, 6/20,
                    'Business Owner', 'Florida', 'F',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Reichenbach', 27, 26, 5/20,
                    'Artist', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eddie Fox', 23, 26, 4/20,
                    'Firefighter', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sherri Biethman', 41, 26, 2/20,
                    'Business Owner', 'Idaho', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dawn Meehan', 42, 26, 2/20,
                    'Professor', 'Utah', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Cochran', 25, 26, 1/20,
                    'Law Student', 'DC', 'M',
                    'Caucasian', TRUE);
            """)

In [33]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Zane Knight', 28, 25, 18/18,
                    'Mechanic', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Roxy Morris', 28, 25, 17/18,
                    'Missionary', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Angie Layton', 20, 25, 16/18,
                    'Model', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Russell Swan", 45, 25, 15/18,
                    'Lawyer', 'Pennsylvania', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dana Lambert', 32, 25, 14/18,
                    'Cosmetologist', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarah Dawson', 28, 25, 13/18,
                    'Sales', 'Maryland', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Katie Hanson', 22, 25, 12/18,
                    'Pageant Queen', 'Delaware', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('RC Saint-Amour', 27, 25, 11/18,
                    'Banker', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jeff Kent', 44, 25, 10/18,
                    'Pro Athlete', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Artis Silvester', 53, 25, 9/18,
                    'Computer Scientist', 'Louisiana', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Pete Yurkowski', 24, 25, 8/18,
                    'Engineer', 'New Jersey', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Penner', 50, 25, 7/18,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carter Williams', 23, 25, 6/18,
                    'Coach', 'Kansas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Abi-Maria Gomes', 32, 25, 5/18,
                    'Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Malcolm Freberg', 25, 25, 4/18,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Lisa Whelchel', 49, 25, 2/18,
                    'Actor', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Skupin', 50, 25, 2/18,
                    'Motivational Speaker', 'Michigan', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Denise Stapley', 41, 25, 1/18,
                    'Therapist', 'Iowa', 'F',
                    'Caucasian', FALSE);
            """)

In [34]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kourtney Moon', 29, 24, 18/18,
                    'Mechanic', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Nina Acosta', 51, 24, 17/18,
                    'Police', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Quinlan', 33, 24, 16/18,
                    'Lawyer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Bill Posley", 28, 24, 15/18,
                    'Comedian', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Culpepper', 41, 24, 14/18,
                    'Homemaker', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colton Cumbie', 21, 24, 13/18,
                    'Student', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonas Otsuji', 37, 24, 12/18,
                    'Chef', 'Utah', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michael Jefferson', 30, 24, 11/18,
                    'Banker', 'Washington', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jay Byars', 25, 24, 10/18,
                    'Model', 'South Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Leif Manson', 27, 24, 9/18,
                    'Phlebotomist', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Troyzan Robertson', 50, 24, 8/18,
                    'Photographer', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kat Edorsson', 22, 24, 7/18,
                    'Sales', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tarzan Smith', 64, 24, 6/18,
                    'Physician', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alicia Rosa', 25, 24, 5/18,
                    'Teacher', 'Illinois', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christina Cha', 29, 24, 4/18,
                    'Career Coach', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chelsea Meissner', 26, 24, 3/18,
                    'Sales', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sabrina Thompson', 33, 24, 2/18,
                    'Teacher', 'New York', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kim Spradlin', 29, 24, 1/18,
                    'Business Owner', 'Texas', 'F',
                    'Caucasian', FALSE);
            """)

In [35]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Semhar Tadesse', 24, 23, 18/18,
                    'Artist', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Papa Bear Caruso', 48, 23, 17/18,
                    'Police', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stacey Powell', 44, 23, 16/18,
                    'Mortician', 'Texas', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Elyse Umemoto", 27, 23, 15/18,
                    'Dancer', 'Nevada', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mikayla Wingle', 22, 23, 14/18,
                    'Model', 'Florida', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Christine Shields-Markoski', 39, 23, 13/18,
                    'Teacher', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jim Rice', 35, 23, 11/18,
                    'Business Owner', 'Colorado', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Keith Tollefson', 26, 23, 11/18,
                    'Water Treatment Tech', 'Minnesota', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dawn Meehan', 41, 23, 9/18,
                    'Professor', 'Utah', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Whitney Duncan', 27, 23, 9/18,
                    'Musician', 'Tennessee', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Cochran', 24, 23, 8/18,
                    'Law Student', 'DC', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Edna Ma', 35, 23, 7/18,
                    'Physician', 'California', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brandon Hantz', 19, 23, 6/18,
                    'Oil Tanker Crewman', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rick Nelson', 51, 23, 5/18,
                    'Farmer', 'Utah', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 29, 23, 4/18,
                    'Surfer', 'California', 'M',
                    'Latinx', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Albert Destrade', 26, 23, 3/18,
                    'Coach', 'Florida', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 39, 23, 2/18,
                    'Coach', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sophie Clarke', 22, 23, 1/18,
                    'Medical Student', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

In [36]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Francesca Hogi', 36, 22, 18/18,
                    'Lawyer', 'DC', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 37, 22, 17/18,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kristina Kell', 46, 22, 16/18,
                    'Law Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ("Krista Klumpp", 25, 22, 15/18,
                    'Sales', 'South Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephanie Valencia', 26, 22, 14/18,
                    'Waiter', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sarita White', 36, 22, 13/18,
                    'Producer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('David Murphy', 31, 22, 12/18,
                    'Lawyer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Julie Wolfe', 50, 22, 11/18,
                    'Firefighter', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Steve Wright', 51, 22, 10/18,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ralph Kiser', 45, 22, 9/18,
                    'Farmer', 'Virginia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Grant Mattos', 29, 22, 6/18,
                    'Pro Athlete', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matt Elrod', 22, 22, 6/18,
                    'Student', 'Tennessee', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Chiesl', 31, 22, 6/18,
                    'Veteran', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Andrea Boehlke', 21, 22, 5/18,
                    'Student', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Underwood', 25, 22, 4/18,
                    'Nurse', 'Maine', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Tenerelli', 19, 22, 3/18,
                    'Dancer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Phillip Sheppard', 52, 22, 2/18,
                    'FBI', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 34, 22, 1/18,
                    'Poker Player', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

In [37]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Wendy Jo DeSmidt-Kohlhoff', 48, 21, 20/20,
                    'Farmer', 'Montant', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shannon Elkins', 30, 21, 19/20,
                    'Business Owner', 'Louisiana', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jimmy Johnson', 67, 21, 18/20,
                    'Coach', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jimmy Tarantino', 48, 21, 17/20,
                    'Fisher', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyrone Davis', 42, 21, 16/20,
                    'Firefighter', 'California', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Bruno', 26, 21, 15/20,
                    'Medical Student', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yve Rojas', 41, 21, 14/20,
                    'Homemaker', 'Missouri', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jill Behm', 43, 21, 13/20,
                    'Physician', 'Pennsylvania', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alina Wilson', 23, 21, 12/20,
                    'Student', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marty Piombo', 48, 21, 11/20,
                    'Technology Executive', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brenda Lowe', 27, 21, 10/20,
                    'Business Owner', 'Florida', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('NaOnka Mixon', 25, 21, 8/20,
                    'Teacher', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Purple Kelly Shinn', 20, 21, 8/20,
                    'Student', 'Arizona', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Benry Henry', 24, 21, 7/20,
                    'Promoter', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jane Bright', 56, 21, 6/20,
                    'Animal Trainer', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Lembo', 63, 21, 5/20,
                    'Real Estate', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Holly Hoffman', 44, 21, 4/20,
                    'Coach', 'South Dakota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sash Lenahan', 30, 21, 3/20,
                    'Real Estate', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chase Rice', 24, 21, 2/20,
                    'Mechanic', 'North Carolina', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Fabio Birza', 21, 21, 1/20,
                    'Student', 'California', 'M',
                    'Caucasian', FALSE);
            """)

In [38]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sugar Kiper', 30, 20, 20/20,
                    'Model', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephenie LaGrossa', 29, 20, 19/20,
                    'Sales', 'Pennsylvania', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Randy Bailey', 50, 20, 18/20,
                    'Videographer', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 39, 20, 17/20,
                    'Nurse', 'New Jersey', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tom Westman', 45, 20, 16/20,
                    'Firefighter', 'New York', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyson Apostol', 30, 20, 15/20,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Clement', 32, 20, 14/20,
                    'Business Owner', 'Louisiana', 'M',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rob Mariano', 33, 20, 13/20,
                    'Poker Player', 'Florida', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 37, 20, 12/20,
                    'Coach', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Courtney Yates', 28, 20, 11/20,
                    'Waiter', 'New York', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JT Thomas', 25, 20, 10/20,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amanda Kimmel', 25, 20, 8/20,
                    'Model', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candice Woodcock', 26, 20, 8/20,
                    'Medical Student', 'DC', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Danielle DiLorenzo', 28, 20, 7/20,
                    'Sales', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Rupert Boneham', 45, 20, 6/20,
                    'Mentor', 'Indiana', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Colby Donaldson', 35, 20, 5/20,
                    'Actor', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jerri Manthey', 38, 20, 4/20,
                    'Actor', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 36, 20, 3/20,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Parvati Shallow', 26, 20, 2/20,
                    'Boxer', 'California', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandra Diaz-Twine', 35, 20, 1/20,
                    'Military Spouse', 'Connecticut', 'F',
                    'Latinx', TRUE);
            """)

In [39]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marisa Calihan', 26, 19, 20/20,
                    'Student', 'Ohio', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mike Borassi', 62, 19, 19/20,
                    'Chef', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Betsy Bolan', 48, 19, 18/20,
                    'Police', 'New Hampshire', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ben Browning', 28, 19, 17/20,
                    'Manager', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yasmin Giles', 33, 19, 16/20,
                    'Hairstylist', 'California', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ashley Trainer', 22, 19, 15/20,
                    'Sales', 'Minnesota', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Swan', 42, 19, 14/20,
                    'Lawyer', 'Pennsylvania', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Liz Kim', 33, 19, 13/20,
                    'Lawyer', 'New York', 'F',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Cardona', 28, 19, 12/20,
                    'Bartender', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Sharbaugh', 25, 19, 11/20,
                    'Hairstylist', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Laura Morett', 39, 19, 10/20,
                    'Manager', 'Oregon', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('John Fincher', 25, 19, 8/20,
                    'Rocket Scientist', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dave Ball', 38, 19, 8/20,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Monica Padilla', 25, 19, 7/20,
                    'Law Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Shambo Waters', 45, 19, 6/20,
                    'Sales', 'Washington', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jaison Robinson', 28, 19, 5/20,
                    'Law Student', 'Illinois', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brett Clouser', 23, 19, 4/20,
                    'Designer', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mick Trimming', 33, 19, 3/20,
                    'Physician', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Russell Hantz', 36, 19, 2/20,
                    'Business Owner', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie White', 26, 19, 1/20,
                    'Sales', 'Arkansas', 'F',
                    'Caucasian', FALSE);
            """)

In [40]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Carolina Eastwood', 26, 18, 16/16,
                    'Bartender', 'California', 'F',
                    'Latinx', FALSE);
            """) 

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Candace Smith', 31, 18, 15/16,
                    'Lawyer', 'Ohio', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jerry Sims', 49, 18, 14/16,
                    'Military', 'South Carolina', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sandy Burgin', 53, 18, 13/16,
                    'Driver', 'Kentucky', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Spencer Duhm', 19, 18, 12/16,
                    'Student', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sydney Wheeler', 24, 18, 11/16,
                    'Model', 'North Carolina', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joe Dowdle', 26, 18, 10/16,
                    'Real Estate', 'Texas', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Brendan Synnott', 30, 18, 8/16,
                    'Entrepreneur', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tyson Apostol', 29, 18, 8/16,
                    'Pro Athlete', 'Utah', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sierra Reed', 23, 18, 7/16,
                    'Model', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Debbie Beebe', 46, 18, 6/16,
                    'Principal', 'Alabama', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Coach Wade', 37, 18, 5/16,
                    'Coach', 'Missouri', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Taj Johnson-George', 37, 18, 4/16,
                    'Musician', 'Tennessee', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erin Lobdell', 26, 18, 3/16,
                    'Hairstylist', 'Wisconsin', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Stephen Fishbach', 29, 18, 2/16,
                    'Consultant', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('JT Thomas', 24, 18, 1/16,
                    'Farmer', 'Alabama', 'M',
                    'Caucasian', FALSE);
            """)

In [41]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Michelle Chase', 24, 17, 18/18,
                    'Producer', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Gillian Larson', 61, 17, 17/18,
                    'Nurse', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Paloma Soto-Castillo', 23, 17, 16/18,
                    'Student', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jacquie Berg', 25, 17, 15/18,
                    'Sales', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('GC Brown', 25, 17, 14/18,
                    'Maintenance', 'Oregon', 'M',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kelly Czarnecki', 22, 17, 13/18,
                    'Sales', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ace Gordon', 27, 17, 12/18,
                    'Sales', 'Florida', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Dan Kay', 32, 17, 11/18,
                    'Lawyer', 'Massachusetts', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Marcus Lehman', 28, 17, 10/18,
                    'Physician', 'Georgia', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Charlie Herschel', 29, 17, 8/18,
                    'Lawyer', 'New York', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Randy Bailey', 49, 17, 8/18,
                    'Videographer', 'Missouri', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Corinne Kaplan', 29, 17, 7/18,
                    'Sales', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Crystal Cox', 29, 17, 6/18,
                    'Pro Athlete', 'North Carolina', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ken Hoang', 22, 17, 5/18,
                    'Gamer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Matty Whitmore', 29, 17, 4/18,
                    'Fitness', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Sugar Kiper', 29, 17, 3/18,
                    'Model', 'New York', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Susie Smith', 47, 17, 2/18,
                    'Hairstylist', 'Iowa', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Bob Crowley', 57, 17, 1/18,
                    'Teacher', 'Maine', 'M',
                    'Caucasian', FALSE);
            """)

In [ ]:
cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonny Fairplay Dalton', 33, 16, 20/20,
                    'Wrestler', 'Virginia', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mary Sartain', 29, 16, 19/20,
                    'Business Owner', 'California', 'F',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Yau-Man Chan', 55, 16, 18/20,
                    'Engineer', 'California', 'M',
                    'Asian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Mikey B Bortone', 34, 16, 17/20,
                    'Actor', 'California', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Joel Anderson', 32, 16, 16/20,
                    'Firefighter', 'Arizona', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jonathan Penner', 45, 16, 15/20,
                    'Writer', 'California', 'M',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Chet Welch', 48, 16, 14/20,
                    'Customer Service', 'Pennsylvania', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Kathy Sleckman', 45, 16, 13/20,
                    'Sales', 'Illinois', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Tracy Hughes-Wolf', 43, 16, 12/20,
                    'Construction', 'Virginia', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ami Cusack', 34, 16, 11/20,
                    'Barista', 'Colorado', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Eliza Orlins', 25, 16, 10/20,
                    'Law Student', 'New York', 'F',
                    'Caucasian', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Ozzy Lusth', 26, 16, 8/20,
                    'Photographer', 'California', 'M',
                    'Latinx', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Jason Siska', 22, 16, 8/20,
                    'Student', 'Illinois', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('James Clement', 30, 16, 7/20,
                    'Business Owner', 'Louisiana', 'F',
                    'Black', TRUE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Alexis Jones', 24, 16, 6/20,
                    'Motivational Speaker', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Erik Reichenbach', 22, 16, 5/20,
                    'Student', 'Michigan', 'M',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Natalie Bolton', 32, 16, 4/20,
                    'Fitness', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Cirie Fields', 37, 16, 3/20,
                    'Nurse', 'Connecticut', 'F',
                    'Black', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Amanda Kimmel', 23, 16, 2/20,
                    'Model', 'California', 'F',
                    'Caucasian', FALSE);
            """)

cur.execute("""INSERT INTO players 
                    (name, age, season, placement,
                    occupation, location, gender,
                    race, returnee)
                VALUES 
                    ('Parvati Shallow', 25, 16, 1/20,
                    'Boxer', 'California', 'F',
                    'Caucasian', FALSE);
            """)