In [38]:
import pandas as pd
import pymongo

In [39]:
mc = pymongo.MongoClient()

survivor_db = mc['survivor_database']

season_collection = survivor_db['season_collection']
player_collection = survivor_db['player_collection']

In [40]:
seasons = pd.DataFrame(list(season_collection.find()))

In [41]:
seasons

,_id,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,5db10a3f12fb7c89dc900c67,Borneo,2,False,16,False,2,False,False,False
1,5db10a3f12fb7c89dc900c68,The Australian Outback,2,False,16,False,2,False,False,False
2,5db10a3f12fb7c89dc900c69,Africa,3,True,16,False,2,False,False,False
3,5db10a3f12fb7c89dc900c6a,Marquesas,2,True,16,False,2,False,False,False
4,5db10a3f12fb7c89dc900c6b,Thailand,2,False,16,False,2,False,False,False
5,5db10a3f12fb7c89dc900c6c,The Amazon,2,True,16,False,2,False,False,False
6,5db10a3f12fb7c89dc900c6d,Pearl Islands,2,False,16,False,2,False,False,True
7,5db10a3f12fb7c89dc900c6e,All-Stars,3,True,18,True,2,False,False,False
8,5db10a3f12fb7c89dc900c6f,Vanuatu,2,True,18,False,2,False,False,False
9,5db10a3f12fb7c89dc900c70,Palau,2,False,20,False,2,False,False,False
10,5db10a3f12fb7c89dc900c71,Guatemala,2,True,18,True,2,True,False,False
11,5db10a3f12fb7c89dc900c72,Panama,4,True,16,False,2,True,False,False
12,5db10a3f12fb7c89dc900c73,Cook Islands,4,True,20,False,3,True,False,False
13,5db10a3f12fb7c89dc900c74,Fiji,2,True,19,False,3,True,False,False
14,5db10a3f12fb7c89dc900c75,China,2,True,16,False,3,True,False,False
15,5db10a3f12fb7c89dc900c76,Micronesia - Fans v Favorites,2,True,20,True,2,True,False,False
16,5db10a3f12fb7c89dc900c77,Gabon,2,True,18,False,3,True,False,False
17,5db10a3f12fb7c89dc900c78,Tocantins,2,False,16,False,2,True,False,False
18,5db10a3f12fb7c89dc900c79,Samoa,2,False,20,False,3,True,False,False
19,5db10a3f12fb7c89dc900c7a,Heroes vs. Villians,2,False,20,True,3,True,False,False
20,5db10a3f12fb7c89dc900c7b,Nicaragua,2,True,20,False,3,True,False,False
21,5db10a3f12fb7c89dc900c7c,Redemption Island,2,False,18,True,3,True,False,True
22,5db10a3f12fb7c89dc900c7d,South Pacific,2,False,18,False,3,True,False,True
23,5db10a3f12fb7c89dc900c7e,One World,2,True,18,False,3,True,False,False
24,5db10a3f12fb7c89dc900c7f,Philippines,3,True,18,True,3,True,False,False
25,5db10a3f12fb7c89dc900c80,Caramoan,2,True,20,True,3,True,False,False
26,5db10a3f12fb7c89dc900c81,Blood vs. Water,2,True,20,True,3,True,False,True
27,5db10a3f12fb7c89dc900c82,Cagayan,3,True,18,False,2,True,False,False
28,5db10a3f12fb7c89dc900c83,San Juan del Sur,2,True,18,False,3,True,False,False
29,5db10a3f12fb7c89dc900c84,Worlds Apart,3,True,18,False,3,True,False,False
30,5db10a3f12fb7c89dc900c85,Cambodia,2,True,20,True,3,True,False,False
31,5db10a3f12fb7c89dc900c86,Kaoh Rong,3,True,18,False,3,True,False,False
32,5db10a3f12fb7c89dc900c87,Millennials vs. Gen X,2,True,20,False,3,True,False,False
33,5db10a3f12fb7c89dc900c88,Game Changers,2,True,20,True,3,True,False,False
34,5db10a3f12fb7c89dc900c89,Heroes vs. Healers vs. Hustlers,3,True,18,False,3,True,True,False
35,5db10a3f12fb7c89dc900c8a,Ghost Island,2,True,20,False,2,True,True,False
36,5db10a3f12fb7c89dc900c8b,David vs. Goliath,2,True,20,False,3,True,True,False
37,5db10a3f12fb7c89dc900c8c,Edge of Extinction,2,True,18,True,3,True,True,True

In [42]:
seasons.drop('_id', axis=1, inplace=True)
seasons.head()

,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,Borneo,2,False,16,False,2,False,False,False
1,The Australian Outback,2,False,16,False,2,False,False,False
2,Africa,3,True,16,False,2,False,False,False
3,Marquesas,2,True,16,False,2,False,False,False
4,Thailand,2,False,16,False,2,False,False,False

In [45]:
map_columns = ['swap', 'returnee', 'hidden_immunity', 'final_four_fire', 're_entrance']
for col in map_columns:
    seasons[col] = seasons[col].map({True: 1, False: 0})

In [46]:
seasons.head()

,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,Borneo,2,0,16,0,2,0,0,0
1,The Australian Outback,2,0,16,0,2,0,0,0
2,Africa,3,1,16,0,2,0,0,0
3,Marquesas,2,1,16,0,2,0,0,0
4,Thailand,2,0,16,0,2,0,0,0

In [47]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
name                  38 non-null object
num_initial_tribes    38 non-null int64
swap                  38 non-null int64
num_players           38 non-null int64
returnee              38 non-null int64
num_finalist          38 non-null int64
hidden_immunity       38 non-null int64
final_four_fire       38 non-null int64
re_entrance           38 non-null int64
dtypes: int64(8), object(1)
memory usage: 2.8+ KB

In [48]:
players = pd.DataFrame(list(player_collection.find()))

In [49]:
players.head(10)

,_id,name,age,season,placement,occupation,location,gender,race,returnee
0,5db1081212fb7c89dc9006db,Reem Daly,46,38,16,Sales,Virginia,F,Caucasian,False
1,5db1081212fb7c89dc9006dc,Keith Sowell,19,38,18,Student,North Carolina,M,Black,False
2,5db1081212fb7c89dc9006dd,Aubry Bracco,32,38,15,Marketing,California,F,Caucasian,True
3,5db1081212fb7c89dc9006de,Wendy Diaz,25,38,17,Entrepreneur,California,F,Latinx,False
4,5db1081212fb7c89dc9006df,Joe Anglim,29,38,14,Artist,Utah,M,Caucasian,True
5,5db1081212fb7c89dc9006e0,Eric Hafemann,34,38,13,Firefighter,California,M,Caucasian,False
6,5db1081212fb7c89dc9006e1,Julia Carter,25,38,12,Medical Student,Maryland,F,Black,False
7,5db1081212fb7c89dc9006e2,David Wright,44,38,11,Writer,California,M,Caucasian,True
8,5db1081212fb7c89dc9006e3,Kelley Wentworth,32,38,10,Marketing,Washington,F,Caucasian,True
9,5db1081212fb7c89dc9006e4,"Dan ""Wardog"" DaSilva",38,38,9,Law Student,California,M,Caucasian,False

In [ ]:
players.drop('_id', axis=1, inplace=True)

In [63]:
players.drop_duplicates(inplace=True)

In [64]:
players.head()

,name,age,season,placement,occupation,location,gender,race,returnee
0,Reem Daly,46,38,16,Sales,Virginia,F,Caucasian,False
1,Keith Sowell,19,38,18,Student,North Carolina,M,Black,False
2,Aubry Bracco,32,38,15,Marketing,California,F,Caucasian,True
3,Wendy Diaz,25,38,17,Entrepreneur,California,F,Latinx,False
4,Joe Anglim,29,38,14,Artist,Utah,M,Caucasian,True

In [65]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691 entries, 0 to 690
Data columns (total 9 columns):
name          691 non-null object
age           691 non-null int64
season        691 non-null int64
placement     691 non-null int64
occupation    691 non-null object
location      691 non-null object
gender        691 non-null object
race          691 non-null object
returnee      689 non-null object
dtypes: int64(3), object(6)
memory usage: 54.0+ KB

In [66]:
dict(players['occupation'].value_counts())

{'Student': 43,
 'Sales': 34,
 'Lawyer': 29,
 'Business Owner': 23,
 'Pro Athlete': 20,
 'Police': 20,
 'Model': 19,
 'Real Estate': 18,
 'Bartender': 18,
 'Teacher': 17,
 'Fitness': 17,
 'Farmer': 16,
 'Firefighter': 15,
 'Law Student': 12,
 'Physician': 11,
 'Marketing': 11,
 'Coach': 11,
 'Actor': 11,
 'Veteran': 10,
 'Nurse': 10,
 'Waiter': 10,
 'Construction': 9,
 'Entrepreneur': 9,
 'Musician': 9,
 'Manager': 7,
 'Writer': 6,
 'Engineer': 6,
 'Consultant': 5,
 'Hairstylist': 5,
 'Artist': 5,
 'Poker Player': 5,
 'Finance': 5,
 'Mentor': 5,
 'Medical Student': 4,
 'Military': 4,
 'Homemaker': 4,
 'Fisher': 4,
 'Animal Trainer': 4,
 'Motivational Speaker': 4,
 'Social Media': 4,
 'Social Worker': 4,
 'Mechanic': 4,
 'Advertisting': 4,
 'Chef': 4,
 'Designer': 3,
 'Photographer': 3,
 'Boxer': 3,
 'Chemist': 3,
 'Mailman': 3,
 'Pilot': 3,
 'Military Spouse': 3,
 'Surfer': 3,
 'News Anchor': 3,
 'Dancer': 3,
 'Accountant': 3,
 'Recruiter': 3,
 'Barista': 3,
 'Career Counselor': 2,
 'Banker': 2,
 'Advocate': 2,
 'Principal': 2,
 'Flight Attendant': 2,
 'CEO': 2,
 'Makeup Artist': 2,
 'Computer Scientist': 2,
 'Software Engineer': 2,
 'Wrestler': 2,
 'Mortician': 2,
 'Buyer': 2,
 'Rancher': 2,
 'Legal Support': 2,
 'Professor': 2,
 'Pastor': 2,
 'Truck Driver': 2,
 'Project Coordinator': 2,
 'Tech Executive': 2,
 'Producer': 2,
 'Customer Service': 2,
 'Cheerleader': 2,
 'Business Consultant': 2,
 'Videographer': 2,
 'Pageant Queen': 2,
 'Rocket Scientist': 2,
 'FBI': 2,
 'Missionary': 2,
 'Esthetician': 2,
 'Water Treatment Tech': 1,
 'Therapist': 1,
 'Caretaker': 1,
 'Actuary': 1,
 'Phlebotomist': 1,
 'Snowboarder': 1,
 'Program Director': 1,
 'Project Manager': 1,
 'Event Planner': 1,
 'Mortgage Loan Officer': 1,
 'Doorman': 1,
 'Stylist': 1,
 'Tech': 1,
 'Steel Worker': 1,
 'Radio Host': 1,
 'Account Manager': 1,
 'Research Analyst': 1,
 'River Guide': 1,
 'Astronaut': 1,
 'Entertainer': 1,
 'Scout Leader': 1,
 'Nonprofit Owner': 1,
 'Judge': 1,
 'Produce Clerk': 1,
 'Roller Girl': 1,
 'Dentist': 1,
 'Author': 1,
 'Robotics': 1,
 'Gamer': 1,
 'Viral Star': 1,
 'Loan Manager': 1,
 'Shopping Center Director': 1,
 'Waitress': 1,
 'Promoter': 1,
 'Sports President': 1,
 'Youth Director': 1,
 'Factory Worker': 1,
 'Business': 1,
 'Shoe Designer': 1,
 'Surf Instructor': 1,
 'Executive': 1,
 'Electrician': 1,
 'Office Manager': 1,
 'Dental Student': 1,
 'Lumberjack': 1,
 'Kitchen Staff': 1,
 'Oil Tanker Crewman': 1,
 'Risk Consultant': 1,
 'Housing Case Manager': 1,
 'Account Executive': 1,
 'Administrative Officer': 1,
 'Talent Agent': 1,
 'Cosmetologist': 1,
 'Broadcast': 1,
 'Architect': 1,
 'Art Consultant': 1,
 'Civil Engineer': 1,
 'Hair Stylist': 1,
 'Driver': 1,
 'Journalist': 1,
 'Limo Driver': 1,
 'Technology Executive': 1,
 'Sailor': 1,
 'Hiking Guide': 1,
 'Physical Therapist': 1,
 'Lunch Lady': 1,
 'Video Gamer': 1,
 'Hedge Fund Support': 1,
 'Pageant Coach': 1,
 'Disposal': 1,
 'Lifeguard': 1,
 'Oil Driller': 1,
 'Counstruction': 1,
 'Maintenance': 1,
 'Assistant': 1,
 'Water Ski Instructor': 1,
 'Bounty Hunter': 1,
 'School Counselor': 1,
 'Equity Trade Manager': 1,
 'Naturalist': 1,
 'Survival Instructor': 1,
 'Showgirl': 1,
 'Administrative Assistant': 1,
 'Music Therapist': 1,
 'Bus Driver': 1,
 'Nutritionist': 1,
 'Insurance': 1,
 'Comedian': 1,
 'Bellhop': 1,
 'Adventure Guide': 1,
 'Car Designer': 1,
 'Mechanical Bull Operator/Model': 1,
 'Talk Show Host': 1,
 'Career Coach': 1,
 'Economics': 1,
 'Massage Therapist': 1,
 'Nonprofit': 1,
 'Merchandiser': 1,
 'Wilderness Guide': 1}