In [4]:
import pandas as pd
import pymongo

In [5]:
mc = pymongo.MongoClient()

survivor_db = mc['survivor_database']

season_collection = survivor_db['season_collection']
player_collection = survivor_db['player_collection']

In [6]:
seasons = pd.DataFrame(list(season_collection.find()))

In [7]:
seasons

,_id,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,5db10a3f12fb7c89dc900c67,Borneo,2,False,16,False,2,False,False,False
1,5db10a3f12fb7c89dc900c68,The Australian Outback,2,False,16,False,2,False,False,False
2,5db10a3f12fb7c89dc900c69,Africa,3,True,16,False,2,False,False,False
3,5db10a3f12fb7c89dc900c6a,Marquesas,2,True,16,False,2,False,False,False
4,5db10a3f12fb7c89dc900c6b,Thailand,2,False,16,False,2,False,False,False
5,5db10a3f12fb7c89dc900c6c,The Amazon,2,True,16,False,2,False,False,False
6,5db10a3f12fb7c89dc900c6d,Pearl Islands,2,False,16,False,2,False,False,True
7,5db10a3f12fb7c89dc900c6e,All-Stars,3,True,18,True,2,False,False,False
8,5db10a3f12fb7c89dc900c6f,Vanuatu,2,True,18,False,2,False,False,False
9,5db10a3f12fb7c89dc900c70,Palau,2,False,20,False,2,False,False,False
10,5db10a3f12fb7c89dc900c71,Guatemala,2,True,18,True,2,True,False,False
11,5db10a3f12fb7c89dc900c72,Panama,4,True,16,False,2,True,False,False
12,5db10a3f12fb7c89dc900c73,Cook Islands,4,True,20,False,3,True,False,False
13,5db10a3f12fb7c89dc900c74,Fiji,2,True,19,False,3,True,False,False
14,5db10a3f12fb7c89dc900c75,China,2,True,16,False,3,True,False,False
15,5db10a3f12fb7c89dc900c76,Micronesia - Fans v Favorites,2,True,20,True,2,True,False,False
16,5db10a3f12fb7c89dc900c77,Gabon,2,True,18,False,3,True,False,False
17,5db10a3f12fb7c89dc900c78,Tocantins,2,False,16,False,2,True,False,False
18,5db10a3f12fb7c89dc900c79,Samoa,2,False,20,False,3,True,False,False
19,5db10a3f12fb7c89dc900c7a,Heroes vs. Villians,2,False,20,True,3,True,False,False
20,5db10a3f12fb7c89dc900c7b,Nicaragua,2,True,20,False,3,True,False,False
21,5db10a3f12fb7c89dc900c7c,Redemption Island,2,False,18,True,3,True,False,True
22,5db10a3f12fb7c89dc900c7d,South Pacific,2,False,18,False,3,True,False,True
23,5db10a3f12fb7c89dc900c7e,One World,2,True,18,False,3,True,False,False
24,5db10a3f12fb7c89dc900c7f,Philippines,3,True,18,True,3,True,False,False
25,5db10a3f12fb7c89dc900c80,Caramoan,2,True,20,True,3,True,False,False
26,5db10a3f12fb7c89dc900c81,Blood vs. Water,2,True,20,True,3,True,False,True
27,5db10a3f12fb7c89dc900c82,Cagayan,3,True,18,False,2,True,False,False
28,5db10a3f12fb7c89dc900c83,San Juan del Sur,2,True,18,False,3,True,False,False
29,5db10a3f12fb7c89dc900c84,Worlds Apart,3,True,18,False,3,True,False,False
30,5db10a3f12fb7c89dc900c85,Cambodia,2,True,20,True,3,True,False,False
31,5db10a3f12fb7c89dc900c86,Kaoh Rong,3,True,18,False,3,True,False,False
32,5db10a3f12fb7c89dc900c87,Millennials vs. Gen X,2,True,20,False,3,True,False,False
33,5db10a3f12fb7c89dc900c88,Game Changers,2,True,20,True,3,True,False,False
34,5db10a3f12fb7c89dc900c89,Heroes vs. Healers vs. Hustlers,3,True,18,False,3,True,True,False
35,5db10a3f12fb7c89dc900c8a,Ghost Island,2,True,20,False,2,True,True,False
36,5db10a3f12fb7c89dc900c8b,David vs. Goliath,2,True,20,False,3,True,True,False
37,5db10a3f12fb7c89dc900c8c,Edge of Extinction,2,True,18,True,3,True,True,True

In [8]:
players = pd.DataFrame(list(player_collection.find()))

In [10]:
players.head(10)

,_id,name,age,season,placement,occupation,location,gender,race,returnee
0,5db1081212fb7c89dc9006db,Reem Daly,46,38,16,Sales,Virginia,F,Caucasian,False
1,5db1081212fb7c89dc9006dc,Keith Sowell,19,38,18,Student,North Carolina,M,Black,False
2,5db1081212fb7c89dc9006dd,Aubry Bracco,32,38,15,Marketing,California,F,Caucasian,True
3,5db1081212fb7c89dc9006de,Wendy Diaz,25,38,17,Entrepreneur,California,F,Latinx,False
4,5db1081212fb7c89dc9006df,Joe Anglim,29,38,14,Artist,Utah,M,Caucasian,True
5,5db1081212fb7c89dc9006e0,Eric Hafemann,34,38,13,Firefighter,California,M,Caucasian,False
6,5db1081212fb7c89dc9006e1,Julia Carter,25,38,12,Medical Student,Maryland,F,Black,False
7,5db1081212fb7c89dc9006e2,David Wright,44,38,11,Writer,California,M,Caucasian,True
8,5db1081212fb7c89dc9006e3,Kelley Wentworth,32,38,10,Marketing,Washington,F,Caucasian,True
9,5db1081212fb7c89dc9006e4,"Dan ""Wardog"" DaSilva",38,38,9,Law Student,California,M,Caucasian,False