In [27]:
import pandas as pd
import pymongo
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mc = pymongo.MongoClient()

survivor_db = mc['survivor_database']

season_collection = survivor_db['season_collection']
player_collection = survivor_db['player_collection']

In [3]:
seasons = pd.DataFrame(list(season_collection.find()))

In [4]:
seasons

,_id,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,5db10a3f12fb7c89dc900c67,Borneo,2,False,16,False,2,False,False,False
1,5db10a3f12fb7c89dc900c68,The Australian Outback,2,False,16,False,2,False,False,False
2,5db10a3f12fb7c89dc900c69,Africa,3,True,16,False,2,False,False,False
3,5db10a3f12fb7c89dc900c6a,Marquesas,2,True,16,False,2,False,False,False
4,5db10a3f12fb7c89dc900c6b,Thailand,2,False,16,False,2,False,False,False
5,5db10a3f12fb7c89dc900c6c,The Amazon,2,True,16,False,2,False,False,False
6,5db10a3f12fb7c89dc900c6d,Pearl Islands,2,False,16,False,2,False,False,True
7,5db10a3f12fb7c89dc900c6e,All-Stars,3,True,18,True,2,False,False,False
8,5db10a3f12fb7c89dc900c6f,Vanuatu,2,True,18,False,2,False,False,False
9,5db10a3f12fb7c89dc900c70,Palau,2,False,20,False,2,False,False,False
10,5db10a3f12fb7c89dc900c71,Guatemala,2,True,18,True,2,True,False,False
11,5db10a3f12fb7c89dc900c72,Panama,4,True,16,False,2,True,False,False
12,5db10a3f12fb7c89dc900c73,Cook Islands,4,True,20,False,3,True,False,False
13,5db10a3f12fb7c89dc900c74,Fiji,2,True,19,False,3,True,False,False
14,5db10a3f12fb7c89dc900c75,China,2,True,16,False,3,True,False,False
15,5db10a3f12fb7c89dc900c76,Micronesia - Fans v Favorites,2,True,20,True,2,True,False,False
16,5db10a3f12fb7c89dc900c77,Gabon,2,True,18,False,3,True,False,False
17,5db10a3f12fb7c89dc900c78,Tocantins,2,False,16,False,2,True,False,False
18,5db10a3f12fb7c89dc900c79,Samoa,2,False,20,False,3,True,False,False
19,5db10a3f12fb7c89dc900c7a,Heroes vs. Villians,2,False,20,True,3,True,False,False
20,5db10a3f12fb7c89dc900c7b,Nicaragua,2,True,20,False,3,True,False,False
21,5db10a3f12fb7c89dc900c7c,Redemption Island,2,False,18,True,3,True,False,True
22,5db10a3f12fb7c89dc900c7d,South Pacific,2,False,18,False,3,True,False,True
23,5db10a3f12fb7c89dc900c7e,One World,2,True,18,False,3,True,False,False
24,5db10a3f12fb7c89dc900c7f,Philippines,3,True,18,True,3,True,False,False
25,5db10a3f12fb7c89dc900c80,Caramoan,2,True,20,True,3,True,False,False
26,5db10a3f12fb7c89dc900c81,Blood vs. Water,2,True,20,True,3,True,False,True
27,5db10a3f12fb7c89dc900c82,Cagayan,3,True,18,False,2,True,False,False
28,5db10a3f12fb7c89dc900c83,San Juan del Sur,2,True,18,False,3,True,False,False
29,5db10a3f12fb7c89dc900c84,Worlds Apart,3,True,18,False,3,True,False,False
30,5db10a3f12fb7c89dc900c85,Cambodia,2,True,20,True,3,True,False,False
31,5db10a3f12fb7c89dc900c86,Kaoh Rong,3,True,18,False,3,True,False,False
32,5db10a3f12fb7c89dc900c87,Millennials vs. Gen X,2,True,20,False,3,True,False,False
33,5db10a3f12fb7c89dc900c88,Game Changers,2,True,20,True,3,True,False,False
34,5db10a3f12fb7c89dc900c89,Heroes vs. Healers vs. Hustlers,3,True,18,False,3,True,True,False
35,5db10a3f12fb7c89dc900c8a,Ghost Island,2,True,20,False,2,True,True,False
36,5db10a3f12fb7c89dc900c8b,David vs. Goliath,2,True,20,False,3,True,True,False
37,5db10a3f12fb7c89dc900c8c,Edge of Extinction,2,True,18,True,3,True,True,True

In [5]:
seasons.drop('_id', axis=1, inplace=True)
seasons.head()

,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,Borneo,2,False,16,False,2,False,False,False
1,The Australian Outback,2,False,16,False,2,False,False,False
2,Africa,3,True,16,False,2,False,False,False
3,Marquesas,2,True,16,False,2,False,False,False
4,Thailand,2,False,16,False,2,False,False,False

In [6]:
map_columns = ['swap', 'returnee', 'hidden_immunity', 'final_four_fire', 're_entrance']
for col in map_columns:
    seasons[col] = seasons[col].map({True: 1, False: 0})

In [7]:
seasons.head()

,name,num_initial_tribes,swap,num_players,returnee,num_finalist,hidden_immunity,final_four_fire,re_entrance
0,Borneo,2,0,16,0,2,0,0,0
1,The Australian Outback,2,0,16,0,2,0,0,0
2,Africa,3,1,16,0,2,0,0,0
3,Marquesas,2,1,16,0,2,0,0,0
4,Thailand,2,0,16,0,2,0,0,0

In [8]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 9 columns):
name                  38 non-null object
num_initial_tribes    38 non-null int64
swap                  38 non-null int64
num_players           38 non-null int64
returnee              38 non-null int64
num_finalist          38 non-null int64
hidden_immunity       38 non-null int64
final_four_fire       38 non-null int64
re_entrance           38 non-null int64
dtypes: int64(8), object(1)
memory usage: 2.8+ KB

In [9]:
players = pd.DataFrame(list(player_collection.find()))

In [10]:
players.head(10)

,_id,name,age,season,placement,occupation,location,gender,race,returnee
0,5db1081212fb7c89dc9006db,Reem Daly,46,38,16,Sales,Virginia,F,Caucasian,False
1,5db1081212fb7c89dc9006dc,Keith Sowell,19,38,18,Student,North Carolina,M,Black,False
2,5db1081212fb7c89dc9006dd,Aubry Bracco,32,38,15,Marketing,California,F,Caucasian,True
3,5db1081212fb7c89dc9006de,Wendy Diaz,25,38,17,Entrepreneur,California,F,Latinx,False
4,5db1081212fb7c89dc9006df,Joe Anglim,29,38,14,Artist,Utah,M,Caucasian,True
5,5db1081212fb7c89dc9006e0,Eric Hafemann,34,38,13,Firefighter,California,M,Caucasian,False
6,5db1081212fb7c89dc9006e1,Julia Carter,25,38,12,Medical Student,Maryland,F,Black,False
7,5db1081212fb7c89dc9006e2,David Wright,44,38,11,Writer,California,M,Caucasian,True
8,5db1081212fb7c89dc9006e3,Kelley Wentworth,32,38,10,Marketing,Washington,F,Caucasian,True
9,5db1081212fb7c89dc9006e4,"Dan ""Wardog"" DaSilva",38,38,9,Law Student,California,M,Caucasian,False

In [11]:
players.drop('_id', axis=1, inplace=True)

In [12]:
players.drop_duplicates(inplace=True)

In [13]:
players.head()

,name,age,season,placement,occupation,location,gender,race,returnee
0,Reem Daly,46,38,16,Sales,Virginia,F,Caucasian,False
1,Keith Sowell,19,38,18,Student,North Carolina,M,Black,False
2,Aubry Bracco,32,38,15,Marketing,California,F,Caucasian,True
3,Wendy Diaz,25,38,17,Entrepreneur,California,F,Latinx,False
4,Joe Anglim,29,38,14,Artist,Utah,M,Caucasian,True

In [14]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691 entries, 0 to 690
Data columns (total 9 columns):
name          691 non-null object
age           691 non-null int64
season        691 non-null int64
placement     691 non-null int64
occupation    691 non-null object
location      691 non-null object
gender        691 non-null object
race          691 non-null object
returnee      689 non-null object
dtypes: int64(3), object(6)
memory usage: 54.0+ KB

There is a mistake with two players where their returnee status is not listed. Find and correct them.

In [15]:
print(players[players['returnee'].isnull()])

              name  age  season  placement      occupation    location  \
303  Russell Hantz   37      22         17  Business Owner       Texas
529  Willard Smith   56      10         14          Lawyer  Washington

         gender   race returnee
303           M   True      NaN
529  MCaucasian  False      NaN

Looks like the race was accidentally dropped/shifted. So need to replace those as well as gender for Willard. Russell in season 22 is a returnee. Willard is not.

In [16]:
players.loc[(players['name'] =='Russell Hantz') & (players['season'] == 22), 'race'] = 'Caucasian'
players.loc[(players['name'] =='Russell Hantz') & (players['season'] == 22), 'returnee'] = 'True'
players.loc[players['name'] =='Willard Smith', 'gender'] = 'M'
players.loc[players['name'] =='Willard Smith', 'race'] = 'Caucasian'
players.loc[players['name'] =='Willard Smith', 'returnee'] = 'False'

Check that the correct changes occured.

In [17]:
players.loc[(players['name'] =='Willard Smith') | (players['name'] =='Russell Hantz')]

,name,age,season,placement,occupation,location,gender,race,returnee
303,Russell Hantz,37,22,17,Business Owner,Texas,M,Caucasian,True
357,Russell Hantz,36,20,3,Business Owner,Texas,M,Caucasian,True
378,Russell Hantz,36,19,2,Business Owner,Texas,M,Caucasian,False
529,Willard Smith,56,10,14,Lawyer,Washington,M,Caucasian,False

From creating the data set, I know there are some very uncommon jobs, I want to try to group some of the lower count jobs with larger groups.

In [18]:
dict(players['occupation'].value_counts())

{'Student': 43,
 'Sales': 34,
 'Lawyer': 29,
 'Business Owner': 23,
 'Pro Athlete': 20,
 'Police': 20,
 'Model': 19,
 'Bartender': 18,
 'Real Estate': 18,
 'Teacher': 17,
 'Fitness': 17,
 'Farmer': 16,
 'Firefighter': 15,
 'Law Student': 12,
 'Marketing': 11,
 'Actor': 11,
 'Coach': 11,
 'Physician': 11,
 'Nurse': 10,
 'Veteran': 10,
 'Waiter': 10,
 'Entrepreneur': 9,
 'Musician': 9,
 'Construction': 9,
 'Manager': 7,
 'Engineer': 6,
 'Writer': 6,
 'Artist': 5,
 'Finance': 5,
 'Consultant': 5,
 'Hairstylist': 5,
 'Poker Player': 5,
 'Mentor': 5,
 'Social Worker': 4,
 'Social Media': 4,
 'Animal Trainer': 4,
 'Chef': 4,
 'Medical Student': 4,
 'Homemaker': 4,
 'Motivational Speaker': 4,
 'Fisher': 4,
 'Mechanic': 4,
 'Military': 4,
 'Advertisting': 4,
 'Photographer': 3,
 'Boxer': 3,
 'Mailman': 3,
 'Chemist': 3,
 'News Anchor': 3,
 'Surfer': 3,
 'Dancer': 3,
 'Designer': 3,
 'Barista': 3,
 'Recruiter': 3,
 'Pilot': 3,
 'Accountant': 3,
 'Military Spouse': 3,
 'Banker': 2,
 'Buyer': 2,
 'Flight Attendant': 2,
 'Career Counselor': 2,
 'Mortician': 2,
 'CEO': 2,
 'Truck Driver': 2,
 'Makeup Artist': 2,
 'Customer Service': 2,
 'Project Coordinator': 2,
 'Computer Scientist': 2,
 'Pageant Queen': 2,
 'Esthetician': 2,
 'Advocate': 2,
 'Cheerleader': 2,
 'Professor': 2,
 'Principal': 2,
 'Wrestler': 2,
 'Software Engineer': 2,
 'Business Consultant': 2,
 'Pastor': 2,
 'Producer': 2,
 'Rocket Scientist': 2,
 'Missionary': 2,
 'Rancher': 2,
 'FBI': 2,
 'Legal Support': 2,
 'Videographer': 2,
 'Tech Executive': 2,
 'Therapist': 1,
 'Counstruction': 1,
 'Car Designer': 1,
 'Promoter': 1,
 'Broadcast': 1,
 'River Guide': 1,
 'Tech': 1,
 'Adventure Guide': 1,
 'Robotics': 1,
 'Doorman': 1,
 'Dentist': 1,
 'Snowboarder': 1,
 'Youth Director': 1,
 'Roller Girl': 1,
 'Author': 1,
 'Shopping Center Director': 1,
 'Phlebotomist': 1,
 'Research Analyst': 1,
 'Insurance': 1,
 'Oil Driller': 1,
 'Nonprofit': 1,
 'Office Manager': 1,
 'Nonprofit Owner': 1,
 'Sailor': 1,
 'Administrative Assistant': 1,
 'Hair Stylist': 1,
 'Water Ski Instructor': 1,
 'Technology Executive': 1,
 'Talk Show Host': 1,
 'School Counselor': 1,
 'Actuary': 1,
 'Limo Driver': 1,
 'Economics': 1,
 'Oil Tanker Crewman': 1,
 'Entertainer': 1,
 'Hedge Fund Support': 1,
 'Account Manager': 1,
 'Naturalist': 1,
 'Survival Instructor': 1,
 'Pageant Coach': 1,
 'Civil Engineer': 1,
 'Gamer': 1,
 'Architect': 1,
 'Cosmetologist': 1,
 'Astronaut': 1,
 'Assistant': 1,
 'Driver': 1,
 'Housing Case Manager': 1,
 'Disposal': 1,
 'Project Manager': 1,
 'Shoe Designer': 1,
 'Bellhop': 1,
 'Water Treatment Tech': 1,
 'Account Executive': 1,
 'Event Planner': 1,
 'Electrician': 1,
 'Dental Student': 1,
 'Executive': 1,
 'Scout Leader': 1,
 'Career Coach': 1,
 'Lifeguard': 1,
 'Mortgage Loan Officer': 1,
 'Program Director': 1,
 'Talent Agent': 1,
 'Radio Host': 1,
 'Showgirl': 1,
 'Viral Star': 1,
 'Nutritionist': 1,
 'Produce Clerk': 1,
 'Equity Trade Manager': 1,
 'Sports President': 1,
 'Risk Consultant': 1,
 'Hiking Guide': 1,
 'Surf Instructor': 1,
 'Music Therapist': 1,
 'Merchandiser': 1,
 'Stylist': 1,
 'Bus Driver': 1,
 'Steel Worker': 1,
 'Comedian': 1,
 'Factory Worker': 1,
 'Waitress': 1,
 'Wilderness Guide': 1,
 'Video Gamer': 1,
 'Lumberjack': 1,
 'Caretaker': 1,
 'Judge': 1,
 'Art Consultant': 1,
 'Loan Manager': 1,
 'Administrative Officer': 1,
 'Massage Therapist': 1,
 'Physical Therapist': 1,
 'Mechanical Bull Operator/Model': 1,
 'Maintenance': 1,
 'Kitchen Staff': 1,
 'Business': 1,
 'Lunch Lady': 1,
 'Bounty Hunter': 1,
 'Journalist': 1}

Group together different types of guides as adventure guides.

In [19]:
# Test to make sure this method is valid
players['occupation'] = players['occupation'].replace({'Counstruction': 'Construction', 'Oil Driller': 'Construction',
                              'Disposal': 'Construction', 'Maintenance': 'Construction',
                              'Oil Tanker Crewman': 'Construction', 'Electrician': 'Construction',
                              'Lumberjack': 'Construction'})

In [20]:
dict(players['occupation'].value_counts())

{'Student': 43,
 'Sales': 34,
 'Lawyer': 29,
 'Business Owner': 23,
 'Police': 20,
 'Pro Athlete': 20,
 'Model': 19,
 'Bartender': 18,
 'Real Estate': 18,
 'Teacher': 17,
 'Fitness': 17,
 'Construction': 16,
 'Farmer': 16,
 'Firefighter': 15,
 'Law Student': 12,
 'Marketing': 11,
 'Physician': 11,
 'Actor': 11,
 'Coach': 11,
 'Waiter': 10,
 'Veteran': 10,
 'Nurse': 10,
 'Entrepreneur': 9,
 'Musician': 9,
 'Manager': 7,
 'Engineer': 6,
 'Writer': 6,
 'Consultant': 5,
 'Hairstylist': 5,
 'Finance': 5,
 'Artist': 5,
 'Poker Player': 5,
 'Mentor': 5,
 'Social Media': 4,
 'Advertisting': 4,
 'Motivational Speaker': 4,
 'Social Worker': 4,
 'Homemaker': 4,
 'Medical Student': 4,
 'Chef': 4,
 'Animal Trainer': 4,
 'Mechanic': 4,
 'Military': 4,
 'Fisher': 4,
 'Photographer': 3,
 'Boxer': 3,
 'Chemist': 3,
 'News Anchor': 3,
 'Barista': 3,
 'Surfer': 3,
 'Designer': 3,
 'Mailman': 3,
 'Dancer': 3,
 'Pilot': 3,
 'Recruiter': 3,
 'Accountant': 3,
 'Military Spouse': 3,
 'Business Consultant': 2,
 'Mortician': 2,
 'CEO': 2,
 'Project Coordinator': 2,
 'Pageant Queen': 2,
 'Professor': 2,
 'Esthetician': 2,
 'Computer Scientist': 2,
 'Advocate': 2,
 'Customer Service': 2,
 'Truck Driver': 2,
 'Flight Attendant': 2,
 'Buyer': 2,
 'Videographer': 2,
 'Makeup Artist': 2,
 'Rocket Scientist': 2,
 'Producer': 2,
 'Principal': 2,
 'Tech Executive': 2,
 'Software Engineer': 2,
 'Career Counselor': 2,
 'FBI': 2,
 'Pastor': 2,
 'Banker': 2,
 'Missionary': 2,
 'Wrestler': 2,
 'Legal Support': 2,
 'Rancher': 2,
 'Cheerleader': 2,
 'Sailor': 1,
 'Broadcast': 1,
 'Shopping Center Director': 1,
 'Youth Director': 1,
 'River Guide': 1,
 'Therapist': 1,
 'Author': 1,
 'Tech': 1,
 'Adventure Guide': 1,
 'Robotics': 1,
 'Car Designer': 1,
 'Phlebotomist': 1,
 'Snowboarder': 1,
 'Administrative Assistant': 1,
 'Promoter': 1,
 'Nonprofit': 1,
 'Dentist': 1,
 'Office Manager': 1,
 'School Counselor': 1,
 'Research Analyst': 1,
 'Insurance': 1,
 'Doorman': 1,
 'Nonprofit Owner': 1,
 'Factory Worker': 1,
 'Roller Girl': 1,
 'Hair Stylist': 1,
 'Technology Executive': 1,
 'Water Ski Instructor': 1,
 'Talk Show Host': 1,
 'Actuary': 1,
 'Economics': 1,
 'Driver': 1,
 'Radio Host': 1,
 'Entertainer': 1,
 'Hedge Fund Support': 1,
 'Account Manager': 1,
 'Naturalist': 1,
 'Survival Instructor': 1,
 'Pageant Coach': 1,
 'Civil Engineer': 1,
 'Gamer': 1,
 'Architect': 1,
 'Cosmetologist': 1,
 'Astronaut': 1,
 'Assistant': 1,
 'Housing Case Manager': 1,
 'Viral Star': 1,
 'Shoe Designer': 1,
 'Bellhop': 1,
 'Water Treatment Tech': 1,
 'Account Executive': 1,
 'Event Planner': 1,
 'Dental Student': 1,
 'Executive': 1,
 'Scout Leader': 1,
 'Career Coach': 1,
 'Lifeguard': 1,
 'Mortgage Loan Officer': 1,
 'Program Director': 1,
 'Talent Agent': 1,
 'Project Manager': 1,
 'Video Gamer': 1,
 'Bounty Hunter': 1,
 'Lunch Lady': 1,
 'Produce Clerk': 1,
 'Equity Trade Manager': 1,
 'Sports President': 1,
 'Risk Consultant': 1,
 'Hiking Guide': 1,
 'Surf Instructor': 1,
 'Music Therapist': 1,
 'Merchandiser': 1,
 'Stylist': 1,
 'Bus Driver': 1,
 'Limo Driver': 1,
 'Steel Worker': 1,
 'Comedian': 1,
 'Waitress': 1,
 'Nutritionist': 1,
 'Wilderness Guide': 1,
 'Caretaker': 1,
 'Judge': 1,
 'Art Consultant': 1,
 'Loan Manager': 1,
 'Administrative Officer': 1,
 'Massage Therapist': 1,
 'Physical Therapist': 1,
 'Mechanical Bull Operator/Model': 1,
 'Showgirl': 1,
 'Kitchen Staff': 1,
 'Business': 1,
 'Journalist': 1}

In [21]:
# first run through of job consolidation
players['occupation'] = players['occupation'].replace({'Dental Student': 'Student', 
                                                       'Hiking Guide': 'Adventure Guide',
                                                       'Survival Instructor': 'Adventure Guide',
                                                       'Wilderness Guide': 'Adventure Guide',
                                                       'River Guide': 'Adventure Guide',
                                                       'Scout Leader': 'Adventure Guide',
                                                       'School Counselor': 'Therapist',
                                                       'Physical Therapist': 'Therapist',
                                                       'Music Therapist': 'Therapist',
                                                       'Nutritionist': 'Therapist',
                                                       'Massage Therapist': 'Therapist',
                                                       'Career Coach': 'Therapist',
                                                       'Hair Stylist': 'Beautician',
                                                      'Cosmetologist': 'Beautician',
                                                      'Hairstylist': 'Beautician',
                                                      'Makeup Artist': 'Beautician',
                                                      'Esthetician': 'Beautician',
                                                      'Stylist': 'Beautician',
                                                      'Showgirl': 'Entertainer',
                                                      'Talk Show Host': 'Entertainer',
                                                      'Comedian': 'Entertainer',
                                                      'Video Gamer': 'Entertainer',
                                                      'Viral Star': 'Entertainer',
                                                      'Musician': 'Entertainer',
                                                      'Dancer': 'Entertainer',
                                                      'Cheerleader': 'Entertainer',
                                                      'Pageant Queen': 'Entertainer',
                                                      'Roller Girl': 'Entertainer',
                                                      'Gamer': 'Entertainer',
                                                      'Broadcast': 'Entertainer',
                                                      'Boxer': 'Entertainer',
                                                      'Radio Host': 'Entertainer',
                                                      'News Anchor': 'Entertainer',
                                                      'Bus Driver': 'Driver',
                                                      'Limo Driver': 'Driver',
                                                      'Bounty Hunter': 'Law Enforcement',
                                                      'Police': 'Law Enforcement',
                                                      'Water Ski Instructor': 'Sport Instructor',
                                                      'Pageant Coach': 'Sport Instructor',
                                                      'Sailor': 'Sport Instructor',
                                                      'Surf Instructor': 'Sport Instructor'})

In [22]:
dict(players['occupation'].value_counts())

{'Student': 44,
 'Sales': 34,
 'Entertainer': 32,
 'Lawyer': 29,
 'Business Owner': 23,
 'Law Enforcement': 21,
 'Pro Athlete': 20,
 'Model': 19,
 'Bartender': 18,
 'Real Estate': 18,
 'Fitness': 17,
 'Teacher': 17,
 'Farmer': 16,
 'Construction': 16,
 'Firefighter': 15,
 'Beautician': 12,
 'Law Student': 12,
 'Coach': 11,
 'Actor': 11,
 'Physician': 11,
 'Marketing': 11,
 'Waiter': 10,
 'Nurse': 10,
 'Veteran': 10,
 'Entrepreneur': 9,
 'Therapist': 7,
 'Manager': 7,
 'Writer': 6,
 'Adventure Guide': 6,
 'Engineer': 6,
 'Artist': 5,
 'Poker Player': 5,
 'Mentor': 5,
 'Consultant': 5,
 'Finance': 5,
 'Medical Student': 4,
 'Sport Instructor': 4,
 'Social Media': 4,
 'Mechanic': 4,
 'Military': 4,
 'Chef': 4,
 'Social Worker': 4,
 'Animal Trainer': 4,
 'Fisher': 4,
 'Motivational Speaker': 4,
 'Advertisting': 4,
 'Homemaker': 4,
 'Accountant': 3,
 'Driver': 3,
 'Surfer': 3,
 'Designer': 3,
 'Pilot': 3,
 'Recruiter': 3,
 'Chemist': 3,
 'Photographer': 3,
 'Barista': 3,
 'Mailman': 3,
 'Military Spouse': 3,
 'Project Coordinator': 2,
 'Business Consultant': 2,
 'Buyer': 2,
 'Producer': 2,
 'Rocket Scientist': 2,
 'Rancher': 2,
 'Flight Attendant': 2,
 'Videographer': 2,
 'FBI': 2,
 'Pastor': 2,
 'Professor': 2,
 'Wrestler': 2,
 'Tech Executive': 2,
 'Principal': 2,
 'Banker': 2,
 'Software Engineer': 2,
 'Customer Service': 2,
 'Advocate': 2,
 'CEO': 2,
 'Legal Support': 2,
 'Missionary': 2,
 'Mortician': 2,
 'Career Counselor': 2,
 'Computer Scientist': 2,
 'Truck Driver': 2,
 'Author': 1,
 'Car Designer': 1,
 'Doorman': 1,
 'Nonprofit Owner': 1,
 'Promoter': 1,
 'Judge': 1,
 'Dentist': 1,
 'Shopping Center Director': 1,
 'Snowboarder': 1,
 'Robotics': 1,
 'Insurance': 1,
 'Research Analyst': 1,
 'Nonprofit': 1,
 'Talent Agent': 1,
 'Actuary': 1,
 'Office Manager': 1,
 'Account Executive': 1,
 'Civil Engineer': 1,
 'Architect': 1,
 'Art Consultant': 1,
 'Astronaut': 1,
 'Assistant': 1,
 'Shoe Designer': 1,
 'Bellhop': 1,
 'Water Treatment Tech': 1,
 'Event Planner': 1,
 'Tech': 1,
 'Youth Director': 1,
 'Executive': 1,
 'Phlebotomist': 1,
 'Steel Worker': 1,
 'Lifeguard': 1,
 'Mortgage Loan Officer': 1,
 'Program Director': 1,
 'Technology Executive': 1,
 'Naturalist': 1,
 'Account Manager': 1,
 'Hedge Fund Support': 1,
 'Administrative Assistant': 1,
 'Mechanical Bull Operator/Model': 1,
 'Economics': 1,
 'Produce Clerk': 1,
 'Equity Trade Manager': 1,
 'Sports President': 1,
 'Risk Consultant': 1,
 'Housing Case Manager': 1,
 'Factory Worker': 1,
 'Waitress': 1,
 'Caretaker': 1,
 'Loan Manager': 1,
 'Administrative Officer': 1,
 'Merchandiser': 1,
 'Kitchen Staff': 1,
 'Business': 1,
 'Lunch Lady': 1,
 'Project Manager': 1,
 'Journalist': 1}

In [23]:
players['occupation'] = players['occupation'].replace({'Law Student': 'Student', 
                                                       'Actor': 'Entertainer',
                                                       'Entrepreneur': 'Business Owner', 
                                                       'Physician': 'Physician/Dentist', 
                                                       'Social Media': 'Marketing', 
                                                       'Advertisting': 'Marketing', 
                                                       'Nurse': 'Medical Professional', 
                                                       'Fisher': 'Agriculture',
                                                       'Rancher': 'Agriculture',
                                                       'Surfer': 'Sport Instructor',
                                                       'Tech Executive': 'Tech',
                                                       'Software Engineer': 'Tech',
                                                       'Computer Scientist': 'Tech',
                                                       'Missionary': 'Religion',
                                                       'Pastor': 'Religion',
                                                       'Legal Support': 'Law',
                                                      'Wrestler': 'Pro Athlete',
                                                      'FBI': 'Law Enforcement',
                                                      'Truck Driver': 'Driver',
                                                      'Business Consultant': 'Business', 
                                                       'Mortgage Loan Officer': 'Banker', 
                                                       'Career Counselor': 'Therapist',
                                                       'Professor': 'Education',
                                                      'Principal': 'Education',
                                                      'Equity Trade Manager': 'Finance',
                                                       'Judge': 'Law',
                                                      'Bellhop': 'Doorman',
                                                      'Waitress': 'Waiter',
                                                      'Nonprofit Owner': 'Nonprofit',
                                                      'Shopping Center Director': 'Real Estate',
                                                      'Mechanical Bull Operator/Model': 'Model',
                                                      'Loan Manager': 'Banker',
                                                      'Civil Engineer': 'Engineer',
                                                      'Robotics': 'Engineer',
                                                      'Phlebotomist': 'Medical Professional',
                                                      'Dentist': 'Physician/Dentist',
                                                       'Technology Executive': 'Tech',
                                                      'Author': 'Writer',
                                                      'Journalist': 'Writer',
                                                      'Water Treatment Tech': 'Construction',
                                                       'Architect': 'Construction'})

In [24]:
dict(players['occupation'].value_counts())

{'Student': 56,
 'Entertainer': 43,
 'Sales': 34,
 'Business Owner': 32,
 'Lawyer': 29,
 'Law Enforcement': 23,
 'Pro Athlete': 22,
 'Model': 20,
 'Real Estate': 19,
 'Marketing': 19,
 'Bartender': 18,
 'Construction': 18,
 'Teacher': 17,
 'Fitness': 17,
 'Farmer': 16,
 'Firefighter': 15,
 'Physician/Dentist': 12,
 'Beautician': 12,
 'Waiter': 11,
 'Medical Professional': 11,
 'Coach': 11,
 'Veteran': 10,
 'Therapist': 9,
 'Tech': 8,
 'Engineer': 8,
 'Writer': 8,
 'Sport Instructor': 7,
 'Manager': 7,
 'Adventure Guide': 6,
 'Agriculture': 6,
 'Finance': 6,
 'Artist': 5,
 'Consultant': 5,
 'Driver': 5,
 'Poker Player': 5,
 'Mentor': 5,
 'Banker': 4,
 'Mechanic': 4,
 'Medical Student': 4,
 'Military': 4,
 'Motivational Speaker': 4,
 'Social Worker': 4,
 'Education': 4,
 'Chef': 4,
 'Homemaker': 4,
 'Animal Trainer': 4,
 'Religion': 4,
 'Barista': 3,
 'Designer': 3,
 'Chemist': 3,
 'Recruiter': 3,
 'Mailman': 3,
 'Photographer': 3,
 'Law': 3,
 'Military Spouse': 3,
 'Business': 3,
 'Pilot': 3,
 'Accountant': 3,
 'Flight Attendant': 2,
 'Producer': 2,
 'CEO': 2,
 'Mortician': 2,
 'Doorman': 2,
 'Nonprofit': 2,
 'Customer Service': 2,
 'Rocket Scientist': 2,
 'Advocate': 2,
 'Buyer': 2,
 'Videographer': 2,
 'Project Coordinator': 2,
 'Executive': 1,
 'Research Analyst': 1,
 'Housing Case Manager': 1,
 'Youth Director': 1,
 'Account Executive': 1,
 'Event Planner': 1,
 'Factory Worker': 1,
 'Snowboarder': 1,
 'Lifeguard': 1,
 'Program Director': 1,
 'Promoter': 1,
 'Astronaut': 1,
 'Talent Agent': 1,
 'Insurance': 1,
 'Account Manager': 1,
 'Assistant': 1,
 'Art Consultant': 1,
 'Administrative Officer': 1,
 'Merchandiser': 1,
 'Kitchen Staff': 1,
 'Risk Consultant': 1,
 'Sports President': 1,
 'Produce Clerk': 1,
 'Lunch Lady': 1,
 'Shoe Designer': 1,
 'Economics': 1,
 'Project Manager': 1,
 'Administrative Assistant': 1,
 'Hedge Fund Support': 1,
 'Steel Worker': 1,
 'Office Manager': 1,
 'Naturalist': 1,
 'Caretaker': 1,
 'Car Designer': 1,
 'Actuary': 1}

In [25]:
players['occupation'] = players['occupation'].replace({'Medical Student': 'Student', 
                                                       'Writer': 'Entertainer', 
                                                       'Teacher': 'Education',
                                                       'Farmer': 'Agriculture',
                                                       'Rocket Scientist': 'Engineer',
                                                       'Office Manager': 'Manager',
                                                       'Project Manager': 'Manager',
                                                       'Photographer': 'Artist',
                                                       'Videographer': 'Artist',
                                                       'Producer': 'Artist',
                                                       'Art Consultant': 'Artist',
                                                       'Shoe Designer': 'Designer',
                                                       'Executive': 'Business',
                                                       'Lawyer': 'Law',
                                                       'Account Manager': 'Accountant',
                                                       'Account Executive': 'Accountant',
                                                       'CEO': 'Business',
                                                       'Advocate': 'Mentor',
                                                       'Youth Director': 'Mentor',
                                                       'Program Director': 'Mentor',
                                                       'Steel Worker': 'Construction',
                                                       'Factory Worker': 'Construction',
                                                       'Sports President': 'Business Owner',
                                                       'Produce Clerk': 'Sales',
                                                       'Economics': 'Finance',
                                                       'Naturalist': 'Therapist',
                                                       'Snowboarder': 'Sport Instructor',
                                                       'Actuary': 'Insurance',
                                                       'Administrative Officer': 'Administration',
                                                       'Administrative Assistant': 'Administration',
                                                       'Assistant': 'Administration',
                                                       'Lunch Lady': 'Kitchen Staff',
                                                       'Chef': 'Kitchen Staff',
                                                       'Hedge Fund Support': 'Finance',
                                                       'Merchandiser': 'Buyer',
                                                       'Project Coordinator': 'Manager',
                                                       'Promoter': 'Event Planner'})

In [31]:
dict(players['occupation'].value_counts())

{'Student': 60,
 'Entertainer': 51,
 'Sales': 35,
 'Business Owner': 33,
 'Law': 32,
 'Law Enforcement': 23,
 'Pro Athlete': 22,
 'Agriculture': 22,
 'Education': 21,
 'Construction': 20,
 'Model': 20,
 'Marketing': 19,
 'Real Estate': 19,
 'Bartender': 18,
 'Fitness': 17,
 'Firefighter': 15,
 'Artist': 13,
 'Beautician': 12,
 'Physician/Dentist': 12,
 'Waiter': 11,
 'Coach': 11,
 'Manager': 11,
 'Medical Professional': 11,
 'Therapist': 10,
 'Engineer': 10,
 'Veteran': 10,
 'Mentor': 9,
 'Finance': 8,
 'Sport Instructor': 8,
 'Tech': 8,
 'Adventure Guide': 6,
 'Kitchen Staff': 6,
 'Business': 6,
 'Driver': 5,
 'Poker Player': 5,
 'Consultant': 5,
 'Accountant': 5,
 'Homemaker': 4,
 'Religion': 4,
 'Designer': 4,
 'Mechanic': 4,
 'Social Worker': 4,
 'Banker': 4,
 'Animal Trainer': 4,
 'Motivational Speaker': 4,
 'Military': 4,
 'Pilot': 3,
 'Administration': 3,
 'Mailman': 3,
 'Military Spouse': 3,
 'Chemist': 3,
 'Barista': 3,
 'Recruiter': 3,
 'Buyer': 3,
 'Nonprofit': 2,
 'Customer Service': 2,
 'Flight Attendant': 2,
 'Event Planner': 2,
 'Insurance': 2,
 'Mortician': 2,
 'Doorman': 2,
 'Astronaut': 1,
 'Risk Consultant': 1,
 'Research Analyst': 1,
 'Caretaker': 1,
 'Housing Case Manager': 1,
 'Car Designer': 1,
 'Talent Agent': 1,
 'Lifeguard': 1}

At this point I believe I have consolidated jobs that are very similar into smaller categories.

In [36]:
occupation_counts = dict(players['occupation'].value_counts())

In [46]:
fig = plt.figure(figsize=(15,8))
plt.(list(occupation_counts.keys()), list(occupation_counts.values()))

AttributeError: 'Figure' object has no attribute 'barh'